{% extends "client/layout.html" %}
{% block body %}
    <div id="breadcrumbs" class="container-fluid">
        <ul id="action_navs">
            <li class="action_nav_item"><a href="#" class="active">Hey</a></li>
            <li class="action_nav_item"><a href="#">You</a></li>
            <li class="action_nav_item"><a href="#">Sup</a></li>
        </ul>
        <span>Page Title</span>
    </div>
    <div class="clearfix"></div>
    {% if show_filter %}
        <div id="filters">
            <div id="paging">
		<span>
			1 RESULTS
		</span>
                <span>
			<i class="fa fa-chevron-left"></i> 1 OF 1 <i class="fa fa-chevron-right"></i>
		</span>
            </div>
            <div id="args">
                <span class="active">ONE</span>
                <span>TWO</span>
                <span>THREE</span>
                <span>FOUR</span>
                <span>FIVE</span>
                <span>SIX</span>
                <span>SEVEN</span>
            </div>
            <div id="search">
                <form action="{{ request.path }}" method="post">
                    <input type="text" name="search_q" placeholder="search" value="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if show_list %}
        <div class="table">
            <div class="thead tr">
                <span class="td">date</span>
                <span class="td">code</span>
                <span class="td">reference</span>
                <span class="td">address</span>
                <span class="td">state</span>
                <span class="td">country</span>
                <span class="td">continent</span>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tr" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
		<span class="td">
			MARCH 22, 2017
			<span class="caption">15:18</span>
		</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
			jakande, isolo
			<span class="caption">oke-afa, ejigbo.</span>
		</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <div class="action_hover_container" id="action_hover_container_1">
                    <ul>
                        <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if show_form %}
        <div class="form col-md-12">
            <div class="col-md-8">
                <h6>Form Name</h6>
                <form class="" action="" method="post">
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="">Device Name</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap half">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap half">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap third">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap quarter">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea name="name"></textarea>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group check">
                            <input type="checkbox" name="name" value="">
                            <label for="">
                                Check
                                <span>description text goes in here. thanks......</span>
                            </label>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group">
                            <label for="">Select</label>
                            <select class="" name="">
                                <option>--- Select One ---</option>
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                                <option>Four</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group actions pull-right">
                            <input type="submit" name="name" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <p>
                    Description Details
                </p>
            </div>
        </div>
    {% endif %}
    {% if show_billingbox %}
    <div id="billingBox">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                    <h4>You Owe</h4>
                    <h4>$3.5</h4>
                    <div>
                        <span class="btn btn-warning atele">Make Payment</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 10px;">
                <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                    <h4>Usage</h4>
                    <h4>$3.5</h4>
                    <div>
                        <span class="btn btn-warning atele">View Usage Details</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                <h4>Billing Alerts</h4>
                <div>
                    <div>
                        <input type="checkbox">
                        <p>
                            Send me an email anytime my monthly usage has exceeded the amount listed to the right
                        </p>
                    </div>
                    <div>
                        <input type="number" name="name" value="">
                        <button type="button" name="button"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                <h4>Payment Methods</h4>
                <p>Please enter your prefered payment method below. You can use credit card or prepay through PayPal</p>

                <div class="process">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li>
                            <a href="#pill-pr-0" role="tab" data-toggle="tab">
                                Debit Card
                            </a>
                        </li>
                        <li>
                            <a href="#pill-pr-1" role="tab" data-toggle="tab">
                                Bank Account
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content clear-style">
                        <div class="tab-pane active" id="pill-pr-0">
                            <div class="form col-md-12 section">
                                <div class="col-md-8">
                                    <p>
                                        Card will be charged monthly for resources used. <br>
                                        All major credit cards accepted.
                                    </p>
                                    <form class="" action="" method="post">
                                        <label for="">Enter Card Details</label>
                                        <div class="wrap third">
                                            <div class="form-group">
                                                <input type="text" name="name" value=""
                                                       placeholder="1234 1234 1234 1234" style="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="MM / YY" style="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="CVV" style="">
                                            </div>
                                        </div>
                                        <label for="">Billing Address</label>
                                        <div class="wrap half">
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="First Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="wrap full">
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="Street Address">
                                            </div>
                                        </div>
                                        <div class="wrap third contact">
                                            <div class="form-group">
                                                <input type="text" name="name" value="City">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="name" value="State/Region">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="name" value="Postal Code">
                                            </div>
                                        </div>
                                        <div class="wrap half">
                                            <div class="form-group">
                                                <select class="" name="">
                                                    <option>--- Select One ---</option>
                                                    <option>One</option>
                                                    <option>Two</option>
                                                    <option>Three</option>
                                                    <option>Four</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="Phone Number">
                                            </div>
                                        </div>
                                        <div class="wrap">
                                            <div class="form-group actions" style="width: 100% !important;">
                                                <input type="submit" name="name" value="Add Debit Card"
                                                       class="btn btn-warning atele" style="width: 100%;">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <h6><strong>Manage Cards</strong></h6>
                                    <div class="card_details">
                                        <span>x</span>
                                        <p>
                                            <strong>Olukunle Ogunmokun xxxx-2419</strong>
                                            <small> Expires 09/2018 • Added on 09/15/2016</small>
                                        </p>
                                    </div>
                                    <div class="card_details">
                                        <span>x</span>
                                        <p>
                                            <strong>Ademola Oladipo xxxx-9949</strong>
                                            <small> Expires 12/2017 • Added on 09/15/2015</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="pill-pr-1">
                            <div class="col-md-12 section">
                                Bank Account
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endif %}
{% endblock body %}
