<ui-view>
    <div id="filters" ng-show="data.objects.length > 0">
        <div id="paging">
            <span>
              [[ data.total ]] RESULTS
            </span>
            <span>
              <i class="fa fa-chevron-left"></i> [[ data.page ]] OF [[ data.pages ]] <i class="fa fa-chevron-right"></i>
            </span>
            <a ui-sref="devices_new({id: installation.id})" class="btn-sm btn-success"><i
                    class="fa fa-gears" aria-hidden="true"></i>&nbsp;ADD NEW
            </a>
        </div>
        <div id="args">
            <span ng-repeat="option in data.filter_options" ng-bind="option"></span>
        </div>
        <div id="search">
            <span><i class="fa fa-search"></i></span>
            <input type="text" name="search_q" placeholder="search">
        </div>
    </div>
    <div class="table" ng-show="data.objects.length > 0">
        <div class="thead tr">
            <span class="td">Code</span>
            <span class="td">Product</span>
            <span class="td"></span>
        </div>
        <div class="tr" ng-repeat="obj in data.objects" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
            <span class="td">
                <span>[[ obj.code ]]</span><br>
                <small>[[ obj.date_created | date ]]</small>
            </span>
            <span class="td">[[ obj.product.name ]]<br>
                <small>[[ obj.product.code ]]</small>
            </span>
{#            <span class="td center" ng-show="obj.is_active"><button class="btn-xs btn-danger">DEACTIVATE</button></span>#}
{#            <span class="td center" ng-hide="obj.is_active"><button class="btn-xs btn-success">ACTIVATE</button></span>#}
            <div class="action_hover_container" id="action_hover_container_1">
                <ul>
                    <li><a ui-sref="installation_update({id: obj.id})" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
{#                    <li><a ng-click="deleteObj('Device', obj.id)" data-toggle="tooltip" title="Delete" ><i class="fa fa-trash-o"></i></a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="tr" id="empty_list_box" ng-hide="data.objects.length > 0">
        <h3 style="text-align: center;">
            <a ui-sref="customer_devices_new({id: customer.id})" style="font-size: 100px; color: lightgrey;">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <span>request new device</span>
            </a>
        </h3>
    </div>
</ui-view>