<ui-view>
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">
                <li class="action_nav_item"><a ui-sref="installation_details({id: installation.id})"
               >
                &nbsp;OVERVIEW</a></li>
                <li class="action_nav_item"><a ui-sref="installation_requests({id: installation.id})" ng-show="device_requests.length > 0"
               >
                <sup class="badge" ng-bind="device_requests.length"></sup>&nbsp;REQUESTS</a></li>
                <li class="action_nav_item"><a class="active" ui-sref="installation_devices({id: installation.id})" ><i
                    class="fa fa-gears" aria-hidden="true"></i>&nbsp;DEVICES</a></li>
                <li class="action_nav_item"><a ui-sref="devices_new({id: installation.id})" ><i
                    class="fa fa-plus" aria-hidden="true"></i>&nbsp;ADD DEVICE
            </a></li>
                <li class="action_nav_item" ><a ui-sref="installation_alerts({id: installation.id})"><i
                    class="fa fa-bell-o"
                    aria-hidden="true"></i>&nbsp;ALERTS</a></li>
                <li class="action_nav_item" ><a ui-sref="alerts_new({id: installation.id})"><i
                    class="fa fa-plus"
                    aria-hidden="true"></i> ADD ALERTS</a></li>
                <li class="action_nav_item"><a ui-sref="installation_reports({id: installation.id})"><i
                    class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;REPORTS</a></li>
            </ul>
            <span ng-bind="installation.code"></span>
        </div>
    <div id="filters" ng-show="data.objects.length > 0">

    <div id="paging">
            <span>
              [[ data.total ]] RESULTS
            </span>
                <span>
              <i class="fa fa-chevron-left"></i> [[ data.page ]] OF [[ data.pages ]] <i class="fa fa-chevron-right"></i>
            </span>
            </div>
        <div id="args">
            <span ng-repeat="option in data.filter_options" ng-bind="option"></span>
        </div>
        <div id="search">
                <form action="{{ request.path }}" method="get">
                    {% if view_q %}
                    <input type="hidden" name="view" value="{{ view_q }}">
                    {% endif %}
                    <input type="text" name="q" placeholder="{% if search_place_holder %}{{ search_place_holder }}{% else %}Search{% endif %}" value="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
    </div>
    <div class="table" ng-show="data.objects.length > 0">
        <div class="thead tr">
            <span class="td">Code</span>
            <span class="td">Product</span>
            <span class="td"></span>
        </div>
        <div class="tr" ng-repeat="obj in data.objects" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
            <span class="td">
                <span>[[ obj.code ]]</span><br>
                <small>[[ obj.date_created | date ]]</small>
            </span>
            <span class="td">[[ obj.product.name ]]<br>
                <small>[[ obj.product.code ]]</small>
            </span>
{#            <span class="td center" ng-show="obj.is_active"><button class="btn-xs btn-danger">DEACTIVATE</button></span>#}
{#            <span class="td center" ng-hide="obj.is_active"><button class="btn-xs btn-success">ACTIVATE</button></span>#}
            <div class="action_hover_container" id="action_hover_container_1">
                <ul>
                    <li><a ui-sref="installation_update({id: obj.id})" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
{#                    <li><a ng-click="deleteObj('Device', obj.id)" data-toggle="tooltip" title="Delete" ><i class="fa fa-trash-o"></i></a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="tr" id="empty_list_box" ng-hide="data.objects.length > 0">
        <h3 style="text-align: center;">
            <a ui-sref="devices_new({id: installation.id})" style="font-size: 100px; color: lightgrey;">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <span>Configure new device</span>
            </a>
        </h3>
    </div>
</ui-view>