<ui-view ng-init="init_controller()">
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">

            </ul>
            <span>networks</span>
        </div>
    <div id="filters" ng-show="data.objects.length > 0">
        <div id="paging">
            <span>
                [[ data.total ]] RESULTS
            </span>
            <span ng-show="data.pages > 0">
                <i class="fa fa-chevron-left"></i> [[ data.page ]] OF [[ data.pages ]] <i class="fa fa-chevron-right"></i>
            </span>
        </div>
        <div id="args">
            <span ng-repeat="option in data.filter_options" ng-bind="option"></span>
        </div>
        <div id="search">
                <form action="{{ request.path }}" method="get">
                    {% if view_q %}
                    <input type="hidden" name="view" value="{{ view_q }}">
                    {% endif %}
                    <input type="text" name="q" placeholder="{% if search_place_holder %}{{ search_place_holder }}{% else %}Search{% endif %}" value="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
    </div>
    <div class="table" ng-show="data.objects.length > 0">
        <div class="thead tr">
            <span class="td">date</span>
            <span class="td">code</span>
{#            <span class="td">location</span>#}
        </div>
        <div class="tr" ng-repeat="obj in data.objects" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
            <span class="td">[[ obj.date_created | date ]]</span>
            <span class="td">
                <a ui-sref="network_details({id: obj.id})">[[ obj.code ]]</a><br>
            </span>
{#            <span class="td">[[ obj.location.line1 ]], [[obj.location.city.name]]</span>#}
            <div class="action_hover_container" id="action_hover_container_1">
                <ul>
                    <li><a href="#" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tr" id="empty_list_box" ng-hide="data.objects.length > 0">
        <h3 style="text-align: center;">
            <a ui-sref="networks_new" style="font-size: 100px; color: lightgrey;">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <span>Request mesh device</span>
            </a>
        </h3>
    </div>
</ui-view>
