<ui-view>
<div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">

            </ul>
            <span>installations</span>
        </div>
    <div id="filters" ng-show="data.objects.length > 0">
        <div id="paging">
            <span>
              [[ data.total ]] RESULTS
            </span>
            <span>
              <i class="fa fa-chevron-left"></i> [[ data.page ]] OF [[ data.pages ]] <i class="fa fa-chevron-right"></i>
            </span>
        </div>
{#        <div id="args">#}
{#            <span class="active">ONE</span>#}
{#            <span>TWO</span>#}
{#            <span>THREE</span>#}
{#            <span>FOUR</span>#}
{#            <span>FIVE</span>#}
{#            <span>SIX</span>#}
{#            <span>SEVEN</span>#}
{#        </div>#}
        <div id="search">
                <form action="{{ request.path }}" method="get">
                    {% if view_q %}
                    <input type="hidden" name="view" value="{{ view_q }}">
                    {% endif %}
                    <input type="text" name="q" placeholder="{% if search_place_holder %}{{ search_place_holder }}{% else %}Search{% endif %}" value="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
    </div>
    <div class="table" ng-show="data.objects.length > 0">
        <div class="thead tr">
            <span class="td">Code</span>
            <span class="td">Name</span>
            <span class="td">Model Number</span>
            <span class="td">capacity</span>
            <span class="td">measurement_index</span>
        </div>
        <div class="tr" ng-repeat="obj in data.objects" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
            <span class="td">
                <a ui-sref="installation_details({id: obj.id})">[[ obj.code ]]</a><br>
                <small>[[ obj.date_created | date ]]</small>
            </span>
            <span class="td">[[ obj.title ]]</span>
            <span class="td">[[obj.model_number]]</span>
            <span class="td">
                <p ng-show="obj.capacity">[[obj.capacity]]</p>
                <p ng-hide="obj.capacity">---</p>
            </span>
            <span class="td">
                <p ng-show="obj.measurement_index">[[obj.measurement_index]]</p>
                <p ng-hide="obj.measurement_index">---</p>
            </span>
            <div class="action_hover_container" id="action_hover_container_1">
                <ul>
                    <li><a ui-sref="installation_devices({id: obj.id})" data-toggle="tooltip" title="Devices"><i class="fa fa-gears"></i></a></li>
                    <li><a ui-sref="installation_update({id: obj.id})" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                    <li><a ng-click="deleteObject(obj)" data-toggle="tooltip" title="Delete" ><i class="fa fa-trash-o"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tr" id="empty_list_box" ng-hide="data.objects.length > 0">
        <h3 style="text-align: center;">
            <a ui-sref="installations_new" style="font-size: 100px; color: lightgrey;">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <span>Add installation</span>
            </a>
        </h3>
    </div>
</ui-view>