<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atele | {{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Atele is an Intelligent Feedback Systems that covers Power sector">
    <meta name="author" content="Atele">
    <meta name="keyword"
          content="Atele, Intelligent Feedback System, Power Management, Monitoring, Remote Surveillance Service, Asset Tracking Service, Smart Metering, Process Monitoring">


    <link rel="shortcut icon" href="{{ url_for('static', filename='images/small_new_fav.png') }}" type="image/x-icon">
    {% assets "admin-global-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <script src="{{ url_for('static', filename='js/admin/chart-master/Chart.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container">
    <header class="header black-bg">

        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="/" class="logo">
            <img class="lg" src="{{ url_for('static', filename='images/small_rsz_atele_logo.png') }}"/>
            <!-- <img class="logo_text" src="{{ url_for('static', filename='images/logo_text.png') }}"/> -->
        </a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">

            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{{ url_for('.logout') }}">Logout</a></li>
            </ul>
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                {% if setting.logo %}
                    <p class="centered"><a href="#"><img src="{{ setting.logo }}" class="img-circle" width="60"></a></p>
                {% endif %}
                <h5 class="centered">{{ current_client.name }}</h5>
                {% for link in navigation %}
                    <li class="sub-menu">
                        <a href="{% if link.sub_links %}javascript:;{% else %}{{ link.url }}{% endif %}"
                           class="{% if request.path == url_for('.'+link.code) %}active{% endif %}">
                            {% if link.is_img %}
                                <i><img src="{{ link.icon }}" alt=""></i>
                            {% else %}
                                <i class="fa {{ link.icon }}"></i>
                            {% endif %}
                            <span>
                            {{ link.name }}
                                {% if link.has_badge %}
                                    <span class="badge bg-theme">5</span>
                                {% endif %}
                          </span>
                        </a>
{#                        {% if link.sub_links %}#}
{#                            <ul class="sub">#}
{#                                {% for l in link.sub_links %}#}
{#                                    <li>#}
{#                                        <a href="{{ l.url }}">{{ l.name }}</a>#}
{#                                        {% if l.has_badge %}#}
{#                                            <span class="badge bg-theme">5</span>#}
{#                                        {% endif %}#}
{#                                    </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% endif %}#}
                    </li>
                {% endfor %}
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <section id="main-content">
        <section class="wrapper">

            <div class="row mt">
                {% block body %}
                {% endblock body %}
            </div>
        </section>
    </section>
    {% block footer %}
    <footer class="site-footer">
        <div class="text-center">
            Copyright © {{ current_year }} by <a href="{{ url_for('.home') }}">Atele</a>. All Rights Reserved
            <a href="/#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    {% endblock %}
</section>

{% assets "admin-global-js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript">
    $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Atele!',
            // (string | mandatory) the text inside the notification
            text: 'We provide 24/7 round the clock support for <a href="https://support.atele.org" target="_blank" style="color:#ffd777">you</a>; our esteemed client.',
            // (string | optional) the image to display on the left
            image: "{{url_for('static', filename='images/logo.png')}}",
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
    });
</script>

<script type="application/javascript">
    $(document).ready(function () {
        $("#date-popover").popover({html: true, trigger: "manual"});
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
            $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
            action: function () {
                return myDateFunction(this.id, false);
            },
            action_nav: function () {
                return myNavFunction(this.id);
            },
            ajax: {
                url: "show_data.php?action=1",
                modal: true
            },
            legend: [
                {type: "text", label: "Special event", badge: "00"},
                {type: "block", label: "Regular event"}
            ]
        });
    });

    function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>


</body>
</html>
