{% extends "client/layout.html" %}
{% block subnav %}
    <nav id="subnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a  href="{{ url_for('.accounts') }}">Accounts</a></li>
                    <li><a class="active" href="{{ url_for('.access_groups') }}">Access Groups</a></li>
{#                    <li><a href="#">Customers</a></li>#}
                </ul>
            </div>
        </div>
    </nav>
{% endblock subnav %}
{% block body %}
    {% block breadcrumbs %}
        <div id="breadcrumbs" class="container-fluid">
            <ul id="action_navs">
                <li class="action_nav_item"><a class="active" href="{{ url_for('.access_groups') }}">Access Groups</a></li>
                <li class="action_nav_item"><a href="{{ url_for('.new_access_group') }}"><i class="fa fa-plus"></i> Add
                    Access Group</a></li>
            </ul>
            <span>Access Groups</span>
        </div>
    {% endblock %}
    <div class="clearfix"></div>
    {% block inner_body %}
        {% if results.total > 0 %}
            <div id="filters">
                {% include "client/general/snippets/pagination.html" %}
                {% include "client/general/snippets/list_view_filters.html" %}
                {% include "client/general/snippets/list_search.html" %}
            </div>
            <div class="table">
                <div class="thead tr">
                    <span class="td" style="width: 105px;">date</span>
                    <span class="td">name</span>
                    <span class="td">description</span>
                </div>
                {% for obj in results.items %}
                    <div class="tr" onMouseOver="listItemHover({{ loop.index }})"
                         onMouseOut="listItemHoverOut({{ loop.index }})">
            <span class="td">
                {{ obj.date_created.strftime('%b %d, %Y %H:%m %p') }}
            </span>
                        <span class="td">{{ obj.name }}</span>
                        <span class="td">{{ obj.description }}</span>
                        <div class="action_hover_container" id="action_hover_container_{{ loop.index }}">
                            <ul>
                                <li><a href="{{ url_for('.update_access_group', id=obj.id) }}" data-toggle="tooltip"
                                       title="Edit"><i class="fa fa-edit"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% if length(request_args)>0 %}
                <div id="filters">
                    {% include "client/general/snippets/pagination.html" %}
                    {% include "client/general/snippets/list_view_filters.html" %}
                    {% include "client/general/snippets/list_search.html" %}
                </div>
                <div class="table">
                    <div class="thead tr">
                        <span class="td" style="width: 105px;">date</span>
                        <span class="td">name</span>
                        <span class="td">description</span>
                    </div>

                </div>
                <div class="no_search_results">
                    No Results found
                </div>
            {% else %}
                <div class="tr" id="empty_list_box">
                    <h3 style="text-align: center; margin-top:50px; margin-left:550px">
                        <a href="{{ url_for('.new_access_group') }}" style="font-size: 100px; color: lightgrey;">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </a><br>
                        No access group setup yet
                    </h3>
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}