{% extends "client/layout.html" %}
{% block subnav %}
    <nav id="subnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a class="active" href="{{ url_for('.accounts') }}">Users</a></li>
                    <li><a href="{{ url_for('.access_groups') }}">Access Groups</a></li>
{#                    <li><a href="#">Customers</a></li>#}
                </ul>
            </div>
        </div>
    </nav>
{% endblock subnav %}
{% block body %}
    {% block breadcrumbs %}
        <div id="breadcrumbs" class="container-fluid">
            <ul id="action_navs">
                <li class="action_nav_item"><a class="active" href="{{ url_for('.accounts') }}">Users</a></li>
                <li class="action_nav_item"><a href="{{ url_for('.new_account') }}"><i class="fa fa-plus"></i> Add
                    User</a></li>
            </ul>
            <span>Users</span>
        </div>
    {% endblock %}
    <div class="clearfix"></div>
    {% block inner_body %}
        {% if results.total > 0 %}
            <div id="filters">
                {% include "client/general/snippets/pagination.html" %}
                {% include "client/general/snippets/list_view_filters.html" %}
                {% include "client/general/snippets/list_search.html" %}
            </div>
            <div class="table">
                <div class="thead tr">
                    <span class="td" style="width: 105px;">date</span>
                    <span class="td">Name</span>
                    <span class="td">Location</span>
                </div>
                {% for account in results.items %}
                    <div class="tr" onMouseOver="listItemHover({{ loop.index }})"
                         onMouseOut="listItemHoverOut({{ loop.index }})">
            <span class="td">
              {{ account.date_created.strftime('%b %d, %Y %H:%m %p') }}
              <span class="caption"><a href="{{ url_for('.account_details', obj_id=account.id) }}">View</a></span>
            </span>
                        <span class="td">{{ account.address.first_name }} {{ account.address.last_name }}</span>
                        <span class="td">{% if account.address.city.name %}{{ account.address.city.name }}
                            ,{% endif %} {{ account.address.state.name }}, {{ account.address.country.name }}</span>
                        <div class="action_hover_container" id="action_hover_container_{{ loop.index }}">
                            <ul>
                                <li><a href="{{ url_for('.account_details', obj_id=account.id) }}" data-toggle="tooltip"
                                       data-placement="top" title="Edit" class="dropbtn"><i class="fa fa-edit"></i></a>
                                </li>
                                <li><a data-toggle="tooltip" data-placement="top" title="Delete" class="dropbtn"><i
                                        class="fa fa-trash-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% if length(request_args)>0 %}
                <div id="filters">
                    {% include "client/general/snippets/pagination.html" %}
                    {% include "client/general/snippets/list_view_filters.html" %}
                    {% include "client/general/snippets/list_search.html" %}
                </div>
                <div class="table">
                    <div class="thead tr">
                        <span class="td" style="width: 105px;">date</span>
                        <span class="td">Name</span>
                        <span class="td">Location</span>
                    </div>

                </div>
                <div class="no_search_results">
                    No Results found
                </div>
            {% else %}
                <div class="tr" id="empty_list_box">
                    <h3 style="text-align: center; margin-top:50px; margin-left:550px">
                        <a href="{{ url_for('.new_account') }}" style="font-size: 100px; color: lightgrey;">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </a><br>
                        No accounts setup yet
                    </h3>
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}
{% block page_js %}
    <script type="text/javascript">
        $('#page-content-wrapper').removeClass('no_sub_lnk');
        $(document).ready(function () {
            changeCities();
        });

        function changeCities() {
            var selected = $('#state option:selected').val();
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/fetch/state_cities/",
                data: selected,
                dataType: 'json',
                beforeSend: function () {
                    $("#city").empty();
                },
                success: function (data) {
                    data.map(function (i) {
                        $("#city").append("<option value=\"" + i.id + "\">" + i.name + "</option>");
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            return false;
        }

        $('#state').change(function () {
            changeCities();
        })
    </script>
{% endblock page_js %}
