{% extends "client/general/details/station.html" %}
{% block inner_body %}
    {% if workers|length > 0 %}
        <div id="filters">
            <div id="paging">
            <span>
              {{ workers|length }} RESULTS
            </span>
            </div>
        </div>
        <div class="table">
            <div class="thead tr">
                <span class="td">date</span>
                <span class="td">name</span>
                <span class="td">contact information</span>
            </div>
            {% for worker in workers %}
                <div class="tr" onMouseOver="listItemHover({{ loop.index }})" onMouseOut="listItemHoverOut({{ loop.index }})">
                    <span class="td">
                        {{ worker.date_created.strftime('%Y-%m-%d %H:%M:%S' ) }}
                    </span>
                    <span class="td">{{ worker.address.full_name }}</span>
                    <span class="td">
                        {{ worker.email }} {% if worker.phone %} | {{ worker.phone }}{% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="tr" id="empty_list_box">
            <h3 style="text-align: center; margin-top:50px; margin-left:550px">
                <span style="color: lightgrey;"></span><br>
                No workers assigned here yet
            </h3>
        </div>
    {% endif %}
{% endblock %}