{% extends "new_admin/dashboards/layout.html" %}
{% block body %}
<div class="container-fluid">
	<div class="row m-b-2">
		<div class="col-lg-3">
			<div class="card card-block">
				<h4 class="card-title">Active Users</h4>
				<div id="users-device-doughnut-chart"></div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card card-block">
				<h4 class="card-title">Medium</h4>
				<div id="users-medium-pie-chart"></div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card card-block">
				<h4 class="card-title">Categories</h4>
				<div id="users-category-pie-chart"></div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card card-block">
				<h4 class="card-title">Assets</h4>
				<div id="users-device-doughnut-chart"></div>
			</div>
		</div>
	</div>
	<!-- /1st row -->

	<!-- 2nd row -->
	<div class="row">
		<div class="col-lg-6">
			<div class="card card-block">
				<h4 class="card-title m-b-2">Page Views Per Minute</h4>
				<div id="page-views-per-minute-column-chart"></div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-block">
				<h4 class="card-title m-b-2">Page Views Per Second</h4>
				<div id="page-views-per-second-column-chart"></div>
			</div>
		</div>
	</div>
	<!-- /2nd row -->

	<!-- 3rd row -->
	<div class="row">
		<div class="col-md-12">
			<div class="card card-block">
				<h4 class="card-title">Location</h4>
				<div id="users-state-bar-chart"></div>
			</div>
		</div>
	</div>
	<!-- /3rd row -->

	<!-- 1st row -->
	<div class="row m-b-1">
		<div class="col-md-12">
			<div class="card card-block">
				<h4 class="card-title m-b-2">Revenue - 2015 <span class="tag m-l-1" id="revenue-tag">$2,781,450</span></h4>
				<div id="revenue-spline-area-chart"></div>
			</div>
		</div>
	</div>
	<!-- /1st row -->


	<!-- 2nd row -->
	<div class="row m-b-1">
		<div class="col-md-12">
			<div class="card card-block">
				<h4 class="card-title m-b-2">Revenue By Category</h4>
				<span class="tag custom-tag hidden-sm-down">Try clicking on any segment</span>
				<div class="row">
					<div class="col-md-4">
						<div id="annual-revenue-by-category-pie-chart"></div>
					</div>
					<div class="col-md-8 hidden-sm-down">
						<div id="monthly-revenue-by-category-column-chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /2nd row -->

	<!-- 3rd row -->
	<!-- <div class="row">
		<div class="col-xl-6">
			<div class="card card-block">
				<h4 class="card-title m-b-2">
					<span id="visitors-chart-heading">New vs Returning Visitors </span>
					<button class="btn pull-right invisible" type="button" id="visitors-chart-back-button"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i> Back</button>
				</h4>
				<span class="tag custom-tag" id="visitors-chart-tag">Try clicking on any segment</span>
				<div id="visitors-chart"></div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="card card-block">
				<h4 class="card-title m-b-2">Users</h4>
				<div id="users-spline-chart"></div>
			</div>
		</div>
	</div> -->
	<!-- /3rd row -->

</div>
{% endblock body %}
