{% extends "email/layout.html" %}
{% block header_ext %}
    <table cellspacing="0" cellpadding="0" class="force-full-width" bgcolor="#fff">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213"
                     src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">Good news!</span><br>
                We would like to inform you that your order has shipped! More details below.
                <br>
                <br>
                <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                    <a href="https://atele.org/"
                       style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">My
                        Account</a>
                    <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                </div>
            </td>
        </tr>
    </table>
{% endblock header_ext %}
{% block body %}
    <table class="force-full-width" cellspacing="0" cellpadding="30" bgcolor="#ebebeb">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            <span class="header">Bob Erlicious</span> <br>
                            123 Bobby Drive <br>
                            Victoria, BC <br>
                            V9A 8P8 <br><br>
                        </td>
                        <td style="text-align:right; vertical-align:top;">
                            <span class="header">Invoice: 12345</span><br>
                            June 2, 2014 <br><br>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td style="background-color:#dedede; padding: 5px; font-weight:bold; ">
                            Delivery Date
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#f3f3f3; padding: 10px 5px;">
                            June 3rd, 2014
                        </td>
                    <tr>
                    <tr>
                        <td>
                            <br>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
															<w:anchorlock/>
															<center>
														<![endif]-->
                                <a href="https://atele.org/"
                                   style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Track
                                    order</a>
                                <!--[if mso]>
																</center>
															</v:rect>
														<![endif]-->
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}