{% extends "client/auth/login.html" %}
{% block body %}
    <a href="https://atele.org"><img class="lg"
                                     src="{{ url_for('static', filename='images/atele_logo.png') }}"
                                     style="width:230px;margin-bottom:20px;margin-left:22%;"/></a>

    <div style="margin-bottom:20px;padding:0 20px;">
        <h4 style="text-align: left;margin-bottom: 10px;color:#FF6500;text-transform: uppercase;font-weight: 600;font-size:20px;">
            forgot password</h4>
        <p>
            Enter the email address to your registered account. We'll send you an email with a link to reset your password.
        </p>
        {% if login_error %}
            <span style="color:red">{{ login_error }}</span>
        {% endif %}
    </div>
    <form class="" action="{{ request.path }}" method="post" style="padding:0 20px;">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" placeholder="Username or Email Address" name="username" id="username" value="{{ username }}"
                   required>
        </div>
        <input type="submit" value="Submit" style="float:right;padding:5px 40px;">
        <a id="prev_pg" href="{{ url_for('.login') }}" style="float:left;padding:5px 40px;">Cancel</a>
    </form>
    <div class="" style="padding:0 20px;">
    </div>
{% endblock body %}