<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Atele | Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/small_new_fav.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_auth/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/admin_auth/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin_auth/bootstrap.min.js') }}"></script>
    <style media="screen">
        body {
            font-family: "Karla", "Helvetica Neue", sans-serif;
            font-size: 16px;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            padding: 5px 7px;
        }

        input {
            border: 1px solid #bfbfbf;
            background: #fff;
        }
        input[type="text"]:focus, input[type="password"]:focus{
            outline: none;
            border: 1px solid #333;
        }
        input[type="submit"]:focus{
            outline:none;
        }
        input[type="submit"]:hover {
            background: #FC6E06;
            color: #fff;
        }

        label {
            display: block;
            text-transform: uppercase;
            font-size: 15px;
        }

        #forgot {
            line-height: 33px;
        }

        #forgot a {
            color: #FC6E06;
            text-decoration: none;
        }

        #forgot a:hover {
            color: #dd4f05;
        }
        #prev_pg{
            border: 1px solid #bfbfbf;
            background: #ebebeb;
            text-decoration: none;
            color: inherit;
        }
        #prev_pg:hover {
            background: #FC6E06;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="">
    {% cache 1200, "client", "login", "big-image", "july-1" %}
        <div class="col-md-8"
             style="background:linear-gradient(rgba(193,80,0,0.4),rgba(57,66,69,0.9)), url('/static/images/structure.jpg');background-position:center bottom;height: 100vh;border-right:2px solid rgba(57,66,69,0.8);position:fixed;">
            <div class=""
                 style="margin-top: 40vh;color: #fff;font-size: 18px;text-align:center;font-weight: 600;">
                <h1>Atele</h1>
                An information technology company that develops Internet of things solutions<br>
                designed to organize various capabilities and needs of stakeholders in different sectors<br>
                to operate all the parts of their systems and structures as efficiently as possible.
            </div>
        </div>
    {% endcache %}
    <div class="col-md-4" style="padding: 80px 0px;float:right;box-shadow: -1px -16px 14px #333;">
        <div class="" style="width:90%;margin:auto;padding:10px;">
            {% block body %}
                <a href="https://atele.org"><img class="lg"
                                                 src="{{ url_for('static', filename='images/atele_logo.png') }}"
                                                 style="width:230px;margin-bottom:20px;margin-left:22%;"/></a>

                <div style="margin-bottom:20px;padding:0 20px;">
                    <h4 style="text-align: left;margin-bottom: 10px;color:#FF6500;text-transform: uppercase;font-weight: 600;font-size:20px;">
                        Sign in</h4>
                    <p>
                        Enter your account details to access our secure, effective array of services.
                        {#            For security purposes, this application requires you to sign in again.#}
                    </p>
                    {% if login_error %}
                        <span style="color:red">{{ login_error }}</span>
                    {% endif %}
                </div>
                <form class="" action="{{ url_for('.login', next=next_url) }}" method="post" style="padding:0 20px;">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" placeholder="username" name="username" id="username" value="{{ username }}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" placeholder="password" name="password" id="password"
                               value="{{ password }}"
                               required>
                    </div>
                    <input type="submit" value="Login" style="float:right;padding:5px 40px;">
                    <small id="forgot">Forgot Password? <a href="{{ url_for('.forgot_password') }}">Click Here</a></small>
                </form>
                <div class="" style="padding:0 20px;">
                    {#								<button data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-default">#}
                    {#										Demo Details#}
                    {#								</button>#}
                    {#								<a href="{{ url_for('.register') }}" class="btn btn-sm btn-primary">Try Free</a>#}
                </div>
            {% endblock body %}
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Demo Accounts</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li style="list-style: none"><b>Atele</b></li>
                    <li>
                        <small>Username</small>
                        - <strong><em>{{ config.DEMO_EMAIL }}</em></strong></li>
                    <li>
                        <small>Password</small>
                        - <strong><em>{{ config.DEMO_PASSWORD }}</em></strong></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>
