{% extends "client/info_layout.html" %}
{% block body %}
    <div id="banner" class="banner clearfix">
        <div class="slideshow">
        </div>
    </div>
    <div id="page-start"></div>

    <section class="clearfix pv-30 mt-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Intelligent <strong>Remote</strong> Systems</h3>
                    <div class="separator"></div>
                    <!-- pills start -->
                    <!-- ================ -->
                    <div class="process">
                        <!-- Nav tabs -->
{#                        <ul class="nav nav-pills" role="tablist">#}
{#                            <li class="active"><a href="#pill-pr-1" role="tab" data-toggle="tab"#}
{#                                                  title="Basic Information"><i class="fa fa-dot-circle-o pr-5"></i>#}
{#                                Client Information</a></li>#}
{#                            <li><a href="#pill-pr-2" role="tab" data-toggle="tab" title="Contact Information"><i#}
{#                                    class="fa fa-dotfa fa-drivers-license-o pr-5"></i> Administrator Information</a>#}
{#                            </li>#}
{#                                                        <li><a href="#pill-pr-3" role="tab" data-toggle="tab" title="Payment Information"><i#}
{#                                                                class="fa fa-money pr-5"></i> Payment Information</a></li>#}
{#                            <li><a href="#pill-pr-4" role="tab" data-toggle="tab" title="Subscriptions"><i#}
{#                                    class="fa fa-dot-circle-o pr-5"></i> Subscriptions</a></li>#}
{#                        </ul>#}
                        <!-- Tab panes -->
                        <form action="{{ request.path }}" method="post" name="registration">
                            <div class="tab-content clear-style">
                                <div class="tab-pane active" id="pill-pr-1">
                                    <div class="row section light-gray-bg">
                                        <h5 class="title" style="margin: 10px">Client Information</h5>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label for="client_name" class="control-label">Company Name</label>
                                                    <input type="text" class="form-control" name="client_name"
                                                           placeholder="e.g. Electric" required>
                                                    <i class="fa fa-building-o form-control-feedback"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label for="client_address" class="control-label">Office Location</label>
                                                    <input name="client_address" type="text" class="form-control"
                                                           placeholder="e.g. Eiffel Towers, London" required>
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Country</label>
                                                    {{form.client_country_id(class="form-control chosen")}}
                                                    <i class="form-control-feedback"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">City</label>
                                                    {{form.client_city_id(class="form-control chosen")}}
                                                    <i class="form-control-feedback"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">State</label>
                                                    {{form.client_state_id(class="form-control chosen fetch_client_cities")}}
                                                    <i class="form-control-feedback"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Custom Sub-Domain</label>
                                                    <input type="text" name="sub_domain" class="form-control"
                                                           placeholder="e.g. electric">
                                                    <i class="fa fa-globe form-control-feedback"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Website Url</label>
                                                    <input type="text" name="url" class="form-control"
                                                           placeholder="e.g. http://atele.org">
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row section light-gray-bg">
                                        <h5 class="title" style="margin: 10px">Administrator Information</h5>
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label for="first_name" class="control-label">First Name</label>
                                                    <input type="text" class="form-control" name="first_name"
                                                           placeholder="e.g. James" required>
                                                    <i class="fa fa-user form-control-feedback"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Email</label>
                                                    <input type="email" class="form-control" name="email"
                                                           placeholder="e.g. admin@electric.com" required>
                                                    <i class="fa fa-user form-control-feedback"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label for="last_name" class="control-label">Last Name</label>
                                                    <input type="text" class="form-control" name="last_name"
                                                           placeholder="e.g. Cook" required>
                                                    <i class="fa fa-user form-control-feedback"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" name="password" class="form-control"
                                                           required>
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Street Location</label>
                                                    <input type="text" class="form-control" name="address"
                                                           placeholder="e.g. 14, Ereko street, Fadeyi">
                                                    <i class="fa fa-user form-control-feedback"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Country</label>
                                                    {{form.country_id(class="form-control chosen")}}
                                                    <i class="form-control-feedback"></i>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">State</label>
                                                    {{form.state_id(class="form-control chosen fetch_cities")}}
                                                    <i class="form-control-feedback"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">City</label>
                                                    {{form.city_id(class="form-control chosen")}}
                                                    <i class="form-control-feedback"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row section light-gray-bg">
                                        <h5 class="title" style="margin: 10px">Services subscriptions</h5>
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label">Subscription</label>
                                                <!-- <select name="subscriptions" class="form-control" multiple required>
                                                    {% for serve in services %}
                                                        <option value="{{ serve.id }}">{{ serve.name }}</option>
                                                    {% endfor %}
                                                </select> -->
                                                {{form.subscriptions(class='form-control multi-select')}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
{#                                <div class="tab-pane" id="pill-pr-2">#}
{#                                    <div class="row section light-gray-bg">#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="form-group has-feedback">#}
{#                                                    <label for="first_name" class="control-label">First Name</label>#}
{#                                                    <input type="text" class="form-control" name="first_name"#}
{#                                                           placeholder="e.g. James" required>#}
{#                                                    <i class="fa fa-user form-control-feedback"></i>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="form-group has-feedback">#}
{#                                                    <label class="control-label">Email</label>#}
{#                                                    <input type="email" class="form-control" name="email"#}
{#                                                           placeholder="e.g. admin@electric.com" required>#}
{#                                                    <i class="fa fa-user form-control-feedback"></i>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="form-group has-feedback">#}
{#                                                    <label for="last_name" class="control-label">Last Name</label>#}
{#                                                    <input type="text" class="form-control" name="last_name"#}
{#                                                           placeholder="e.g. Cook" required>#}
{#                                                    <i class="fa fa-user form-control-feedback"></i>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="form-group has-feedback">#}
{#                                                    <label class="control-label">Password</label>#}
{#                                                    <input type="password" name="password" class="form-control"#}
{#                                                           required>#}
{#                                                    <i class="fa fa-lock form-control-feedback"></i>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="form-group has-feedback">#}
{#                                                    <label class="control-label">Street Location</label>#}
{#                                                    <input type="text" class="form-control"#}
{#                                                           placeholder="14, Ereko street, Fadeyi" required>#}
{#                                                    <i class="fa fa-user form-control-feedback"></i>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="form-group has-feedback">#}
{#                                                    <label class="control-label">State</label>#}
{#                                                    <select name="country" id="country" class="form-control" required>#}
{#                                                        {% for state in states %}#}
{#                                                            <option value="{{ state.id }}">{{ state.name }}</option>#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
{#                                                    <i class="form-control-feedback"></i>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-6">#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="form-group has-feedback">#}
{#                                                    <label class="control-label">City</label>#}
{#                                                    <select name="city" id="city" class="form-control" required>#}
{#                                                        {% for city in cities %}#}
{#                                                            <option value="{{ city.id }}">{{ city.name }}</option>#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
{#                                                    <i class="form-control-feedback"></i>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="form-group has-feedback">#}
{#                                                    <label class="control-label">Country</label>#}
{#                                                    <select name="country" id="country" class="form-control" required>#}
{#                                                        {% for country in countries %}#}
{#                                                            <option value="{{ country.id }}">{{ country.name }}</option>#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
{#                                                    <i class="form-control-feedback"></i>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                                {#                                <div class="tab-pane" id="pill-pr-3">#}
                                {#                                    <div class="row section light-gray-bg">#}
                                {#                                        <div class="col-md-6">#}
                                {#                                            <div class="col-md-12">#}
                                {#                                                <div class="form-group has-feedback">#}
                                {#                                                    <label class="control-label">Bank Account</label>#}
                                {#                                                    <input type="text" class="form-control">#}
                                {#                                                    <i class="fa fa-user form-control-feedback"></i>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                            <div class="col-md-12">#}
                                {#                                                <div class="form-group has-feedback">#}
                                {#                                                    <label class="control-label">BVN NUmber</label>#}
                                {#                                                    <input type="text" class="form-control">#}
                                {#                                                    <i class="fa fa-lock form-control-feedback"></i>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                        <div class="col-md-6">#}
                                {#                                            <div class="col-md-12">#}
                                {#                                                <div class="form-group has-feedback">#}
                                {#                                                    <label class="control-label">Master Card Number</label>#}
                                {#                                                    <input type="text" class="form-control">#}
                                {#                                                    <i class="fa fa-user form-control-feedback"></i>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                            <div class="col-md-12">#}
                                {#                                                <div class="form-group has-feedback">#}
                                {#                                                    <label class="control-label">CVV</label>#}
                                {#                                                    <input type="email" class="form-control">#}
                                {#                                                    <i class="fa fa-envelope-o form-control-feedback"></i>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </div>#}
{#                                <div class="tab-pane" id="pill-pr-4">#}
{#                                    <div class="row section light-gray-bg">#}
{#                                        <div class="col-md-12">#}
{#                                            <div class="form-group has-feedback">#}
{#                                                <label class="control-label">Subscription</label>#}
{#                                                <select name="subscriptions" class="form-control" multiple required>#}
{#                                                    {% for serve in services %}#}
{#                                                        <option value="{{ serve.id }}">{{ serve.name }}</option>#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

                            </div>
                            <div id="error-message" style="color: red"></div>
                            <button type="submit" name="Try" class="btn btn-xs btn-success pull-right">Submit</button>
                        </form>
                    </div>
                    <!-- pills end -->
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="termsModalLabel">Terms & Condition</h4>
                </div>
                <div class="modal-body">
                    <p>Consectetur adipisicing elit. Nemo architecto debitis dolorum ullam in ut sint, odit maiores
                        eaque explicabo, repellendus minima soluta sunt! Nisi minima blanditiis voluptate, ut atque.</p>
                    <p>Culpa expedita! Quisquam, itaque officiis nisi nam doloribus explicabo possimus, dolorum alias
                        provident maxime temporibus, enim voluptatibus! Molestias, accusantium cum impedit sint velit
                        exercitationem deserunt, corporis magni provident earum, ullam iusto voluptatem iste animi
                        inventore ab cupiditate quod laborum quasi libero doloremque obcaecati eius. Ut, reprehenderit
                        optio unde accusantium quia qui! Debitis delectus corporis aspernatur nemo aut, odio harum ea
                        repellendus quidem, saepe, incidunt? Assumenda deserunt unde minima aspernatur ducimus velit
                        molestiae, minus eius inventore, dolore temporibus odio distinctio optio.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Decline</button>
                    <button type="button" class="btn btn-sm btn-default">Accept</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block page_js %}
    <script src="/static/js/jquery.validate.min.js"></script>
    {#    <script type="text/javascript">#}
    {#        $(window).load(function () {#}
    {#            $('#termsModal').modal('show');#}
    {#        });#}
    {#    </script>#}
    <script>
        // Wait for the DOM to be ready
        $(function () {
            $("form[name='registration']").validate({
                // Specify validation rules
                rules: {
                    client_name: "required",
                    client_address: "required",
                    client_city: "required",
                    client_state: "required",
                    client_country: "required",
                    sub_domain: "required",
                    first_name: "required",
                    last_name: "required",
                    city: "required",
                    state: "required",
                    country: "required",
                    email: {
                        required: true,
                        // Specify that email should be validated
                        // by the built-in "email" rule
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    }
                },
                // Specify validation error messages
                messages: {
                    client_name: "Please enter company name",
                    client_address: "Please enter company address",
                    client_city: "Please select city location",
                    client_state: "Please select state",
                    client_country: "Please select country",
                    sub_domain: "Please enter custom subdomain address",
                    password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long"
                    }
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {
                    if ($(form).valid()) {
                        $.get('/check/company?sub_domain=' + form.sub_domain.value + '&email=' + form.email.value, function (data, status) {
                            var _data = JSON.parse(data);
                            if (_data.response == false) {
                                form.submit();
                            }
                            else {
                                document.getElementById('error-message').innerHTML = _data.message
                            }
                        });
                    }
                    return false; // prevent normal form posting
                }
            });
        });
        $('.fetch_cities').change(function (e) {
            var value = $(this).val();
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/fetch/state_cities/",
                data: value,
                dataType: 'json',
                beforeSend: function(){$('#city_id_chosen .chosen-drop .chosen-results').empty();},
                success: function (data) {
                  var sss = $('#city_id_chosen .chosen-drop .chosen-results');
                  $('#city_id_chosen .chosen-drop .chosen-results').html();
                    if (data) {

//                       <a class="chosen-single">
// <span>Alkaleri</span>
// <div><b></b></div>
// </a>
//                         var txt = '';
//                         for(obj in data){
//
//                         }
//                         $('#sub_links').html(txt);
                    } else {
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            return false;
        })
    </script>
{% endblock page_js %}
