{% extends "main/layout.html" %}
{% block header %}
{% cache 600, "main", "layout", "corporate", "header" %}
<div class="header-container">
  <!-- header start -->
  <!-- classes:  -->
  <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
  <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
  <!-- "full-width": mandatory class for the full-width menu layout -->
  <!-- "centered": mandatory class for the centered logo layout -->
  <!-- ================ -->
  <header class="header  fixed fixed-before  dark clearfix">

    <div class="container">
      <div class="row">
        <div class="col-md-3  hidden-xs ">
          <!-- header-left start -->
          <!-- ================ -->
          <div class="header-left clearfix">

            <!-- logo -->
            <div id="logo" class="logo" style="margin-top:-10px">
              <a href="/"><img id="logo_img" src="/static/images/small_rsz_atele_logo.png" alt="Atele" data-animation-effect="fadeInLeft" data-effect-delay="150"></a>
            </div>

            <!-- name-and-slogan -->
            <!-- <div class="site-slogan">
              Multipurpose HTML5 Template
            </div> -->

          </div>
          <!-- header-left end -->

        </div>
        <div class="col-md-9">

          <!-- header-right start -->
          <!-- ================ -->
          <div class="header-right clearfix">
            <!-- main-navigation start -->
            <!-- classes: -->
            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
            <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
            <!-- ================ -->
            <div class="main-navigation animated">

              <!-- navbar start -->
              <!-- ================ -->
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">

                  <!-- Toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>

                    <!-- header-left start -->
                    <!-- ================ -->
                    <div class="header-left clearfix  visible-xs ">

                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="index.html"><img id="logo-img-mobile" src="images/logo_light_blue.png" alt="The Project"></a>
                      </div>

                      <!-- name-and-slogan -->
                      <div class="site-slogan hidden-xs">
                        Multipurpose HTML5 Template
                      </div>

                    </div>
                    <!-- header-left end -->

                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <!-- <li class="dropdown active">
                        <a href="#banner" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                          <li><a href="index.html">Home - Default</a></li>
                        </ul>
                      </li> -->
                      <li><a href="#about">About</a></li>
                      <li><a href="#solutions">Solutions</a></li>
                      <li><a href="#partners">Partners</a></li>
                      <li><a href="#company">Company</a></li>
                      <li><a href="#pricing">Pricing</a></li>
                      <li><a href="#footer">Contact</a></li>
                    </ul>
                  </div>

                </div>
              </nav>
              <!-- navbar end -->

            </div>
            <!-- main-navigation end -->
          </div>
          <!-- header-right end -->

        </div>
      </div>
    </div>

  </header>
  <!-- header end -->
</div>
{% endcache %}
{% endblock header %}
{% block body %}
			<!-- banner start -->
			<!-- ================ -->
			<div id="banner" class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">

					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-revolution-5-container">
						<div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
							<ul class="slides">
								<!-- slide 1 start -->
								<!-- ================ -->
								<li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Unlimited Options and Layouts">

								<!-- main image -->
								<img src="/static/images/corporate-4-slider-slide-1.jpg" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="center"
									data-start="0"
									data-transform_idle="o:1;"
									data-transform_in="o:0;s:600;e:Power2.easeInOut;"
									data-transform_out="o:0;s:600;"
									data-width="5000"
									data-height="5000">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption large_white"
									data-x="left"
									data-y="200"
									data-start="500"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
										<span class="logo-font">The Project</span> - Clean Bootstrap Template
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption large_white tp-resizeme"
									data-x="left"
									data-y="270"
									data-start="750"
									data-transform_idle="o:1;"
									data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
										<div class="separator-2 light"></div>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption medium_white"
									data-x="left"
									data-y="290"
									data-start="750"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];sX:1;sY:1;s:1750;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption small_white"
									data-x="left"
									data-y="410"
									data-start="1000"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1500;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
										<a href="#" class="btn btn-gray radius-50 btn-lg btn-animated margin-clear">Learn More <i class="fa fa-info-circle"></i></a> <span class="pl-5 pr-5">or</span> <a href="page-contact.html" class="btn btn-default radius-50 btn-lg btn-animated margin-clear">Contact Us <i class="fa fa-envelope"></i></a>
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption"
									data-x="center"
									data-y="bottom"
									data-voffset="100"
									data-start="1250"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
										<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
								</div>
								</li>
								<!-- slide 1 end -->

								<!-- slide 2 start -->
								<!-- ================ -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="default" data-title="Simple and Smart Bootstrap Template">

								<!-- main image -->
								<img src="images/corporate-4-slider-slide-2.jpg" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="center"
									data-start="0"
									data-transform_idle="o:1;"
									data-transform_in="o:0;s:600;e:Power2.easeInOut;"
									data-transform_out="o:0;s:600;"
									data-width="5000"
									data-height="5000">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption large_white text-right"
									data-x="right"
									data-y="200"
									data-start="500"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
										<span class="logo-font">The Project</span> - Unlimited Options and Layouts
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption large_white tp-resizeme"
									data-x="right"
									data-y="270"
									data-start="750"
									data-transform_idle="o:1;"
									data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
										<div class="separator-3 light"></div>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption medium_white text-right"
									data-x="right"
									data-y="290"
									data-start="750"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];sX:1;sY:1;s:1750;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici,<br> tenetur fugiat dolorum sapiente eligendi
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption small_white"
									data-x="right"
									data-y="410"
									data-start="1000"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1500;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
										<a href="#" class="btn btn-gray radius-50 btn-lg btn-animated margin-clear">Learn More <i class="fa fa-info-circle"></i></a> <span class="pl-5 pr-5">or</span> <a href="page-contact.html" class="btn btn-default btn-lg radius-50 btn-animated margin-clear">Contact Us <i class="fa fa-envelope"></i></a>
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption"
									data-x="center"
									data-y="bottom"
									data-voffset="100"
									data-start="1250"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
										<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
								</div>
								</li>
								<!-- slide 2 end -->
							</ul>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->

			<div id="page-start"></div>

			<!-- section start -->
			<!-- ================ -->
			<section id="about" class="light-gray-bg pv-20">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center pv-20">
							<br>
							<h1 class="title large"><span class="text-default">Wellcome</span> To The Project</h1>
							<div class="separator"></div>
							<p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="stats padding-bottom-clear dark-translucent-bg hovered" style="background-image:url('images/page-about-banner-1.jpg'); background-position: 50% 50%;">
				<div class="clearfix">
					<div class="col-md-3 pv-40 dark-translucent-bg col-xs-12 col-sm-3 text-center">
						<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
							<h2><strong>Why Us?</strong></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<p><a href="#" class="btn btn-default radius-50">Learn More</a></p>
						</div>
					</div>
					<div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
						<br>
						<br>
						<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
							<span class="icon without-bg"><i class="fa fa-users"></i></span>
							<h3><strong>Clients</strong></h3>
							<span class="counter" data-to="1225" data-speed="5000">0</span>
						</div>
					</div>
					<div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
						<br>
						<br>
						<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
							<span class="icon without-bg"><i class="fa fa-cloud-download"></i></span>
							<h3><strong>Downloads</strong></h3>
							<span class="counter" data-to="12235" data-speed="5000">0</span>
						</div>
					</div>
					<div class="col-md-3 pv-40 col-xs-12 col-sm-3 text-center">
						<br>
						<br>
						<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
							<span class="icon without-bg"><i class="fa fa-share"></i></span>
							<h3><strong>Shares</strong></h3>
							<span class="counter" data-to="15002" data-speed="5000">0</span>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- main-container start -->
      <!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg pv-30 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">Core <strong>Features</strong></h2>
							<div class="separator"></div>
							<p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
						</div>
						<div class="col-md-4 ">
							<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
								<h3>Clean Code &amp; Design</h3>
								<div class="separator clearfix"></div>
								<p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
								<span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
								<h3>Extremely Flexible</h3>
								<div class="separator clearfix"></div>
								<p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon default-bg circle"><i class="fa icon-snow"></i></span>
								<h3>Latest Technologies</h3>
								<div class="separator clearfix"></div>
								<p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

      <!-- section -->
			<!-- ================ -->
			<section class="pv-30">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">More <strong>Services</strong></h2>
							<div class="separator"></div>
							<p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 ">
							<div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="fa fa-diamond"></i></span>
								<div class="body">
									<h4 class="title">Clean Code &amp; Design</h4>
									<p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor consectetur.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
								<span class="icon without-bg"><i class="fa fa-connectdevelop"></i></span>
								<div class="body">
									<h4 class="title">Extremely Flexible</h4>
									<p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="icon-snow"></i></span>
								<div class="body">
									<h4 class="title">Latest Technologies</h4>
									<p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 ">
							<div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="250">
								<span class="icon without-bg"><i class="icon-megaphone"></i></span>
								<div class="body">
									<h4 class="title">Easy to Use</h4>
									<p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor consectetur.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
								<span class="icon without-bg"><i class="fa fa-arrows"></i></span>
								<div class="body">
									<h4 class="title">Responsive Design</h4>
									<p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="350">
								<span class="icon without-bg"><i class="icon-star-empty"></i></span>
								<div class="body">
									<h4 class="title">Deticated Support</h4>
									<p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="section dark-translucent-bg parallax background-img-1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h1 class="title">Don't Miss Out Our Offers</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quasi explicabo consequatur consectetur, a atque voluptate officiis eligendi nostrum.</p>
									</div>
									<div class="col-sm-4">
										<br>
										<p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated radius-50">Learn More<i class="fa fa-arrow-right pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->


{% endblock body %}
