{% extends "main/layout.html" %}
{% block body %}
    <div class="banner clearfix">
{#        <div class="slideshow">#}
{#            <div class="slider-revolution-5-container">#}
{#                <div id="slider-banner-fullwidth-hero" class="slider-banner-fullwidth-hero dotted rev_slider"#}
{#                     data-version="5.0">#}
{#                    <ul class="slides">#}
{#                        <li data-transition="random" data-slotamount="default" data-masterspeed="default"#}
{#                            data-title="Unlimited Options and Layouts">#}
{#                            <img src="/static/images/repairs.jpg" alt="slidebg1"#}
{#                                 data-bgposition="center bottom" data-kenburns="on" data-duration="30000"#}
{#                                 data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"#}
{#                                 data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"#}
{#                                 data-bgparallax="10" class="rev-slidebg" data-no-retina>#}
{#                            <div class="tp-caption dark-translucent-bg"#}
{#                                 data-x="center"#}
{#                                 data-y="center"#}
{#                                 data-start="0"#}
{#                                 data-transform_in="opacity:0;s:600;e:Power2.easeInOut;"#}
{#                                 data-transform_out="opacity:0;s:600;s:300;"#}
{#                                 data-width="5000"#}
{#                                 data-height="5000">#}
{#                            </div>#}
{#                            <div class="tp-caption large_white text-center hidden-xs"#}
{#                                 data-x="center"#}
{#                                 data-y="200"#}
{#                                 data-start="500"#}
{#                                 data-transform_idle="o:1;"#}
{#                                 data-transform_in="y:[100%];opacity:0;s:2000;e:Power4.easeInOut;">#}
{#                                <strong>ATELE</strong>#}
{#                            </div>#}
{#                            <div class="tp-caption large_white tp-resizeme hidden-xs"#}
{#                                 data-x="center"#}
{#                                 data-y="250"#}
{#                                 data-start="750"#}
{#                                 data-transform_idle="o:1;"#}
{#                                 data-transform_in="y:[100%];opacity:0;s:2000;e:Power4.easeInOut;"#}
{#                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;">#}
{#                                <div class="separator light"></div>#}
{#                            </div>#}
{#                            <div class="tp-caption medium_white text-center hidden-xs"#}
{#                                 data-x="center"#}
{#                                 data-y="290"#}
{#                                 data-start="750"#}
{#                                 data-transform_idle="o:1;"#}
{#                                 data-transform_in="y:[100%];opacity:0;s:2000;e:Power4.easeInOut;"#}
{#                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"><strong>An information technology#}
{#                                company that develops Internet of things solutions <br> designed to organize various#}
{#                                capabilities and needs of stakeholders in different sectors <br> to operate all the#}
{#                                parts of their systems and structures as efficiently as possible.</strong>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <img src="/static/images/Atele_Banner_4.jpg">
    </div>
{#    <div style="background-image: url('/static/images/main_solutions_en.jpg'); height: 600px; opacity: 0.9;">#}
{#        <div class="row">#}
{#            <div class="col-md-5" style="margin: 100px">#}
{#                <h1 class="title" style="color: grey">Intelligent Remote Monitoring and Control</h1>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div id="page-start"></div>
    <section class="pv-40" style="box-shadow: 0 -1px 4px #ccc;">
        <div class="container mt-20">
            <div class="row">
                <div class="main col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                                 data-effect-delay="300">
                                <span class="icon without-bg"><i class="fa fa-plug"></i></span>
                                <div class="body">
                                    <h4 class="title">We Use Latest Technologies</h4>
                                    <p>We bring together cutting-edge technologies and strategic partners to deliver
                                        top-notch IoT solutions for the utility clients.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                                 data-effect-delay="600">
                                <span class="icon without-bg"><i class="fa fa-lock"></i></span>
                                <div class="body">
                                    <h4 class="title">We Are Secure</h4>
                                    <p>Feel safe. You are with a technology that protects.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                                 data-effect-delay="600">
                                <span class="icon without-bg"><i class="fa fa-support"></i></span>
                                <div class="body">
                                    <h4 class="title">We Will Support You</h4>
                                    <p>We provide 24/7 round the clock support for our clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="large text-center">About <span class="text-default">Us</span></h1>
            <div class="separator"></div>
            <p class="text-center">At Atele, we believe that a dedicated staff makes a true difference in overall
                quality when it comes to the final product.<br>We'v had an amazing journey coming to where we are today,
                and now feel confident that we can provide you a professional, effective and reliable IOT (Internet Of
                Things) solution in a timely manner.</p>
        </div>
    </section>

    <section class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
        <div class="full-width-section" style="box-shadow: 0px 1px 4px #ccc;">
            <div style="padding: 50px; border-top: 0; background-color: whitesmoke; ">
                <img class="to-right-block" src="/static/images/structure.jpg" alt="" data-animation-effect="bounce"
                     data-effect-delay="100">
            </div>
            <div class="full-text-container light-gray-bg border-bottom-clear"
                 style="background: url(/static/images/pattern-2.png);">
                <h2>Why <strong>Choose Us</strong> ?</h2>
                <div class="separator-2 visible-lg"></div>
                <p>Our product is aimed at providing intelligent measurement, feedback and monitoring for currently
                    existing unidirectional systems commonly used in electricity transmission, distribution, generation,
                    manufacturing processes among others.</p>
                <div class="separator-3 visible-lg"></div>
                <a href="mailto:kunsam002@mail.com" class="btn btn-default btn-animated">Contact Us <i
                        class="pl-5 fa fa-envelope-o"></i></a>
            </div>
        </div>
    </section>

    <section class="pv-40" style="zoom:0.9">
        <div class="container">
            <h1 class="large text-center"><a href="{{ url_for('.services') }}" style="color: inherit">Our <span
                    class="text-default">Services</span></a></h1>
            <div class="separator"></div>
        </div>
        <div class="full-width-section border-clear">
            <div class="clearfix">
                <img class="object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100"
                     src="/static/images/smart-metering.png" alt="">
            </div>
            <div class="full-text-container text-left right border-clear">
                <a href="{{ url_for('.smart_metering') }}" style="color: inherit">
                    <h3 class="title">Smart Metering Service</h3>
                    <p>An end-to-end solution that streamlines your business processes, reducing your costs and allowing
                        you to focus on your core business.</p>
                    <br class="hidden-sm hidden-xs">
                    <div class="feature-box-2 left margin-clear">
												<span class="icon without-bg" data-animation-effect="pulse"
                                                      data-effect-delay="100"><i
                                                        class="text-default icon-snow"></i></span>
                        <div class="body">
                            <h4>Automated Billing</h4>
                            {#					<p>Lorem ipsum dolor sit amet, consectetur adipisicing eltis atque ratione temporibus sit amet, adipisicinulla placeat ign and consu consect.</p>#}
                            {#					<div class="separator-2 visible-lg"></div>#}
                        </div>
                    </div>
                    <div class="feature-box-2 left margin-clear">
												<span class="icon without-bg" data-animation-effect="pulse"
                                                      data-effect-delay="300"><i
                                                        class="text-default icon-tools"></i></span>
                        <div class="body">
                            <h4>Data collection, processing and Scheduled validated Data Delivery</h4>
                            {#					<p>Lorem ipsum dolor sit amet, consectetur adipisicinggiat sit amet, adipisicinulla placeat ign and consu consect!</p>#}
                            {#					<div class="separator-2 visible-lg"></div>#}
                        </div>
                    </div>
                    <div class="feature-box-2 left margin-clear">
												<span class="icon without-bg" data-animation-effect="pulse"
                                                      data-effect-delay="600"><i
                                                        class="text-default icon-star-empty"></i></span>
                        <div class="body">
                            <h4>Metering devices management</h4>
                            {#					<p>Lorem ipsum dolor sit amet, consectetur adipisicing equi  sit amet, adipisicinulla placeat ign and consu consectporro quibusdam assumenda veniam.</p>#}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="separator-2"></div>
        <div class="full-width-section border-clear">
            <div class="full-text-container text-right left border-clear">
                {#            <a href="{{ url_for('.remote_monitoring') }}" style="color: inherit">#}
                <h3 class="title">Remote Surveillance Service</h3>
                <p>An end-to-end security system solutions including security design and consulting, product management,
                    remote monitoring.
                    This is a remote approach to video surveillance systems, as opposed to an on-site video security
                    system, here IP cameras that stream security footage to the provider’s site are installed at the
                    desired location. Since RSaaS is managed in the cloud, users can access footage or cameras from
                    anywhere at any time through a desktop, laptop or mobile device.
                </p>
                <br class="hidden-sm hidden-xs">
                <div class="feature-box-2 right margin-clear">
										<span class="icon without-bg" data-animation-effect="pulse"
                                              data-effect-delay="100"><i
                                                class="text-default icon-snow"></i></span>
                    <div class="body">
                        <h4>Remote monitoring</h4>
                        <div class="separator-3 visible-lg"></div>
                    </div>
                </div>
                <div class="feature-box-2 right margin-clear">
										<span class="icon without-bg" data-animation-effect="pulse"
                                              data-effect-delay="300"><i
                                                class="text-default icon-tools"></i></span>
                    <div class="body">
                        <h4>Security design and consulting</h4>
                        <div class="separator-3 visible-lg"></div>
                    </div>
                </div>
                <div class="feature-box-2 right margin-clear">
										<span class="icon without-bg" data-animation-effect="pulse"
                                              data-effect-delay="600"><i
                                                class="text-default icon-star-empty"></i></span>
                    <div class="body">
                        <h4>Unlimited options and variations</h4>
                    </div>
                </div>
                {#            </a>#}
            </div>
            <div class="clearfix">
                <img class="object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="100"
                     src="/static/images/vsaas.jpg" alt="">
            </div>
        </div>
        <div class="separator-2"></div>
        <div class="full-width-section border-clear" style="margin-bottom: -40px">
            <div class="clearfix">
                <img class="object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100"
                     src="/static/images/asset.png" alt="Asset Tracking System">
            </div>
            <div class="full-text-container text-right left border-clear">
                {#            <a href="{{ url_for('.mobile_asset') }}" style="color: inherit">#}
                <h3 class="title">Mobile Asset Tracking Service</h3>
                <p>An end-to-end solution that provides the means to locate physical objects, collect data on its usage
                    and whereabouts, and report on all activity.
                    We provide a comprehensive suite of cost-effective, real-time coverage solutions for tracking
                    trucks, trailers, containers and railcars, driver monitoring, cargo security and more.
                </p>
                <br class="hidden-sm hidden-xs">
                {#            </a>#}
            </div>
        </div>
    </section>
    {#<section class="default-translucent-bg parallax-2" style="background: url(/static/images/banner.jpg) 50% 50% no-repeat;">#}
    {#	<br>#}
    {#	<br>#}
    {#	<br>#}
    {#	<div class="container">#}
    {#		<div class="row">#}
    {#			<div class="col-md-12">#}
    {#				<div class="call-to-action text-center">#}
    {#					<div class="row">#}
    {#						<div class="col-sm-8 col-sm-offset-2">#}
    {#							<h3 class="title"><strong>Contact Us</strong></h3>#}
    {#                            <div class="separator"></div>#}
    {#							<h4>For inquiries on products and services, you can reach out to us at <strong><a href="mailto:inquiries@atele.org">inquiries@atele.org</a></strong></h4>#}
    {#						</div>#}
    {#					</div>#}
    {#				</div>#}
    {#			</div>#}
    {#		</div>#}
    {#	</div>#}
    {#	<br>#}
    {#	<br>#}
    {#	<br>#}
    {#</section>#}
    <div class="dark-bg  default-hovered footer-top animated-text"
         style="background: url(/static/images/pattern-5.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Intelligent Feedback Systems</h2>
                                <!-- <h2>Real Time Reporting</h2> -->
                                <h2>Accurate Fault and Incident Mapping</h2>
                                <!-- <h2>Conusmer Insights</h2>
                                <h2>Automated Billing</h2> -->
                            </div>
                            <div class="col-sm-4">
                                <p class="mt-10"><a href="mailto:kunsam002@gmail.com"
                                                    class="btn btn-animated btn-lg btn-gray-transparent ">Contact Us<i
                                        class="fa fa-envelope-o pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
