{% if length(view_filters) %}
<div id="args">
    {% for obj in view_filters %}
        <span {% if view_q and view_q==obj.value %}class="active"{% endif %}><a href="{{page_view_filter_url_build(request.path, request_args, obj.value)}}">{{ obj.name }}</a></span>
    {% endfor %}
</div>
{% endif %}

{#{% if length(request_args)==0 %}{{ request.path }}?&view={{ obj.value}}{% else %}{{ request.url }}&view={{ obj.value}}{% endif %}#}