<div id="paging">
            <span>
              {{ results.total }} RESULTS
            </span>
                <span>
                    <a href="{{results.previous_page}}"><i class="fa fa-chevron-left"></i></a> {{ results.page }} OF {{ results.pages }} <a href="{{results.next_page}}"><i class="fa fa-chevron-right"></i></a>
		</span>
            </div>