#loading-bar .bar {
    background: #FC6E05 !important;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #FC6E05 !important;
    border-left-color: #FC6E05 !important;
}

#loading-bar .peg {
    -moz-box-shadow: #FC6E05 1px 0 6px 1px !important;
    -ms-box-shadow: #FC6E05 1px 0 6px 1px !important;
    -webkit-box-shadow: #FC6E05 1px 0 6px 1px !important;
    box-shadow: #FC6E05 1px 0 6px 1px !important;
}

.loading-spinner {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

md-dialog .md-button:not([disabled]):hover {
    background-color: #FC6E05 !important;
    color: #ffffff;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
    color: #000 !important;
}

.ping {
    left: 50%;
    top: 8%;
}

.btn-circle {
    background-color: #FC6E05 !important;
    border-radius: 15px;
    font-size: 13px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #FC6E05 !important;
    color: rgba(255,255,255,0.87);
}

#neg-px {
    margin-top: -10px;
}

.md-dialog {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .dialog:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.md-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#faults {
    color: red;
}

.pulse {
    font-size: 20px;
    color: greenyellow;
}

#ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}