body {
  background-color: #ffffff;
  //background-color: #F4F7FA;
  font-family: "Karla", "Helvetica Neue", sans-serif;
  font-size: 13px;
  padding-top: 64px;
}

input, textarea, select {
  border: 1px solid #ccc;
  padding: 5px 7px;
  color: #333;
}

input:hover, input:focus, input:active, textarea:hover, textarea:focus, textarea:active, select:hover, select:focus, select:active {
  border: 1px solid #000;
}

input:focus, textarea:focus, select:focus {
  box-shadow: none;
  outline-color: transparent !important;
  outline-style: none !important;
}

input[placeholder], [placeholder], *[placeholder] {
  color: #333 !important;
}

select {
  background: #fff !important;
  min-width: 150px;
  width: 100%;
}

.text_atele {
  color: #dd4f05 !important;
}

#flash {
  background: rgba(221, 79, 5, 0.8);
  color: #fff;
  padding: 7px 10px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 112px;
  text-align: center;
  p {
    margin: 0 !important;
  }
}

#flash_clear {
  height: 35px;
}

#header {
  height: 60px;
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  background-color: #394245;
  border-bottom: 1px solid #052c38;
  box-shadow: 0 1px 4px #222;
  font-size: 13px;

  .container-fluid {
    padding: 0;
  }
  .navbar-header {
    margin: 0;
    width: 100%;
  }
  #sidebar-toggle-button {
    color: #797979;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 0 5px;
  }
  .brand {
    display: inline-block;
    padding: 0;
    width: 100%;
    #logo {
      img {
        display: inline;
        position: absolute;
        border-right: 1px solid rgba(1, 17, 17, 0.4);
      }
      .lg {

        width: 130px;
        top: -6px;
        left: 0;
        zoom: 114%;
      }
      .logo_text {
        width: 80px;
        display: inline;
        left: 93px;
        top: 10px;
      }
    }
    // #sub_links{
    //   display: inline-block;
    //     margin-left: 90px;
    //     line-height: 45px;
    //     margin-top: -8px;
    //     padding-left: 15px;
    //     border-left: 1px solid #191818;
    //     box-shadow: -1px 0px 0 #161515;
    // }
    a {
      color: #f9f9f9;
      font-size: 13px;
      line-height: 1;
      text-decoration: none;
      padding: 0 10px;
      text-transform: uppercase;
      background: transparent;
      transition: 0.3s;
    }
    a:active, a.active {
      cursor: pointer;
      color: #FC6E06;
      background: transparent;
    }
    a:focus, a:visited {
      text-decoration: none;
      background: transparent;
    }
    a:hover, a.active:hover {
      color: #FC6E06;
    }

    .navbar-left li, .navbar-right li {
      height: 60px;
      a:first-child {
        height: 60px;
        line-height: 60px;
        font-weight: 700;
      }
    }
    .navbar-left {
      margin-left: 150px;
      li {
        a {
          border-right: 1px solid rgba(1, 17, 17, 0.4);
        }
      }
    }
    .navbar-right {
      li.dropdown {
        a:first-child {
          padding: 0 15px;
          border-left: 1px solid rgba(1, 17, 17, 0.4);
          i.fa {
            font-size: 16px;
          }
        }
        a#logout-btn {
          color: #fff !important;
          background-color: #d9534f;
          border-color: #d43f3a;
          &:hover {
            background-color: #c9302c;
            border-color: #ac2925;
            color: #ccc !important;
          }
        }
      }
    }
  }

}

#pagemask {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none
}

#serviceOptions {
  display: none;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 9999;
  top: 60px;
  left: 0;
  background: url("/static/images/pattern-5.png");
  background-color: #394245;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px 0px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 110%;
    font-weight: 600;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(1, 17, 17, 0.4);
  }
  a:hover {
    color: #FC6E06;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 200%;
    margin-left: 50px;
  }
}

@media screen and (max-height: 450px) {
  #serviceOptions {
    padding-top: 10px;
  }
}

#HW_badge_cont {
  width: 100% !important;
  height: 60px !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  #HW_badge {
    right: 8px !important;
    left: inherit !important;
  }
}

#ind_report_box {
  border: 1px solid #eee;
  padding: 20px;
  margin: 10px 0;
  overflow: auto;
  background: #fff;
}

#ind_report_box.no-frame {
  border: none !important;
  background: transparent;
}

#ind_report_box #loading_report {
  padding: 50px 0;
}

#ind_report_box #loading_report .spiner {
  background-repeat: no-repeat;
  margin: 20px auto;
  width: 70px;
  height: 70px;
}

#ind_report_box #loading_report .spiner_note {
  text-align: center;
}

#sidebar {
  background-color: #424a5d !important;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 60px;
  width: 200px;
  z-index: 1000;
}

#sidebar > ul {
  padding-bottom: 24px;
}

#sidebar > ul > li {
  margin: 0;
}

#sidebar > ul > li > a {
  color: #fff;
  display: block;
  padding: 12px;
  text-decoration: none;
}

#sidebar > ul > li > a img {
  width: 17px;
}

#sidebar > ul > li > a i.fa {
  font-size: 1em !important;
}

#sidebar ul li a:hover {
  background: #FAAF18 !important;
}

#sidebar ul li:hover {
  background: #FAAF18 !important;
}

#sidebar > ul > li > a > span {
  font-size: 12px;
  margin-left: 5px;
}

#sidebar > ul > li > a:hover,
#sidebar > ul > li > a.active {
  border-right: 1px solid #34495e;
}

#sidebar > ul > .divider {
  background-color: #ccc;
  height: 1px;
  margin: 0;
  overflow: hidden;
}

#page-content-wrapper > .container-fluid {
  padding-top: 0.75rem;
}

/*------ sidebar toggle ------*/
.sidebar-toggle {
  display: none !important;
}

.page-content-toggle {
  margin-left: inherit !important;
}

@media (min-width: 1600px) {
  #sidebar {
    display: none;
  }

  .sidebar-toggle {
    display: block !important;
  }

  .page-content-toggle {
    margin-left: 264px !important;
  }
}

/*------ /sidebar toggle ------*/

/*------ real time page charts ------*/
#users-device-doughnut-chart,
#users-medium-pie-chart,
#users-category-pie-chart,
#page-views-per-second-column-chart,
#page-views-per-minute-column-chart,
#users-state-bar-chart {
  height: 300px;
}

/*------ /real time page charts ------*/

/*------ overview page charts ------*/
#revenue-spline-area-chart,
#annual-revenue-by-category-pie-chart,
#monthly-revenue-by-category-column-chart {
  height: 300px;
}

#visitors-chart,
#users-spline-chart {
  height: 320px;
}

/*------ /overview page charts ------*/

.card {
  background-color: inherit;
  border: none;
}

.card-title {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 300;
}

#revenue-tag, .custom-tag {
  background-color: #d9695f;
  border-radius: 0;
  font-weight: 400;
  vertical-align: top;
}

.custom-tag {
  font-size: 100%;
}

#visitors-chart-back-button {
  padding: 0.3rem 0.6rem;
}

#visitors-chart-tag {
  position: absolute;
}

.chart-map-large {
  width: 100%;
  height: 240px;
}

.chart-map-small {
  width: 303px;
  height: 183px;
}

#subnav {
  position: absolute;
  width: 100%;
  background: #f2f2f2;
  //box-shadow: 1px 0 1px;
  left: 0;
  right: 0;
  top: 60px;
  font-size: 12px;
  li {
    padding: 0;
    margin: 0 10px;
    a {
      font-weight: 600;
      border-bottom: 1px solid transparent;
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      padding: 13px 0;
      line-height: 13px;
    }
    a:hover, a:active, a.active {
      cursor: pointer;
      background: none;
      color: #FC6E06;
    }
    a.active {
      border-bottom: 3px solid #FC6E06;
    }
  }
}

#page-content-wrapper {
  .content-wrapper {
    margin-top: 42px !important;
  }
}

#page-content-wrapper.no_sub_lnk {
  .content-wrapper {
    margin-top: 20px !important;
  }
}

.no_search_results {
  text-align: center;
  text-transform: capitalize;
  font-size: 150%;
  padding: 20px;
}

#breadcrumbs {
  margin: 0 -20px 20px;
  padding: 15px 30px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  span, #action_navs {
    vertical-align: middle;
    margin-bottom: 0;
  }
  #action_navs {
    float: right;
    li {
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      a {
        font-weight: 600;
        font-size: 12px;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        padding: 10px;
        border: 1px solid transparent;
        transition: 0.3s;
      }
      a:hover {
        cursor: pointer;
        border: 1px solid #FC6E06;
        background: transparent;
      }
      a:active, a.active {
        cursor: pointer;
        border: 1px solid #FC6E06;
        background: #FC6E06;
        color: #fff;
      }
    }
  }
  span {
    color: #000;
    font-size: 150%;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
  }
}

#filters {
  background: #fcfcfc;
  margin-top: -18px;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  padding: 0 15px;
  border-bottom: 2px solid #f2f2f2;
  box-shadow: 1px 0 1px #f2f2f2;
  clear: both;
  #paging {
    display: inline-block;
    float: right;
    width: 15%;
    text-align: right;
    span {
      i {
        color: #888;
        margin: 0 3px;
      }
      a:hover {
        color: #dd4f05;
        i {
          color: #dd4f05;
        }
      }
    }
  }
  #args {
    display: inline-block;
    float: center;
    width: 65%;
    text-align: right;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      padding: 5px 10px;
      margin: 0 5px;
      text-transform: uppercase;
      text-align: left;
      border: 1px solid transparent;
      transition: 0.3s;
    }
    span:first-child {
      margin-left: 0;
    }
    span:last-child {
      margin-right: 0;
    }
    span:hover, span.active {
      color: #FC6E06;
      border: 1px solid #FC6E06;
      cursor: pointer;
    }
    span.active:hover {
      color: #dc4e04 !important;
    }
  }
  #search {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: left;
    input {
      float: left;
      display: inline-block;
      height: 30px;
      width: 80%;
      padding: 5px;
      color: #777;
      margin-left: -5px;
    }
    input:focus, input:active {
      box-shadow: 1px 0 1px solid #000 !important;
    }
    button {
      float: left;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      background: #FC6E06;
      border: none;
      color: #fff;
      i.fa-search {
        display: block;
      }
      &:hover, &:active, &:focus {
        background: #dc4e04;
      }
    }
  }
}

.table {
  display: table;
  font-size: 13px;
}

.tr {
  display: table-row;
  text-transform: uppercase;
}

.tr:hover {
  background: #fdfdfd;
}

.thead.tr {
  background: #fff;
  font-weight: bold;
  color: #9196aa;
  .td {
    border-bottom: 2px solid #f2f2f2;
  }
}

.thead.tr:hover {
  background: #fff;
}

.td {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  span.caption {
    display: block;
    color: #777;
    font-size: 11px;
  }
}

#empty_list_box {
  display: inline-block;
  padding: 50px 30px;
  width: 100%;
  h3 {
    background: #fff;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #eee;
    margin: auto;
    width: 300px;
    a {
      text-decoration: none;
      i, span {
        display: block;
      }
      span {
        margin-top: 10px;
        font-size: 22px;
      }
    }
  }
  h3:hover {
    border: 1px solid #ccc;
    a {
      color: #fff;
      i, span {
        color: #888;
      }
    }
  }
}

#empty_list_box:hover {
  background: none;
}

.dropbtn {
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;

  .dropdown-arrow {
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    left: 10px;
  }
}

.dropdown-content.rvs {
  right: 2px;
  .dropdown-arrow {
    float: right;
    left: 90px;
  }
}

.dropdown-content a {
  color: #373a3c !important;
  padding: 8px 10px !important;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  height: auto !important;
  font-size: 11px !important;
  background: #f9f9f9;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
}

form {
  padding: 10px 0;
  .wrap {
    .form-group {
      width: 100%;
      label {
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        span {
          font-weight: normal;
          text-transform: none;
          font-size: 11px;
          color: #777;
          display: block;
        }
      }
      input, textarea {
        display: block;
        width: 100%;
      }
      textarea {
        max-width: 100%;
        height: 150px;
        max-height: 150px;
      }
      input[type="checkbox"], input[type="radio"] {
        width: auto !important;
        display: inline-block !important;

      }
    }
    .form-group.check {
      label {
        display: inline-block !important;
        margin-left: 5px;
      }
    }
    .form-group.actions {
      width: auto !important;
      margin-top: 15px;
      display: inline-block;
      input {
        width: auto;
        padding: 5px 20px;
        background: transparent;
        display: inline-block;
        float: right;

      }
      input:hover {
        color: #000;
      }
    }
  }
  .wrap.half {
    .form-group {
      width: 49%;
      display: inline-block;
    }
    .form-group:nth-child(2) {
      float: right;
    }
  }
  .wrap.third {
    .form-group {
      width: 32%;
      display: inline-block;
    }
    .form-group:nth-child(2) {
      margin-left: 2%;
    }
    .form-group:nth-child(3) {
      float: right;
    }
  }
  .wrap.quarter {
    .form-group {
      width: 24%;
      display: inline-block;
    }
    .form-group:nth-child(2) {
      margin-left: 1%;
    }
    .form-group:nth-child(3) {
      margin-left: 1%;
      margin-right: 1%;
    }
    .form-group:nth-child(4) {
      float: right;
    }
  }
}

.form {
  margin-top: -18px;
  .col-md-8 {
    border-right: 1px solid #eee;
    padding: 10px 15px 20px 5px !important;
    box-shadow: 1px 0 1px #eee;
    h5, h6 {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      font-weight: bold;
    }
    form {
      padding: 10px 0;
      .wrap {
        .form-group {
          width: 100%;
          label {
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
            span {
              font-weight: normal;
              text-transform: none;
              font-size: 11px;
              color: #777;
              display: block;
            }
          }
          input, textarea {
            display: block;
            width: 100%;
          }
          textarea {
            max-width: 100%;
            height: 150px;
            max-height: 150px;
          }
          input[type="checkbox"], input[type="radio"] {
            width: auto !important;
            display: inline-block !important;

          }
        }
        .form-group.check {
          label {
            display: inline-block !important;
            margin-left: 5px;
          }
        }
        .form-group.actions {
          width: auto !important;
          margin-top: 15px;
          display: inline-block;
          input {
            width: auto;
            padding: 5px 20px;
            background: transparent;
            display: inline-block;
            float: right;

          }
          input:hover {
            color: #000;
          }
        }
      }
      .wrap.half {
        .form-group {
          width: 49%;
          display: inline-block;
        }
        .form-group:nth-child(2) {
          float: right;
        }
      }
      .wrap.third {
        .form-group {
          width: 32%;
          display: inline-block;
        }
        .form-group:nth-child(2) {
          margin-left: 2%;
        }
        .form-group:nth-child(3) {
          float: right;
        }
      }
      .wrap.quarter {
        .form-group {
          width: 24%;
          display: inline-block;
        }
        .form-group:nth-child(2) {
          margin-left: 1%;
        }
        .form-group:nth-child(3) {
          margin-left: 1%;
          margin-right: 1%;
        }
        .form-group:nth-child(4) {
          float: right;
        }
      }
    }
  }
  .col-md-4 {
    padding: 20px 15px !important;
  }
}

.s_tile {
  position: relative;
  margin-bottom: 8px;
  margin-right: 8px;
  float: left;
  background-color: rgba(255, 255, 255, 0.0901961);
  transition: outline .125s ease-in-out, -webkit-transform .125s ease-in-out;
  display: inline-block;
  a {
    text-decoration: none;
    height: 100px;
    width: 100px;
    border: 2px solid hsla(0, 0%, 100%, 0);
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
    span {
      display: block;
      padding-top: 17px;
      font-size: 36px;
    }
    div {
      font-size: 13px;
      position: relative;
      height: 32px;
      margin: 0 6px;
    }
  }
}

.service_tiles {
  overflow: hidden;
  .menu_tiles {
    min-width: 108px;
  }
}

#edit_details_box {
  .part_form_box {
    border: 1px solid #eee;
    height: auto;
    padding: 10px;
    display: inline-block;
    width: 100%;
    clear: both;
    margin-bottom: 15px;
    .box_head {
      border-bottom: 1px solid #eee;
      display: inline-block;
      width: 100%;
      span.pull-right {
        padding: 10px;
        a {
          padding: 5px 8px;
          color: #888;
          font-size: 13px;
          border: 1px solid #eee;
          text-decoration: none;
        }
      }
      h6 {
        border: 0;
      }
    }
    .box_info {
      div {
        padding: 5px 0;
        span.title {
          width: 18%;
          display: inline-block;
          font-weight: bold;
          color: #888;
          vertical-align: top;
          padding-right: 10px;
        }
        span.desc {
          width: 78%;
          display: inline-block;
        }
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    border-radius: 0;
    .modal-header {
      padding: 10px 15px;
    }
    .modal-body {
      background: #fbfbfb;
    }
  }
}

.action_hover_container {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 20px;
  left: 0;
  display: none;
  ul {
    float: right;
    padding: 0;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fcfcfc;
    text-align: center;
    margin-right: 20px;
    //box-shadow: 0px 1px 2px #ddd;
    li {
      display: inline-block;
      color: #888;
      border-right: 1px solid #ddd;
      a {
        padding: 10px 10px;
        line-height: 34px;
        font-size: 14px;
        color: #888;
        text-transform: capitalize;
      }
      a:hover {
        color: #000;
        cursor: pointer;
      }
    }
    li:last-child {
      border-right: 0;
    }
    li:hover {
      color: #000;
      cursor: pointer;

    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.c_g_r {
  //background: #fbfbfb;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0 10px;
}

.c_g_r:first-child {
  margin-top: -25px;
  padding-top: 20px;
}

.c_g_r:last-child {
  padding: 0 10px 10px !important;
}

.form .col-md-8 form .wrap .form-group.actions input.btn-warning.atele {
  background-color: #FF6E01;
}

.form .col-md-8 form .wrap .form-group.actions input.btn-warning.atele:hover {
  background-color: #dd4f05;
  background-image: linear-gradient(to bottom, #FF6E01, #ed5a10);
  color: #fff;
}

.form form .wrap .form-group.actions input.btn-warning.atele {
  background-color: #FF6E01;
}

.form form .wrap .form-group.actions input.btn-warning.atele:hover {
  background-color: #dd4f05;
  background-image: linear-gradient(to bottom, #FF6E01, #ed5a10);
  color: #fff;
}

.btn-warning.atele {
  background-color: #FF6E01;
}

.btn-warning.atele:hover {
  background-color: #dd4f05;
  background-image: linear-gradient(to bottom, #FF6E01, #ed5a10);
}

#billingBox {
  width: 70%;
  margin-left: 15%;
  height: auto;
  display: inline-block;
  .col-md-12 {
    margin-bottom: 30px;
    .col-md-6 {
      padding: 0;
      div.card {
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 1px #ccc;
        h4:first-child {
          display: inline-block;
        }
        h4:nth-child(2) {
          float: right;
        }
        div {
          margin-top: 20px;
          span.atele {
            width: 100%;
          }
        }
      }
    }
    .col-md-6:first-child {
      padding-right: 10px;
    }
    .col-md-6:last-child {
      padding-left: 10px;
    }
    div.card {
      #billAlert {
        div {
          padding: 0 !important;
        }
        div:first-child {
          padding-right: 10px !important;
          margin-top: 10px;
          input {
            width: 20px;
            height: 20px;
            display: inline-block;
            float: left;
            margin-right: 10px;
          }
          p {
            display: inline-block;
            font-size: 13px;
            float: left;
            width: 93%;
            text-align: left;
          }
        }
        div:last-child {
          input, button {
            width: 42%;
            display: inline;
            height: 40px;
            float: right;
          }
          button {
            margin-left: 10px;
            border: 1px solid #ddd;
            background: #f2f2f2;
          }
          input {
          }
          span {
            float: right;
            font-size: 2em;
            margin-right: 10px;
            margin-top: 3px;
            color: #FF6E01;
          }
        }
      }
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 1px #ccc;
      h4 {
        display: inline-block;
      }
      div.process {
        ul.nav-pills {
          padding: 15px 0 0;
          margin-bottom: 0;
          li {
            a {
              color: #777777;
            }
          }
          li.active {
            border-bottom: 1px solid #222;
            a {
              color: inherit;
              background-color: transparent;
            }
          }
        }
        div.tab-content {
          div.tab-pane {
            div.form {
              padding: 20px;
              border: 1px solid #eee;
              box-shadow: 0px 0px 1px #ccc;
              margin-top: 0;
              div.col-md-8 {
                form {
                  div.wrap.payment_cards {
                    margin-bottom: 5px;
                    img {
                      width: 25px;
                      opacity: 0.1;
                      margin-right: 5px;
                    }
                    img.clear {
                      width: 25px;
                      opacity: 1;
                    }
                  }
                  div.wrap.third {
                    margin-bottom: 1rem;
                    border: 1px solid #ccc;
                    div.form-group:first-child {
                      width: 73%;
                      margin-bottom: 0;
                      input, select {
                        border: none;
                      }
                    }
                    div.form-group:nth-child(2) {
                      width: 15%;
                      margin: 0;
                      input, select {
                        border: none;
                        text-align: center;
                      }
                    }
                    div.form-group:last-child {
                      width: 10%;
                      margin: 0;
                      input, select {
                        border: none;
                        text-align: center;
                      }
                    }
                  }
                  div.wrap.third.contact {
                    div.form-group:first-child {
                      width: 44%;
                    }
                    div.form-group:nth-child(2) {
                      width: 33%;
                    }
                    div.form-group:last-child {
                      width: 22%;
                    }
                  }
                  div.wrap.third:focus, div.wrap.third:hover, div.wrap.third:active {
                    border: 1px solid #000;
                  }
                }
              }
              div.col-md-4 {
                div.card_details {
                  padding: 13px;
                  border: 1px solid #eee;
                  box-shadow: 0px 0px 1px #ccc;
                  display: inline-block;
                  span, button {
                    float: right;
                    display: inline-block;
                    background: #ED4F32;
                    border: 1px solid #ED4F32;
                    color: #fff;
                    padding: 1px 5px;
                    margin-top: 7px;
                    margin-right: -4px;
                    border-radius: 2px;
                  }
                  p {
                    display: block;
                    margin-bottom: 0;
                    strong, small {
                      display: inline-flex;
                    }
                  }
                }
              }
              form {
                div.wrap {
                  div.actions {
                    width: 100% !important;
                    input {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .col-md-12:nth-child(n>1) {
    padding: 0 20px;
  }
}

#splash-screen, .splash-screen {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000 !important;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /*display: none;*/
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

#splash-screen.visible, #splash-screen-dialog.visible, .splash-screen.visible, .splash-screen-dialog.visible {
  display: block;
  visibility: visible;
}

#splash-screen-dialog, .splash-screen-dialog {
  position: fixed;
  z-index: 10000;
  border: 1px solid #c7c7c7;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  background: #fff;
  width: 40%;
  top: 20%;
  left: 30%;
  display: none;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;

}

#splash-screen-dialog .title, .splash-screen-dialog .title {
  color: #DD4F05;
}

#splash-screen-dialog #splash-wrap, .splash-screen-dialog #splash-wrap {
  position: relative;
  padding: 15px;
}

#splash-screen-dialog .splash-screen-content, .splash-screen-dialog .splash-screen-content {
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
  padding: 10px 20px;
  text-align: center;
  font-size: 110%;
}

#splash-screen-dialog .splash-screen-actions, .splash-screen-dialog .splash-screen-actions {
  padding: 10px;
  text-align: center;
  box-shadow: 0 -1px 2px #ccc;
}

.overlay_spinner {
  display: none;
  padding: 25%;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 30;
  background: rgba(255, 255, 255, 0.6);
  div {
    background-repeat: no-repeat;
    margin: auto;
    width: 70px;
    height: 70px;
  }
}

#data-type-wrap {
  margin: 5px 0;
}

#data-type-wrap .checker {
  display: inline-block !important;
}

#data-type-wrap .checker input {
  display: none;
}

#data-type-wrap .checker input[type="radio"]:checked {
  border: 1px #dd4c05 solid;
  background-color: #dc4e04;
  color: #fff;
  text-shadow: 0px 0px 1px;
}

#data-type-wrap .checker input[type="radio"]:checked + label {
  border: 1px #dd4c05 solid;
  background-color: #dc4e04;
  color: #fff;
  text-shadow: 0px 0px 1px;
}

#data-type-wrap .checker label {
  margin: 0 !important;
  cursor: pointer;
  border: 1px #ddd solid;
  padding: 5px 7px;
}

#data-type-wrap .checker label:hover {
  border: 1px #aaa solid;
}

.form-control {
  border-radius: 0 !important;
}

.rep_info_box {
  border: 1px solid #eee;
  padding: 15px;
  text-align: center;
  background: #fff !important;
  span {
    a:hover {
      color: #bbb;
    }
  }
}

.chart-stage.rep_info_box {
  margin-bottom: 20px;
}

.rep_info_box span, .rep_info_box span a {
  color: #9196aa;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.rep_info_box.dash h5, .rep_info_box.dash h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.success {
  color: #398439;
}

.warning {
  color: #d58512;
}

.danger {
  color: #ac2925;
}

.rep_info_box.chart_summary {
  padding: 10px 15px;
}

.chart_summary .item_rec {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 12px 0;
}

.chart_summary .item_rec h7, .chart_summary .item_rec span {
  display: inline-block;
  text-align: left;
}

.chart_summary .item_rec h7 {
  width: 40%;
  margin: 0;
  text-transform: uppercase;
  font-size: 110%;
  vertical-align: top;
}

.chart_summary .item_rec span {
  width: 60%;
}

.chart_summary .item_rec:last-child {
  border-bottom: none;
}
.grayscale{
	    transition: all 0.9s ease-in-out !important;
    filter: grayscale(0.9);
}
