{% extends "admin/auth/layout.html" %}
{% block body%}
<div class="setup-modal">
    <div class="login-modal-table">
        <div class="login-modal-table-row">
            <div class="login-modal-body">
                <div class="login-logo">
                    <h1>Setup your Client Account A</h1>
                </div>
                <form action="{{request.path}}" class="login-form" method="post" autocomplete="off"
                      id="login_form">

                    <div class="row">
                        <div class="col-5 col-offset-1">

                            <input type="hidden" name="referal" id="referal" value=""/>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="text" name="login[name]"
                                       data-text-input="true" autofocus="true" id="login_name"/> <label
                                    class="input-text-label" for="login_name">Admin Full Name</label></div>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="text" name="login[subdomain]"
                                       data-text-input="true" id="login_subdomain"/> <label
                                    class="input-text-label" for="login_subdomain">Contact Email</label></div>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="text" name="login[email]"
                                       data-text-input="true" id="login_email"/> <label
                                    class="input-text-label" for="login_email">Telephone Number</label></div>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="text" name="login[address]"
                                       data-text-input="true" id="login_address"/> <label
                                    class="input-text-label" for="login_address">Street Address</label></div>


                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="password" name="login[password]"
                                       data-text-input="true" id="login_password"/> <label class="input-text-label"
                                                                                           for="login_password">City</label>
                            </div>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="password" name="login[verify_password]"
                                       data-text-input="true" id="login_verify_password"/> <label class="input-text-label"
                                                                                           for="login_verify_password">State</label>
                            </div>
                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="password" name="login[verify_password]"
                                       data-text-input="true" id="login_verify_password"/> <label class="input-text-label"
                                                                                           for="login_verify_password">Country</label>
                            </div>
                        </div>
                        <div class="col-5">

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="text" name="login[name]"
                                       data-text-input="true" autofocus="true" id="login_name"/> <label
                                    class="input-text-label" for="login_name">Currency To Use</label></div>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="text" name="login[subdomain]"
                                       data-text-input="true" id="login_subdomain"/> <label
                                    class="input-text-label" for="login_subdomain">Timezone</label></div>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="text" name="login[email]"
                                       data-text-input="true" id="login_email"/> <label
                                    class="input-text-label" for="login_email">Payment Channels</label></div>

                            <div class='input-select-wrap large' data-text-input-parent="true">
                                <div class="select2-container">
                                    
                                
                                    <label class="input-select-label" for="login_select">State</label>
                                    <div class="input-select select2-selection--multiple">
                                        <select class="select2-selection--multiple" data-text-input="true" name="login[select]" id="login_select">

                                            <option value="0">---- Select One ----</option>
                                            <option value="8">Akwa Ibom</option>
                                            <option value="22">Abia</option>
                                            <option value="23">Abuja</option>
                                            <option value="25">Anambra</option>
                                            <option value="27">Adamawa</option>
                                            <option value="4">Borno</option>
                                            <option value="5">Bayelsa</option>
                                            <option value="29">Benue</option>
                                            <option value="1">Bauchi</option>
                                            <option value="10">Cross Rivers</option>
                                            <option value="9">Delta</option>
                                            <option value="26">Enugu</option>
                                            <option value="28">Edo</option>
                                            <option value="32">Ebonyi</option>
                                            <option value="2">Ekiti</option>
                                            <option value="20">Gombe</option>
                                            <option value="24">Imo</option>
                                            <option value="21">Jigawa</option>
                                            <option value="12">Kwara</option>
                                            <option value="16">Kaduna</option>
                                            <option value="31">Kebbi</option>
                                            <option value="34">Kano</option>
                                            <option value="36">Kastina</option>
                                            <option value="37">Kogi</option>
                                            <option value="33">Lagos</option>
                                            <option value="7">Nassarawa</option>
                                            <option value="18">Niger</option>
                                            <option value="6">Oyo</option>
                                            <option value="15">Osun</option>
                                            <option value="17">Ondo</option>
                                            <option value="35">Ogun</option>
                                            <option value="30">Plateau</option>
                                            <option value="19">Rivers</option>
                                            <option value="14">Sokoto</option>
                                            <option value="13">Taraba</option>
                                            <option value="11">Yobe</option>
                                            <option value="3">Zamfara</option>
                                            
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class='input-checkbox-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="checkbox" name="login[checkbox]" data-text-input="true" id="login_checkbox"/>
                                <label class="input-checkbox-label" for="login_checkbox">Checkbox</label>
                            </div>

                            <div class='input-radio-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="radio" name="login[radio]" data-text-input="true" id="login_radio"/>
                                <label class="input-radio-label" for="login_radio">Radio</label>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}