{% extends "client/general/settings.html" %}
{% block subnav %}
    <nav id="subnav" ng-if="current_nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    {% if obj.network_id %}
                    <li><a href="{{ url_for('.network_details', obj_id=obj.network_id) }}"> Overview </a></li>
                    <li><a href="{{ url_for('.network_req', obj_id=obj.id) }}"> Requests</a></li>
                    <li><a class="active" href="{{ url_for('.network_devices', obj_id=obj.network_id) }}"> Devices</a></li>
                    <li><a href="{{ url_for('.network_faults', obj_id=obj.network_id) }}"> Faults</a></li>
                    <li><a href="{{ url_for('.network_dev_new', obj_id=obj.network_id) }}"> Add Device</a></li>
                    {% else %}
                        <li>Unknown Network</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock subnav %}
{% block body %}
    <div class="row c_g_r" style="background: white">
        <div style="float: left; color: white">
            <h5 style="color: #FC6E06;">Device - #{{ obj.code }}</h5>
        </div>
    </div>
    <div style="margin: 15px"></div>
    {% for metric in obj.product.metrics %}
        <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">{{ metric.name }} Events</div>
                <div class="chart-stage" id="#{{ metric.slug }}-{{ metric.name }}Chart" style="width: 100%;height:450px;"></div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row c_g_r">
        <div class="col-sm-12 col-md-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <span>Active Alerts</span>
                </div>
                <div class="chart-stage chart-map-large"
                     style="height: 100%;max-height: 225px; min-height: 225px; overflow-y: scroll;">
                    {% if alerts|length > 0 %}
                        <div class="table" style="margin-bottom: 0;">
                            <div class="thead tr">
                                <span class="td">code</span>
                                <span class="td">threshold</span>
                                <span class="td">level</span>
                            </div>
                            {% for alert in alerts %}
                                <div class="tr">
                                    <span class="td">
                                        {{ alert.code }}<br>
                                        <small>{{ alert.date_created.strftime('%Y-%m-%d %H:%M%:%S' ) }}</small>
                                    </span>
                                    <span class="td">{{ alert.threshold }}</span>
                                    <span class="td">
                                        {% if alert.is_critical %}CRITICAL{% endif %}
                                        {% if alert.is_warning %}WARNING{% endif %}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="table" style="margin-bottom: 0;">
                            <h3 class="text-center" style="margin-top: 3em">No alerts set yet!</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Fault Patterns
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    {% if faults.total > 0 %}
                        <div class="table" style="margin-bottom: 0;">
                            <div class="thead tr">
                                <span class="td">date</span>
                                <span class="td"></span>
                                <span class="td">device</span>
                                <span class="td">level</span>
                            </div>
                            {% for fault in faults.items %}
                                <div class="tr">
                                    <span class="td center">
                                        {{ fault.timestamp.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                                    </span>
                                    <span class="td">
                                        {{ fault.body }}
                                    </span>
                                    <span class="td">{{ fault.device }}</span>
                                    <span class="td">{{ fault.level }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="table" style="margin-bottom: 0;">
                            <h3 class="text-center" style="margin-top: 3em">Everything is OK!</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script type="text/javascript">

        var devices = {{ metrics|tojson }};

        $.each(devices, function (pos, dev) {
            dev.mapChart, dev.mapOption = buildChart(dev.slug, dev.name, dev.dimension);
        });

    </script>
{% endblock %}