{% extends "support/layout.html" %}
{% block body %}
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">FAQ</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->

				<!-- timeline grid start -->
				<!-- ================ -->
				<div class="timeline clearfix">

					<!-- timeline grid item start -->
					<div class="timeline-item">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div id="carousel-blog-post" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators bottom margin-clear">
									<li data-target="#carousel-blog-post" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-blog-post" data-slide-to="1"></li>
									<li data-target="#carousel-blog-post" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="overlay-container">
											<img src="/static/images/blog-1.jpg" alt="">
											<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
										</div>
									</div>
									<div class="item">
										<div class="overlay-container">
											<img src="/static/images/blog-3.jpg" alt="">
											<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
										</div>
									</div>
									<div class="item">
										<div class="overlay-container">
											<img src="/static/images/blog-4.jpg" alt="">
											<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>
							</div>
							<header>
								<h2><a href="blog-post.html">Blogpost with slider</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">12</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum.</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

					<!-- timeline grid item start -->
					<div class="timeline-item pull-right">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/static/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Cute Robot</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

					<!-- timeline grid item start -->
					<div class="timeline-item">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
							<header>
								<h2><a href="blog-post.html">Text Post</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">09</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

					<!-- timeline grid item start -->
					<div class="timeline-item pull-right">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="//www.youtube.com/embed/v1uyQZNg2vE"></iframe>
							</div>
							<header>
								<h2><a href="blog-post.html">Blogpost with embedded youtube video</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">08</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim.</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

					<!-- timeline grid item start -->
					<div class="timeline-item">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
							<div class="audio-wrapper">
								<iframe height="166" class="margin-clear" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/106329682&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
							</div>
							<header>
								<h2><a href="blog-post.html">Audio post</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">08</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

					<!-- timeline grid item start -->
					<div class="timeline-item pull-right">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
							<div class="overlay-container">
								<img src="/static/images/blog-3.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Nunc interdum mi neque</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">07</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

          <!-- timeline grid item start -->
					<div class="timeline-item">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
							<div class="overlay-container">
								<img src="/static/images/blog-4.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Distinctio magni aut illum</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">06</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio magni aut illum animi laboriosam esse quidem sit illo fugit est culpa facilis amet, ab doloremque magnam, sapiente architecto natus. Voluptatem esse optio explicabo dolore impedit debitis deleniti porro doloribus provident perferendis nostrum quasi nobis magni atque mollitia, quas, quos corporis!</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

					<!-- timeline grid item start -->
					<div class="timeline-item pull-right">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
							<header>
								<h2><a href="blog-post.html">Voluptatem esse optio explicabo dolore impedit</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">06</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio magni aut illum animi laboriosam esse quidem sit illo fugit est culpa facilis amet, ab doloremque magnam, sapiente architecto natus. Voluptatem esse optio explicabo dolore impedit debitis deleniti porro doloribus provident perferendis nostrum quasi nobis magni atque mollitia, quas, quos corporis!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto veniam, perspiciatis libero quasi, iusto delectus sed accusantium fugit inventore iure molestiae amet voluptatem, ut dolorem ex dolorum ea impedit quae!</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

					<!-- timeline grid item start -->
					<div class="timeline-item">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
							<div class="overlay-container">
								<img src="/static/images/blog-1.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Successful business ideas</a></h2>
								<!-- <div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">06</span>
										<span class="month">May 2015</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div> -->
							</header>
							<div class="blogpost-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto veniam, perspiciatis libero quasi, iusto delectus sed accusantium fugit inventore iure molestiae amet voluptatem, ut dolorem ex dolorum ea impedit quae!</p>
							</div>
							<footer class="clearfix">
								<!-- <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div> -->
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->
					</div>
					<!-- timeline grid item end -->

				</div>
				<!-- timeline grid end -->

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
{% endblock body %}
