<ui-view>
    <div class="form col-md-12">
        <div class="col-md-8">
            <h6>Request New Device</h6>
            <form method="post" ng-submit="send()">
                <div class="wrap">
                    <div class="form-group">
                        <label>Product</label>
                        <select name="product_id" ng-model="deviceForm.product_id" required>
                            <option value="">Select Product</option>
                            <option ng-repeat="product in products" ng-value="product.id">[[product.name]] | [[product.code]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.product_id" ng-bind="data.error.product_id[0]"></span>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group">
                        <label>Network</label>
                        <select name="network_id" ng-model="deviceForm.network_id" required>
                            <option value="">Select Network</option>
                            <option ng-repeat="network in networks" ng-value="network.id">[[network.code]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.network_id" ng-bind="data.error.network_id[0]"></span>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>
                Description Details
            </p>
        </div>
    </div>
</ui-view>
