<ui-view>
    <style>
    h6.title{
text-transform: uppercase;
    }
    </style>
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">
                <li class="action_nav_item"><a ui-sref="network_requests({id: network.id})" ng-show="device_requests.length > 0"
               ><sup class="badge" ng-bind="device_requests.length"></sup>&nbsp;REQUESTS</a></li>
                <li class="action_nav_item"><a class="active" ui-sref="network_dev_new({id: network.id})" ><i class="fa fa-plus"
                                                                                         aria-hidden="true"></i>&nbsp;ADD
                DEVICE</a></li>
                <li><a ui-sref="network_reports({id: network.id})" ><i class="fa fa-area-chart"
                                                                                         aria-hidden="true"></i>&nbsp;REPORTS</a></li>
            </ul>
            <span>Network</span>
        </div>
    <div class="form col-md-12">
        <div class="col-md-8">
            <h6 ng-show="devices.length > 0" class="title" style="margin: 0 0 10px 0;color: #9196aa;">Request a gateway device</h6>
            <form method="post" ng-submit="save()" ng-show="devices.length > 0">
                <div class="wrap">
                    <div class="form-group">
                        <label for="device_id">Devices</label>
                        <select name="device_id" ng-model="formData.device_id" required>
                            <option ng-repeat="device in devices" ng-value="device.id"> [[ device.code ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.device_id" ng-bind="data.error.device_id[0]"></span>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
            <div class="text-center" ng-hide="devices.length > 0">
                <p></p>
                <p></p>
                <h4>No devices to add</h4>
            </div>
        </div>
        <div class="col-md-4">
            <p>
                Description Details
            </p>
        </div>
    </div>
</ui-view>
