<ui-view ng-init="init_controller()">
    <div class="form col-md-12">
        <div class="col-md-8">
            <form method="post" ng-submit="save()">
                <div class="wrap full">
                    <div class="form-group has-feedback">
                        <label class="control-label">Manager</label>
                        <select name="manager_id" ng-model="form.manager_id" required>
                            <option ng-repeat="user in data.users" ng-value="user.id">[[ user.address.first_name ]] [[user.address.last_name]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.manager_id" ng-bind="data.error.manager_id[0]"></span>
                    </div>
                </div>
                <div class="wrap full">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" ng-model="form.name" placeholder="e.g. Ota Power Plant" required>
                    </div>
                </div>
                <div class="wrap half">
                    <div class="form-group">
                        <label for="line1">Street Location</label>
                        <input type="text" name="line1" ng-model="form.line1" placeholder="e.g.14, Ebimpejo Lane" required>
                        <span style="color: red" ng-show="data.error.line1" ng-bind="data.error.line1[0]"></span>
                    </div>
                    <div class="form-group">
                        <label for="line2">LandMark</label>
                        <input type="text" name="line2" ng-model="form.line2" placeholder="e.g.National Stadium">
                        <span style="color: red" ng-show="data.error.line2" ng-bind="data.error.line2[0]"></span>
                    </div>
                </div>
                <div class="wrap third">
                    <div class="form-group has-feedback">
                        <label class="control-label">Country</label>
                        <select name="country_id" ng-model="form.country_id" ng-change="changeStates()" required>
                            <option ng-repeat="country in countries" ng-value="country.id">[[ country.name ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.country_id" ng-bind="data.error.country_id[0]"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">State</label>
                        <select name="state_id" ng-model="form.state_id" ng-change="changeCities()" required>
                            <option ng-repeat="state in states" ng-value="state.id">[[ state.name ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.state_id" ng-bind="data.error.state_id[0]"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">City</label>
                        <select name="city_id" ng-model="form.city_id" required>
                            <option ng-repeat="city in cities" ng-value="city.id">[[ city.name ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.city_id" ng-bind="data.error.city_id[0]"></span>
                    </div>
                </div>

                {#                <div class="wrap quarter">#}
                {#                    <div class="form-group">#}
                {#                        <label for="">Device Code</label>#}
                {#                        <input type="text" name="name" value="">#}
                {#                    </div>#}
                {#                    <div class="form-group">#}
                {#                        <label for="">Device Brand</label>#}
                {#                        <input type="text" name="name" value="">#}
                {#                    </div>#}
                {#                    <div class="form-group">#}
                {#                        <label for="">Device Brand</label>#}
                {#                        <input type="text" name="name" value="">#}
                {#                    </div>#}
                {#                    <div class="form-group">#}
                {#                        <label for="">Device Brand</label>#}
                {#                        <input type="text" name="name" value="">#}
                {#                    </div>#}
                {#                </div>#}
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>
                Description Details
            </h3>
            <p>Create a Station/Facility</p>
        </div>
    </div>
</ui-view>
