<ui-view id="custPage">
    <div class="row c_g_r">
        <div style="float: left">
            <h5 style="color: #FC6E05" ng-bind="customer.address.full_name"></h5>
        </div>
        <div style="float: right; color: white">
            <a ui-sref="customer_requests({id: customer.id})" ng-show="device_requests.length > 0"
               style="color: black" class="btn-sm btn-default">
                <sup class="badge" ng-bind="device_requests.total"></sup>&nbsp;REQUESTS</a>
            <a ui-sref="customer_devices({id: customer.id})" class="btn-sm btn-warning"><i
                    class="fa fa-gears" aria-hidden="true"></i>&nbsp;DEVICES</a>
            <a ui-sref="customer_reports({id: customer.id})" class="btn-sm btn-primary"><i
                    class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;REPORTS</a>
        </div>
    </div>
    <div style="margin: 15px"></div>

    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Active Devices
                    <small style="float: right">
                        <a ui-sref="customer_devices({id: customer.id})">View All</a> |
                        <a ui-sref="customer_devices_new({id: customer.id})">Add New</a>
                    </small>
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="devices.length > 0">
                        <div class="thead tr">
                            <span class="td">code</span>
                            <span class="td center">Status</span>
                        </div>
                        <div class="tr" ng-repeat="obj in active_devices">
                            <span class="td">
                                <span>[[ obj.code ]]</span><br>
                                <small>[[ obj.date_created | date ]]</small>
                            </span>
                        </div>
                    </div>
                    <div class="tr" id="empty_list_box" ng-hide="active_devices.length > 0">
                        <h3 style="text-align: center;">
                            <a ui-sref="customer_devices_new({id:customer.id})"
                               style="font-size: 30px; color: lightgrey;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                <span>request device</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin: 15px"></div>

    <div class="row c_g_r" ng-repeat="device in devices">
        <div class="row c_g_r" style="margin-bottom: 10px; height: 50px; ">
            <div style="float: left; margin-left: 20px">
                <button ng-click="deviceService.ping(device.code)" class="btn-xs btn-success btn-circle">
                    PING!
                </button>
                <h7 ng-bind="device.code"></h7>
            </div>
        </div>
        <div ng-repeat="metric in device.product.metrics">
            <div class="col-sm-9">
                <div class="chart-wrapper">
                    <div class="chart-title">[[metric.name]] Events</div>
                    <div class="chart-stage" id="#[[device.code]]-[[metric.name]]Chart" style="width: 100%;height:275px;"></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="chart-wrapper">
                    <div class="chart-stage">
                        <div class="row">
                            <div class="">
                                <div class="chart-title" style="text-align: center;">
                                    [[metric.name]] Reading in [[metric.dimension]]
                                </div>
                                <div class="chart-stage" id="#[[device.code]]-[[metric.name]]Gauge" style="width: 100%;height:247px;"></div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        (function blink() {
            $('.pulse').fadeOut(500).fadeIn(500, blink);
        })();

        var scope = angular.element($('#custPage')).scope();

        if (scope.customer) {

            setTimeout(function () {
                var customer = scope.customer;
                $.each(scope.devices, function (pos, dev) {
                    $.each(dev.product.metrics, function (num, metric) {
                        metric.gaugeChart, metric.gaugeOption = scope.buildGauge(dev.code, metric.name, metric.dimension);
                        metric.mapChart, metric.mapOption = scope.buildChart(dev.code, metric.name, metric.dimension)
                    });
                });
            }, 1000);
        }

    </script>
</ui-view>
