<ui-view id="detailPage">
    <div class="row c_g_r" style="background: white">
        <div style="float: right; color: white">
            <a ui-sref="device_requests({id: installation.id})" ng-show="device_requests.length > 0" style="color: black" class="btn-sm btn-default"><sup class="badge" ng-bind="device_requests.length"></sup>&nbsp;REQUESTS</a>
            <a ui-sref="device_reports({id: installation.id})" class="btn-sm btn-primary"><i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;REPORTS</a>
        </div>
    </div>
    <div style="margin: 15px"></div>
    <div class="row c_g_r" ng-repeat="device in installation.devices">
        <div class="col-sm-9">
            <div class="chart-wrapper">
                <div class="chart-stage" id="fullTempChart" style="width: 100%;height:450px;"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper" style="height: 132px;">
                <div class="chart-stage chart-map-small">
                    <div class="col-md-4 ping">
                        <div class="pulse"><i class="fa fa-circle"></i></div>
                        <button ng-click="deviceService.ping('MAX-STEEL')" class="btn-xs btn-success btn-circle">
                            PING!
                        </button>
                    </div>
                </div>
            </div>
            <div class="chart-wrapper">
                <div class="chart-stage">
                    <div class="row">
                        <div class="">
                            <div class="chart-title" style="text-align: center;">
                                Current Reading
                            </div>
                            <div class="chart-stage" id="max-chart" style="width: 100%;height:247px;"></div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="row c_g_r">
        <div class="col-sm-6">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Active Devices
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="devices.length > 0">
                        <div class="thead tr">
                            <span class="td">code</span>
                            <span class="td" style="text-align: center">Latest Reading</span>
                            <span class="td center">Status</span>
                        </div>
                        <div class="tr" ng-repeat="obj in devices">
                            <span class="td">
                                <a ui-sref="device_details({id: obj.id})">[[ obj.code ]]</a><br>
                                <small>[[ obj.date_created | date ]]</small>
                            </span>
                            <span class="td">
                                <span class="caption" style="text-align: center" ng-bind="obj.reading"></span>
                            </span>
                            <span class="td center" ng-bind="obj.status"></span>
                        </div>
                    </div>
                    <div class="tr" id="empty_list_box" ng-hide="devices.length > 0">
                        <h3 style="text-align: center;">
                            <a ui-sref="devices_new({id:installation.id})" style="font-size: 30px; color: lightgrey;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                <span>request device</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Active Devices
                </div>
                <div class="chart-stage chart-map-small">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#46b8da;">
                        [[ active_count ]]</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Connected Devices
                </div>
                <div class="chart-stage chart-map-small">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">
                        [[ installation.devices.length ]]</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row c_g_r" ng-show="faults.length > 0">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Fault Patterns
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="devices.length > 0">
                        <div class="thead tr">
                            <span class="td"></span>
                            <span class="td">device</span>
                            <span class="td">level</span>
                            <span class="td">date</span>
                        </div>
                        <div class="tr" ng-repeat="rec in faults">
                            <span class="td" ng-bind="rec.body"></span>
                            <span class="td" ng-bind="rec.device"></span>
                            <span class="td" ng-bind="rec.level"></span>
                            <span class="td center" ng-bind="rec.timestamp"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <div class="row c_g_r">#}
    {#        <div class="col-sm-12">#}
    {#            <div class="chart-wrapper">#}
    {#                <div class="chart-stage" id="pubNubchart" style="width: 100%;height:450px;"></div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <script src="/static/js/angular/detail.js"></script>
    <script type="text/javascript">

        (function blink() {
            $('.pulse').fadeOut(500).fadeIn(500, blink);
        })();

    </script>
    {#    <script>#}
    {#         var pubnub = new PubNub({#}
    {#            publish_key: 'pub-c-d9394df9-a2e8-4e0f-8560-798b69b579a9',#}
    {#            subscribe_key: 'sub-c-e19e7886-b18b-11e7-b4e4-2675c721e615'#}
    {#        });#}
    {#        var channel = "c3-bar-test" + Math.random();#}
    {##}
    {#        eon.chart({#}
    {#            pubnub: pubnub,#}
    {#            channels: [channel],#}
    {#            limit: 10,#}
    {#            generate: {#}
    {#              bindto: '#pubNubchart',#}
    {#              data: {#}
    {#                labels: true,#}
    {#                type: 'line'#}
    {#              },#}
    {#              bar: {#}
    {#                width: {#}
    {#                  ratio: 0.5#}
    {#                }#}
    {#              },#}
    {#              axis: {#}
    {#                  // rotated: true#}
    {#              }#}
    {#            }#}
    {#        });#}
    {#    </script>#}
    {#    <script>#}
    {#        setInterval(function(){#}
    {#            pubnub.publish({#}
    {#              channel: channel,#}
    {#              message: {#}
    {#                eon: {#}
    {#                  'Austin': Math.floor(Math.random() * 99),#}
    {#                  'New York': Math.floor(Math.random() * 99),#}
    {#                  'San Francisco': Math.floor(Math.random() * 99),#}
    {#                  'Portland': Math.floor(Math.random() * 99)#}
    {#                }#}
    {#              }#}
    {#            });#}
    {#          }, 60000);#}
    {#    </script>#}
</ui-view>
