<ui-view id="detailPage">
    <style>
        .mt20 {
            margin-top: 20px;
        }

        .info {
            text-align: left;
        }

        .info_half {
            width: 50%;
            display: inline-block;
            padding: 10px 0;
        }

        .info_half.ltf {
            padding-right: 10px;
            float: left;
        }

        .info_half.rgh {
            padding-left: 10px;
            float: right;
        }

        .info_half .item_rec {
            display: block;
        }

        .info_half .item_rec h7, .info_half .item_rec span {
            display: inline-block;
        }

        .info_half .item_rec h7 {
            text-transform: capitalize;
            width: 70%;
            text-align: right;
            padding-right: 10px;
        }

        .info_half .item_rec span {

            width: 30%;
            text-align: left;

        }

        .info_half .item_rec span h6 {
            display: inline-block;
            border: 1px solid #ddd;
            padding: 5px;
            width: 50px;
            height: 25px;
            text-align: right;
            font-size: 13px;
            color: #373a3c;
        }

        #power_mode {
            padding: 0;
            display: block;
        }

        .power_modes {
            display: inline-block;
            padding: 5px 10px;
        }

        .power_modes.active {
            border: 1px solid #FC6E06;
            background: #FC6E06;
            color: #fff;
        }

        #p_modes {
            display: block;
            overflow: hidden;
            position: relative;
            width: 70%;
            margin: auto;
        }

        .p_modes {
            display: block;
            text-align: center;
            position: relative;
        }

        .p_modes img {
            width: 60px;
        }

        .p_modes.s {
            padding: 30px 20px;
        }

        .p_modes.s img:first-child {
            float: right;
        }

        .p_modes.s img:last-child {
            float: left;
        }
    </style>
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
        <ul id="action_navs">
            <li class="action_nav_item"><a class="active" ui-sref="installation_details({id: obj.id})"
            >
                &nbsp;OVERVIEW</a></li>
            <li class="action_nav_item"><a ui-sref="installation_requests({id: installation.id})"
                                           ng-show="device_requests.length > 0"
            >
                <sup class="badge" ng-bind="device_requests.length"></sup>&nbsp;REQUESTS</a></li>
            <li class="action_nav_item"><a ui-sref="installation_devices({id: installation.id})"><i
                    class="fa fa-gears" aria-hidden="true"></i>&nbsp;DEVICES</a></li>
            <li class="action_nav_item"><a ui-sref="devices_new({id: installation.id})"><i
                    class="fa fa-plus" aria-hidden="true"></i>&nbsp;ADD DEVICE
            </a></li>
            <li class="action_nav_item"><a ui-sref="installation_alerts({id: installation.id})"><i
                    class="fa fa-bell-o"
                    aria-hidden="true"></i>&nbsp;ALERTS</a></li>
            <li class="action_nav_item"><a ui-sref="alerts_new({id: installation.id})"><i
                    class="fa fa-plus"
                    aria-hidden="true"></i> ADD ALERTS</a></li>
            <li class="action_nav_item"><a ui-sref="installation_reports({id: installation.id})"><i
                    class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;REPORTS</a></li>
        </ul>
        <span ng-bind="installation.code"></span>
    </div>

    <div class="row c_g_r">
        <div class="col-sm-8">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Active Devices
                    <small style="float: right">
                        <a ui-sref="installation_devices({id: installation.id})">View All</a> |
                        <a ui-sref="devices_new({id: installation.id})">Add New</a>
                    </small>
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="active_devices.length > 0">
                        <div class="thead tr">
                            <span class="td">code</span>
                            <span class="td center">Status</span>
                        </div>
                        <div class="tr" ng-repeat="obj in active_devices">
                            <span class="td">
                                <span>[[ obj.code ]]</span><br>
                                <small>[[ obj.date_created | date ]]</small>
                            </span>
                            {#                             <span class="td center" ng-show="obj.is_active">#}
                            {#                                 <button class="btn-xs btn-danger">DEACTIVATE</button>#}
                            {#                             </span>#}
                            {#                            <span class="td center" ng-hide="obj.is_active">#}
                            {#                                <button class="btn-xs btn-success">ACTIVATE</button>#}
                            {#                            </span>#}
                        </div>
                    </div>
                    <div class="tr" id="empty_list_box" ng-hide="active_devices.length > 0">
                        <h3 style="text-align: center;">
                            <a ui-sref="devices_new({id:installation.id})"
                               style="font-size: 30px; color: lightgrey;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                <span>request device</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Connected Devices
                </div>
                <div class="chart-stage">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#46b8da;">
                        [[ active_count ]]</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Active Alerts
                    <small style="float: right"><a ui-sref="installation_alerts({id: installation.id})">View All</a>
                    </small>
                </div>
                <div class="chart-stage">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">
                        [[ alerts.length ]]</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row c_g_r" ng-show="faults.length > 0">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Fault Patterns
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="devices.length > 0">
                        <div class="thead tr">
                            <span class="td"></span>
                            <span class="td">device</span>
                            <span class="td">level</span>
                            <span class="td">date</span>
                        </div>
                        <div class="tr" ng-repeat="rec in faults">
                            <span class="td" ng-bind="rec.body"></span>
                            <span class="td" ng-bind="rec.device"></span>
                            <span class="td" ng-bind="rec.level"></span>
                            <span class="td center" ng-bind="rec.timestamp"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 15px"></div>

    <div class="row c_g_r" ng-repeat="device in installation.active_devices">
        <div class="row c_g_r" style="margin-bottom: 10px; height: 50px; ">
            <div style="float: left; margin-left: 20px">
                <button ng-click="deviceService.ping(device.code)" class="btn-xs btn-success btn-circle">
                    PING!
                </button>
                <h7 ng-bind="device.code" style="padding-left: 5px"></h7>
            </div>
        </div>
        {#        <div ng-show="device.product.id !== 7" ng-repeat="metric in device.product.metrics">#}
        {#            <div class="col-sm-9">#}
        {#                <div class="chart-wrapper">#}
        {#                    <div class="chart-title">[[metric.name]] Events</div>#}
        {#                    <div class="chart-stage" id="#[[device.code]]-[[metric.name]]Chart"#}
        {#                         style="width: 100%;height:275px;"></div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-sm-3">#}
        {#                <div class="chart-wrapper">#}
        {#                    <div class="chart-stage">#}
        {#                        <div class="row">#}
        {#                            <div class="">#}
        {#                                <div class="chart-title" style="text-align: center;">#}
        {#                                    [[metric.name]] Reading in [[metric.dimension]]#}
        {#                                </div>#}
        {#                                <div class="chart-stage" id="#[[device.code]]-[[metric.name]]Gauge"#}
        {#                                     style="width: 100%;height:247px;"></div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <br>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>

    <div ng-repeat="device in installation.active_devices">

        <div class="row c_g_r">
            <div class="col-md-3">
                <div class="rep_info_box dash">
                    <h5 ng-bind="installation.title"></h5>
                    <span>installation</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rep_info_box dash">
                    <h5 ng-bind="installation.model_number"></h5>
                    <span>model number</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rep_info_box dash">
                    <h5><span ng-show="device.is_coordinator">Coordinator</span><span
                            ng-show="device.is_node">Node</span></h5>
                    <span>Type</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rep_info_box dash">
                    <h5 class="success" ng-show="device.is_active">Active</h5>
                    <h5 class="danger" ng-hide="device.is_active">In-Active</h5>
                    <span>Status</span>
                </div>
            </div>
        </div>

        <!-- custom device view -->
        <div class="row c_g_r">
            <div class="col-md-6 mt20">
                <div class="rep_info_box info" style="height: 310px;">
                    <ul id="power_mode">
                        <li class="power_modes active">Battery Mode</li>
                        <li class="power_modes">AC Mode</li>
                        <li class="power_modes">Solar Mode</li>
                    </ul>
                    <div id="p_modes">
                        <div class="p_modes t">
                            <img class="grayscale" src="/static/images/icons/transformer.png" alt="">
                        </div>
                        <div class="p_modes s">
                            <img class="grayscale" src="/static/images/icons/solar-panel.png" alt="">
                            <img class="" src="/static/images/icons/batteryWet.png" alt="">
                        </div>
                        <div class="p_modes b">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 mt20">
                <div class="rep_info_box info">
                    <h6><strong>Basic Information</strong></h6>

                    <div class="info_half rgh">
                        <div class="item_rec">
                            <h7>Battery discharge current</h7>
                            <span><h6>8</h6> A</span>
                        </div>
                        <div class="item_rec">
                            <h7>Output Voltage</h7>
                            <span><h6>8</h6> V</span>
                        </div>
                        <div class="item_rec">
                            <h7>Output Frequency</h7>
                            <span><h6>8</h6> Hz</span>
                        </div>
                        <div class="item_rec">
                            <h7>Output apparent power</h7>
                            <span><h6>8</h6> W</span>
                        </div>
                        <div class="item_rec">
                            <h7>Output active power</h7>
                            <span><h6>8</h6> W</span>
                        </div>
                        <div class="item_rec">
                            <h7>load percent</h7>
                            <span><h6>8</h6> %</span>
                        </div>
                    </div>
                    <div class="info_half ltf">
                        <div class="item_rec">
                            <h7>AC Voltage</h7>
                            <span><h6>8</h6> V</span>
                        </div>
                        <div class="item_rec">
                            <h7>AC Frequency</h7>
                            <span><h6>8</h6> Hz</span>
                        </div>
                        <div class="item_rec">
                            <h7>PV Input Voltage</h7>
                            <span><h6>8</h6> V</span>
                        </div>
                        <div class="item_rec">
                            <h7>PV Input Power</h7>
                            <span><h6>8</h6> W</span>
                        </div>
                        <div class="item_rec">
                            <h7>Battery Voltage</h7>
                            <span><h6>8</h6> V</span>
                        </div>
                        <div class="item_rec">
                            <h7>Battery Capacity</h7>
                            <span><h6>8</h6> %</span>
                        </div>
                        <div class="item_rec">
                            <h7>Charging Current</h7>
                            <span><h6>8</h6> A</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {#        <div class="row">#}
        {#            <div class="col-md-3 pull-right">#}
        {#                <div class="rep_info_box chart_summary">#}
        {#                    {% if device.client %}#}
        {#                        <div class="item_rec">#}
        {#                            <h7>Client</h7>#}
        {#                            <span>{{ device.client.name }}</span>#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                    {% if device.network %}#}
        {#                        <div class="item_rec">#}
        {#                            <h7>Network</h7>#}
        {#                            <span>{{ device.network.code }}</span>#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                    {% if device.station %}#}
        {#                        <div class="item_rec">#}
        {#                            <h7>Station</h7>#}
        {#                            <span>{{ device.station.name }}</span>#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                    {% if device.installation %}#}
        {#                        <div class="item_rec">#}
        {#                            <h7>Installation</h7>#}
        {#                            <span>{{ device.installation.title }}</span>#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                    {% if device.point %}#}
        {#                        <div class="item_rec">#}
        {#                            <h7>Longitude</h7>#}
        {#                            <span>{{ device.point.longitude }} <i class="fa fa-map-marker"></i></span>#}
        {#                        </div>#}
        {#                        <div class="item_rec">#}
        {#                            <h7>Latitude</h7>#}
        {#                            <span>{{ device.point.latitude }} <i class="fa fa-map-marker"></i></span>#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                    <div class="item_rec">#}
        {#                        <h7>Last Ping</h7>#}
        {#                        <span>{{ today.strftime('%b %d, %Y %H:%M %p') }}</span>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>


    <script type="text/javascript">

        (function blink() {
            $('.pulse').fadeOut(500).fadeIn(500, blink);
        })();

        var scope = angular.element($('#detailPage')).scope();

        if (scope.active_devices) {

            console.log(scope.active_devices);

            setTimeout(function () {
                var installation = scope.installation;
                $.each(installation.active_devices, function (pos, dev) {
                    $.each(dev.product.metrics, function (num, metric) {
                        metric.gaugeInfo = scope.buildGauge(dev.code, metric.name, metric.dimension);
                        metric.chartInfo = scope.buildChart(dev.code, metric.name, metric.dimension);
                        scope.mqttListener(scope.ChartService, "devices/" + dev.code, metric.slug, metric.chartInfo, metric.gaugeInfo)
                    });
                });
            }, 1000);
        }

    </script>
</ui-view>
