/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version:1.2.0
Created:December 2014
License URI:http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/
.service-section {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.service-tile {
    position: relative;
    margin-bottom: 8px;
    margin-right: 8px;
    float: left;
    transition: outline .125s ease-in-out, -webkit-transform .125s ease-in-out;
    display: inline-block;
    font-size: 18px;
    color: inherit;
}

.service-margin {
    width: 54px;
    min-width: 16px;
    max-width: 54px;
}

.service-description-block {
    width: 180px;
    display: inline-block;
    white-space: normal;
}

.service-map {
    margin-left: 40px;
    min-width: 285px;
    white-space: nowrap;
}
.service-map ul li:after{
    content: none;
}
.service-map ul li a:after{
    content: none;
}
.service-map ul li a div.service-section:after{
    content: none;
}
.service-group {
    text-decoration: none;
    font-family: Segoe UI Semilight WestEuropean, Segoe UI Semilight, Segoe UI, Tahoma, Arial, sans-serif;
    height: 25px;
    width: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0);
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.service-icon {
    display: block;
    padding: 15px;
    font-size: 30px;
}

.service-nav-tiles {
    display: flex;
    overflow: hidden;
}

.service-nav-tile {
    position: relative;
    margin-bottom: 8px;
    margin-right: 8px;
    float: left;
    background-color: rgba(255, 255, 255, 0.0901961);
    transition: outline .125s ease-in-out, -webkit-transform .125s ease-in-out;
    display: inline-block;
}

.service-menu-tile {
    flex-grow: 1;
    min-width: 750px;
}

.service-nav-href {
    text-decoration: none !important;
    font-family: Segoe UI Semilight WestEuropean, Segoe UI Semilight, Segoe UI, Tahoma, Arial, sans-serif;
    height: 100px;
    width: 100px;
    border: 2px solid hsla(0, 0%, 100%, 0);
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.service-nav-href:hover{
    color: #fff !important;
    border: 2px solid #333;
    text-shadow: 0px 0 0px #fff !important;
}
.service-nav-span {
    display: block;
    padding-top: 17px;
    font-size: 36px;
    height: 68px;
}

.service-nav-name {
    font-size: 13px;
    position: relative;
    height: 32px;
    margin: 0 6px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.service-nav-img {
    max-width: 80px;
    width: 50px;
    margin: auto;
}

.service-tab-name {
    font-size: 14px;
    margin: 0;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    color: inherit; !important;
}

.service-subtitle {
    font-size: 10px;
    text-transform: lowercase;
}
#flash {
    background: rgba(221, 79, 5, 0.8);
    color: #fff;
    padding: 7px 10px;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.service-section:after{
    content: none !important;
}

/*#flash_clear {*/
   /*height: 35px;*/
/*}*/