{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12">  
  <div class="container-fluid">
    	
	 <section id="fof" class="clear">
	      <div class="hgroup">
	        <h1><span><strong>{{error_code[0]}}</strong></span><span><strong>{{error_code[1]}}</strong></span><span><strong>{{error_code[2]}}</strong></span></h1>
	        <h2>Error ! <span>{{error_title}}</span></h2>
	      </div>
	      <p>{{error_info}}</p>
	      <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>
	    </section>
  </div>
</div>
{% endblock body%}