{% extends "admin/auth/layout.html" %}
{% block body%}
<div class="login-modal">
    <div class="login-modal-table">
        <div class="login-modal-table-row">
            <div class="login-modal-body">
                <div class="login-logo">
                    <img src="/static/images/atele.png"/>
                </div>

                <form action="{{request.path}}" class="login-form" method="post" autocomplete="off"
                      id="login_form">

                    <div class="row">
                        <div class="col-10 col-offset-1">

                            <input type="hidden" name="referal" id="referal" value=""/>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="text" name="login[username]"
                                       data-text-input="true" autofocus="true" id="login_username"/> <label
                                    class="input-text-label" for="login_username">Username</label></div>

                            <div class='input-text-wrap large' data-text-input-parent="true">
                                <input class="input-text login-input-text" type="password" name="login[password]"
                                       data-text-input="true" id="login_password"/> <label class="input-text-label"
                                                                                           for="login_password">Password</label>
                            </div>
                        </div>
                    </div>

                    <div class="row login-password-options">
                        <div class="col-5 col-offset-1">
                            <div class="input-checkbox-wrap">
                                <input type="checkbox" name="login[remember]" id="login_remember"/> <label
                                    class="input-checkbox-label" for="login_remember">Remember Me</label></div>
                        </div>
                        <div class="col-5">
                        <a class="login-link" href="#">Forgot your password?</a></div>
                    </div>

                    <div class="login-btn">
                        <input class="btn btn-primary" type="submit" value="Log In">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}