{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12">
  <div class="pg_head">
    <h2>
      {{page_title}}?
    </h2>
    <div class="separator"></div>
    <h5>
      <small>This action is not reversable</small>
    </h5>
    
  </div>

  <section>
    <form name="form" action="{{request.path}}" enctype="multipart/form-data" method="post">
      <div class="pull-right">
          <a href="{{prev_url}}" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
       </div>
     </form>
  </section>

</div>
{% endblock body%}