{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12 mb">
	<div class="pg_head">
		<h2>
	  	{{page_title}}
	  </h2>
	  <div class="separator"></div>
	  <h5>
	  	<a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-angle-left"> Back</i></a>
	  </h5>
	  
	</div>
  
  <form name="form" enctype="multipart/form-data" method="post" action="{{request.path}}">
    {{form.csrf_token}}
      <div class="form-group {% if form.name.errors %} has-error {% endif %}">
        <div class="col-sm-12">
            <label for="{{form.name.name}}" class="control-label">{{form.name.label.text}}</label>
            {{form.name(class="form-control")}}
            {% if form.name.description %}
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            {% endif %}
            {% if form.name.errors %}
            {% for e in form.name.errors %}<span class="help-block">{{e}}</span>{% endfor %}
            {% endif %}
        </div>
      </div>
      <div class="form-group {% if form.code.errors %} has-error {% endif %}">
        <div class="col-sm-12">
            <label for="{{form.code.name}}" class="control-label">{{form.code.label.text}}</label>
            {{form.code(class="form-control")}}
            {% if form.code.description %}
            <span class="help-block">{{form.code.description}}</span>
            {% endif %}
            {% if form.code.errors %}
            {% for e in form.code.errors %}<span class="help-block">{{e}}</span>{% endfor %}
            {% endif %}
        </div>
      </div>
      <div class="form-group fl_right">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success">Submmit <i class="fa fa-thumbs-up"></i></button>
        </div>
      </div>
  </form>
</div>
{% endblock body%}