<style>
    .mt20 {
        margin-top: 20px;
    }

    .info {
        text-align: left;
    }

    .info_half {
        width: 50%;
        display: inline-block;
        padding: 10px 0;
    }

    .info_half.ltf {
        padding-right: 10px;
        float: left;
    }

    .info_half.rgh {
        padding-left: 10px;
        float: right;
    }

    .info_half .item_rec {
        display: block;
    }

    .info_half .item_rec h7, .info_half .item_rec span {
        display: inline-block;
    }

    .info_half .item_rec h7 {
        text-transform: capitalize;
        width: 70%;
        text-align: right;
        padding-right: 10px;
    }

    .info_half .item_rec span {

        width: 30%;
        text-align: left;

    }

    .info_half .item_rec span h6 {
        display: inline-block;
        border: 1px solid #ddd;
        padding: 5px;
        width: 50px;
        height: 25px;
        text-align: right;
        font-size: 13px;
        color: #373a3c;
    }

    #power_mode {
        padding: 0;
        display: block;
    }

    .power_modes {
        display: inline-block;
        padding: 5px 10px;
    }

    .power_modes.active {
        border: 1px solid #FC6E06;
        background: #FC6E06;
        color: #fff;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{{ device.product.name }}</h5>
            <span>product</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{{ device.code }}</h5>
            <span>Code</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{% if device.is_coordinator %}Coordinator{% elif device.is_node %}Node{% endif %}</h5>
            <span>Type</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            {% if device.is_active %}
                <h5 class="success">Active</h5>
            {% else %}
                <h5 class="danger">In-Active</h5>
            {% endif %}
            <span>Status</span>
        </div>
    </div>

    <div class="col-md-6 mt20">
        <div class="rep_info_box info" style="height: 310px;">
            <ul id="power_mode">
                <li class="power_modes active">Battery Mode</li>
                <li class="power_modes">AC Mode</li>
                <li class="power_modes">Solar Mode</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 mt20">
        <div class="rep_info_box info">
            <h6><strong>Basic Information</strong></h6>
            <div class="info_half rgh">
                <div class="item_rec">
                    <h7>Battery discharge current</h7>
                    <span><h6>8</h6> A</span>
                </div>
                <div class="item_rec">
                    <h7>Output Voltage</h7>
                    <span><h6>8</h6> V</span>
                </div>
                <div class="item_rec">
                    <h7>Output Frequency</h7>
                    <span><h6>8</h6> Hz</span>
                </div>
                <div class="item_rec">
                    <h7>Output apparent power</h7>
                    <span><h6>8</h6> W</span>
                </div>
                <div class="item_rec">
                    <h7>Output active power</h7>
                    <span><h6>8</h6> W</span>
                </div>
                <div class="item_rec">
                    <h7>load percent</h7>
                    <span><h6>8</h6> %</span>
                </div>
            </div>
            <div class="info_half ltf">
                <div class="item_rec">
                    <h7>AC Voltage</h7>
                    <span><h6>8</h6> V</span>
                </div>
                <div class="item_rec">
                    <h7>AC Frequency</h7>
                    <span><h6>8</h6> Hz</span>
                </div>
                <div class="item_rec">
                    <h7>PV Input Voltage</h7>
                    <span><h6>8</h6> V</span>
                </div>
                <div class="item_rec">
                    <h7>PV Input Power</h7>
                    <span><h6>8</h6> W</span>
                </div>
                <div class="item_rec">
                    <h7>Battery Voltage</h7>
                    <span><h6>8</h6> V</span>
                </div>
                <div class="item_rec">
                    <h7>Battery Capacity</h7>
                    <span><h6>8</h6> %</span>
                </div>
                <div class="item_rec">
                    <h7>Charging Current</h7>
                    <span><h6>8</h6> A</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 pull-right">
        <div class="rep_info_box chart_summary">
            {% if device.client %}
                <div class="item_rec">
                    <h7>Client</h7>
                    <span>{{ device.client.name }}</span>
                </div>
            {% endif %}
            {% if device.network %}
                <div class="item_rec">
                    <h7>Network</h7>
                    <span>{{ device.network.code }}</span>
                </div>
            {% endif %}
            {% if device.station %}
                <div class="item_rec">
                    <h7>Station</h7>
                    <span>{{ device.station.name }}</span>
                </div>
            {% endif %}
            {% if device.installation %}
                <div class="item_rec">
                    <h7>Installation</h7>
                    <span>{{ device.installation.title }}</span>
                </div>
            {% endif %}
            {% if device.point %}
                <div class="item_rec">
                    <h7>Longitude</h7>
                    <span>{{ device.point.longitude }} <i class="fa fa-map-marker"></i></span>
                </div>
                <div class="item_rec">
                    <h7>Latitude</h7>
                    <span>{{ device.point.latitude }} <i class="fa fa-map-marker"></i></span>
                </div>
            {% endif %}
            <div class="item_rec">
                <h7>Last Ping</h7>
                <span>{{ today.strftime('%b %d, %Y %H:%M %p') }}</span>
            </div>
        </div>
    </div>
</div>
