<style>
    .plain_btn_success {
        border: 1px solid #5cb85c;
        padding: 6px 10px;
        border-radius: 0;
        font-size: 13px;
        color: #5cb85c;
        background: #fff;
    }

    .plain_btn_danger {
        border: 1px solid #d9534f;
        padding: 6px 10px;
        border-radius: 0;
        font-size: 13px;
        color: #d9534f;
        background: #fff;
    }

</style>
<div class="row">
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{{ installation.title }}</h5>
            <span>name</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{{ installation.code }}</h5>
            <span>code</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{{ installation.model_number }}</h5>
            <span>model number</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{{ installation.capacity }}({{ installation.measurement_index }})</h5>
            <span>capacity</span>
        </div>
    </div>
</div>
<div>
    <div class="col-md-9">
        <div class="col-sm-12 col-md-9" style="padding-left: 0;">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Devices

                </div>
                <div class="chart-stage chart-map-large"
                     style="height: 100%;max-height: 225px; min-height: 225px; overflow-y: scroll;">
                    {% if installation.devices|length >0 %}
                        <div class="table">
                            <div class="thead tr">
                                <span class="td">code</span>
                                <span class="td center">Status</span>
                            </div>
                            {% for obj in installation.devices %}
                                <div class="tr">
                            <span class="td">
                                <span>{{ obj.code }}</span><br>
                                <small>{{obj.date_created.strftime('%b %d, %Y')}}</small>
                            </span>
                                    <span class="td center">
                                 <button class="btn-xs {% if obj.is_active %}plain_btn_success{% else %}plain_btn_danger{% endif %}">{% if obj.is_active %}
                                     ACTIVE{% else %}INACTIVE{% endif %}</button>
                             </span>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}

                        <div class="table" style="margin-bottom: 0;">
                            <h3 class="text-center" style="margin-top: 3em">No Record!</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3" style="padding-right: 0;">
            <div class="rep_info_box dash" style="padding: 20px;margin-bottom: 35px;">
                <h1 class="text-success">{{ installation.devices|length }}</h1>
                <span>Connected Devices</span>
            </div>
        </div>
        <div class="col-sm-6 col-md-3" style="padding-right: 0;">
            <div class="rep_info_box dash" style="margin-bottom: 0;padding: 20px;">
                <h1 class="text-warning">1</h1>
                <span>Active Alerts</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="rep_info_box chart_summary">
            {% if installation.client %}
                <div class="item_rec">
                    <h7>Client</h7>
                    <span>{{ installation.client.name }}</span>
                </div>
            {% endif %}
            {% if installation.service %}
                <div class="item_rec">
                    <h7>Service</h7>
                    <span>{{ installation.service.name }}</span>
                </div>
            {% endif %}
            {% if installation.station %}
                <div class="item_rec">
                    <h7>Station</h7>
                    <span>{{ installation.station.name }}</span>
                </div>
            {% endif %}
            {% if installation.installation_type %}
                <div class="item_rec">
                    <h7>Type</h7>
                    <span>{{ installation.installation_type.title }}</span>
                </div>
            {% endif %}
            {% if installation.location %}
                <div class="item_rec">
                    <h7>Location</h7>
                    <span>{{ installation.location.address }}</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>