{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12">
	<div class="pg_head">
		<div class="btn-group fl_right">
		  <a href="{{url_for('.create_country')}}" class="btn btn-success">Register Country</a>
		</div>
		<h2>
	  	{{page_title}}
	  </h2>
    <div class="separator"></div>
    <div style="margin-top:15px;">
      <form action="{{request.path}}" method="get">
        <div class="input-group input-xxlarge">
              <input type="text" name="q" class="form-control" {% if search_q %} value="{{search_q}}" {% endif %} placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-info" title="Search" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
      </form>
      <div class="clearfix"></div>
      <div class="clearfix">
        {% if search_q %}
          <h5><b>Search Result for : </b><i>{{search_q}}</i></h5>
        {% endif %}
      </div>
    </div>
	  

    {% if results.pages > 0 %}
    <div class="paginate">
      <div class="btn-group fl_right">
        {% if page > 1 %}
          {% if results.has_prev %}
            <a href="{{request.path}}?page={{results.prev_num}}" class="btn btn-default" style="padding:6px;">
              <i class="fa fa fa-chevron-left"></i>
            </a>
          {% endif %}
        {% endif %}

        {% for i in range(minimum(results.pages+1, page-2), minimum(results.pages+1, page+3)) %}
          {% if i > 0 %}
            {% if page == i %}
              <a href="{{paging_url_build(request.path, request.args, i)}}" style="background-color:#FAAF18; color:#fff;" class="btn btn-default b">
                {{i}}
              </a>
            {% else %}
              <a href="{{paging_url_build(request.path, request.args, i)}}" class="btn btn-default">
                {{i}}
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if results.has_next %}
          <a href="{{request.path}}?page={{results.next_num}}" class="btn btn-default" style="padding:6px;">
            <i class="fa fa-chevron-right"></i>
          </a>
        {% endif %}
      </div>
    </div>
    {% endif %}

	  <h5>
	  	<a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-angle-left"> Back</i></a>
	  </h5>
	  
	</div>
  {% if results.items %}
  <section id="no-more-tables">
      <table class="table table-striped table-condensed table-advance table-hover cf">
          <thead class="cf">
          <tr>
              <th>Name</th>
              <th>Slug</th>
              <th>Code</th>
              <th width="100px;"></th>
          </tr>
          </thead>
          <tbody>
            {% for obj in results.items %}
            <tr>
                <td data-title="Name">{{obj.name}}</td>
                <td data-title="Slug">{{obj.slug}}</td>
                <td class="numeric" data-title="Code">{{obj.code}}</td>
                <td data-title="Actions">
                  <a href="{{url_for('.update_country', id=obj.id)}}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                  <a href="{{url_for('.delete_country', id=obj.id)}}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
  </section>
  {% else %}
    <section class="empty-box">
      <h4>There are currently no {{page_title|lower}} available yet
      </h4>
    </section>
  {% endif %}

  {% if results.pages > 0 %}
  <div class="paginate clearfix">
  	<div class="btn-group fl_right">
      {% if page > 1 %}
        {% if results.has_prev %}
      		<a href="{{request.path}}?page={{results.prev_num}}" class="btn btn-default" style="padding:6px;">
            <i class="fa fa fa-chevron-left"></i>
          </a>
        {% endif %}
      {% endif %}

		  {% for i in range(minimum(results.pages+1, page-2), minimum(results.pages+1, page+3)) %}
        {% if i > 0 %}
          {% if page == i %}
            <a href="{{paging_url_build(request.path, request.args, i)}}" style="background-color:#FAAF18; color:#fff;" class="btn btn-default b">
              {{i}}
            </a>
          {% else %}
            <a href="{{paging_url_build(request.path, request.args, i)}}" class="btn btn-default">
              {{i}}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if results.has_next %}
        <a href="{{request.path}}?page={{results.next_num}}" class="btn btn-default" style="padding:6px;">
          <i class="fa fa-chevron-right"></i>
        </a>
      {% endif %}
		</div>
  </div>
  {% endif %}
</div>
{% endblock body%}