{% extends "client/general/list/access_groups.html" %}
{% block breadcrumbs %}
        <div id="breadcrumbs" class="container-fluid">
            <ul id="action_navs">
                <li class="action_nav_item"><a href="{{ url_for('.access_groups') }}">Access Groups</a></li>
                <li class="action_nav_item"><a {% if not obj %}class="active"{% endif %} href="{{ url_for('.new_access_group') }}"><i class="fa fa-plus"></i> Add
                    Access Group</a></li>
            </ul>
            <span>{{ page_title }}</span>
        </div>
    {% endblock %}
{% block inner_body %}
    <style>
    h6.title{
        text-transform: uppercase;
    }
    </style>
    <div class="form col-md-12">
        <div class="col-md-8">
            <form method="post" action="{{ request.path }}">
                <div class="row section light-gray-bg" style="margin-right: 20px;">
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name"
                                   {% if form.name.data %}value="{{ form.name.data }}"{% endif %} required>
                            {% if form.errors.name %}
                                <span style="color: red">{{ form.errors.name[0] }}</span>
                            {% endif %}
                        </div>
{#                        <div class="form-group">#}
{#                            <label for="title">Title</label>#}
{#                            <input type="text" name="title"#}
{#                                   {% if form.title.data %}value="{{ form.title.data }}"{% endif %}>#}
{#                            {% if form.errors.title %}#}
{#                                <span style="color: red">{{ form.errors.title[0] }}</span>#}
{#                            {% endif %}#}
{#                        </div>#}
                    </div>
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" name="description"
                                   {% if form.description.data %}value="{{ form.description.data }}"{% endif %}>
                            {% if form.errors.description %}
                                <span style="color: red">{{ form.errors.description[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="line1">Permissions</label>
                            <div class="checkbox-list">
                                {% for subfield in form.role_ids %}
                                    <label style="font-weight: lighter;" class="checkbox-list inline">
                                        {{ subfield }} {{ subfield.label.text }}
                                    </label>
                                {% endfor %}
                            </div>
                            {% if form.role_ids.errors %}
                                {% for e in form.role_ids.errors %}<span class="help-block" style="color: red">{{ e }}</span>{% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group actions pull-right">
                            <input type="submit" name="name" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>
                Description Details
            </h3>
            <p>Update account information</p>
        </div>
    </div>
{% endblock %}
