{% extends "client/general/settings.html" %}
{% block subnav %}
    <nav id="subnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a href="{{ url_for('.network_details', obj_id=obj.id) }}"> Overview </a></li>
                    <li><a href="{{ url_for('.network_req', obj_id=obj.id) }}"> Requests</a></li>
                    <li><a href="{{ url_for('.network_faults', obj_id=obj.id) }}"> Faults</a></li>
                    <li><a class="active" href="{{ url_for('.network_devices', obj_id=obj.id) }}"> Devices</a></li>
                    <li><a href="{{ url_for('.network_dev_new', obj_id=obj.id) }}"> Add Device</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="form col-md-12">
        <div class="col-md-8">
            {% if devices|count > 0 %}
                <h6>Add Device to Network</h6>
                <form method="post" action="{{ request.path }}">
                    <div class="wrap">
                        <div class="form-group">
                            <label for="device_id">Devices</label>
                            <select name="device_id" required>
                                <option>Select Device</option>
                                {% for device in devices %}
                                    <option value="{{ device.id }}"> {{ device.code }}</option>
                                {% endfor %}
                            </select>
                            <i class="form-control-feedback"></i>
                            {% if form.errors.device_id %}
                                <span style="color: red">{{ form.errors.device_id[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group actions pull-right">
                            <input type="submit" name="name" value="Submit">
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="text-center">
                    <p></p>

                    <p></p>
                    <h4>No devices to add</h4>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <p>
                Description Details
            </p>
        </div>
    </div>
{% endblock body %}