{% extends "client/general/list/stations.html" %}
{% block breadcrumbs %}
    <div id="breadcrumbs" class="container-fluid">
    {% if default_resolved %}
        <ul id="action_navs">
            <li class="action_nav_item"><a href="{{ url_for('.stations') }}">Stations News</a></li>
            <li class="action_nav_item"><a {% if not obj %}class="active"{% endif %} href="{{ url_for('.add_station') }}"><i class="fa fa-plus"></i> Add Station</a></li>
        </ul>
        {% endif %}
        <span>{{ page_title }}</span>
    </div>
{% endblock %}
{% block inner_body %}
    <div class="form col-md-12">
        <div class="col-md-8">
            <form method="post" action="{{ request.path }}">
                <div class="wrap full">
                    <div class="form-group has-feedback">
                        <label class="control-label">
                            Manager
                            <span class="pull-right"><a class="btn-xs btn-outline" style="color: #FC6E06;" href="{{ url_for('.new_account') }}"><i class="fa fa-plus"></i>&nbsp;New Manager</a></span>
                        </label>
                        <select name="manager_id" ng-model="form.manager_id" value="{{ form.manager_id.data }}" required>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.address.first_name }} {{ user.address.last_name }}</option>
                            {% endfor %}
                        </select>
                        <i class="form-control-feedback"></i>
                        {% if form.errors.manager_id %}
                            <span style="color: red">{{ form.errors.manager_id[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap full">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" placeholder="e.g. Ota Power Plant" {% if form.name.data %}value="{{ form.name.data }}"{% endif %} required>
                        {% if form.errors.name %}
                            <span style="color: red">{{ form.errors.name[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap half">
                    <div class="form-group">
                        <label for="line1">Street Location</label>
                        <input type="text" name="line1" {% if form.line1.data %}value="{{ form.line1.data }}"{% endif %} placeholder="e.g.14, Ebimpejo Lane" required>
                        {% if form.errors.line1 %}
                            <span style="color: red">{{ form.errors.line1[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="line2">LandMark</label>
                        <input type="text" name="line2" {% if form.line2.data %}value="{{ form.line2.data }}"{% endif %} placeholder="e.g.National Stadium">
                        {% if form.errors.line2 %}
                            <span style="color: red">{{ form.errors.line2[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap third">
                    <div class="form-group has-feedback">
                        <label class="control-label">Country</label>
                        <select name="country_id" required>
                            {% for country in countries %}
                                <option value="{{ country.id }}" {% if country.id == form.country_id.data %}selected{% endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                        <i class="form-control-feedback"></i>
                        {% if form.errors.country_id %}
                            <span style="color: red">{{ form.errors.country_id[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">State</label>
                        <select name="state_id" id="state" required>
                            {% for state in states %}
                                <option value="{{ state.id }}" {% if state.id == form.state_id.data %}selected{% endif %}>{{ state.name }}</option>
                            {% endfor %}
                        </select>
                        <i class="form-control-feedback"></i>
                        {% if form.errors.state_id %}
                            <span style="color: red">{{ form.errors.state_id[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">City</label>
                        <select name="city_id" id="city" required>
                            {% for city in cities %}
                                <option value="{{ city.id }}" {% if city.id == form.city_id.data %}selected{% endif %}>{{ city.name }}</option>
                            {% endfor %}
                        </select>
                        <i class="form-control-feedback"></i>
                        {% if form.errors.city_id %}
                            <span style="color: red">{{ form.errors.city_id[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>
                Description Details
            </h3>
            <p>Create a Station/Facility</p>
        </div>
    </div>
{% endblock %}
