{% extends "client/report/layout.html" %}
{% block inner_body%}
    {% if results.total > 0 %}
    <div id="filters">
        {% include "client/general/snippets/pagination.html" %}
    </div>
    <div class="table">
        <div class="thead tr">
            <span class="td" style="width: 105px;">date</span>
            <span class="td">Report</span>
            <span class="td">Start</span>
            <span class="td">End</span>
        </div>
        {% for obj in results.items %}
        <div class="tr" onMouseOver="listItemHover({{ loop.index }})" onMouseOut="listItemHoverOut({{ loop.index }})">
            <span class="td">{{ obj.date_created.strftime('%b %d, %Y %H:%m %p') }}</span>
            <span class="td">
              <a href="{{url_for('.download_report', id=obj.id)}}">{{obj.description}}</a>
            </span>
            <span class="td">{{obj.start.strftime('%b %d, %Y')}}</span>
            <span class="td">{{obj.start.strftime('%b %d, %Y')}}</span>
            <div class="action_hover_container" id="action_hover_container_{{ loop.index }}">
                <ul>
                    <li><a href="{{url_for('.download_report', id=obj.id)}}" data-toggle="tooltip" data-placement="top" title="Download" class="dropbtn"><i class="fa fa-download"></i></a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="tr" id="empty_list_box" >
            <h3 style="text-align: center; font-size: 14px">
                No {{ handle_title }} Report Generated Yet
            </h3>
        </div>
    {% endif %}
{% endblock %}