{% extends "client/report/layout.html" %}
{% block inner_body %}
<div class="row">
<div class="col-md-12">
    <style>
        .rep_info_box h5 i{
            font-size: 200%;
            color: #9196aa;
        }
        .rep_info_box span a:hover{
            color: #FC6E06;
        }
    </style>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5><i class="fa fa-deviantart"></i></h5>
            <span><a href="{{ url_for('.report',handle='devices') }}">devices</a></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5><i class="fa fa-building"></i></h5>
            <span><a href="{{ url_for('.report',handle='stations') }}">stations</a></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5><i class="fa fa-gears"></i></h5>
            <span><a href="{{ url_for('.report',handle='installations') }}">installations</a></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5><i class="fa fa-money"></i></h5>
            <span><a href="{{ url_for('.report',handle='billings') }}">billings</a></span>
        </div>
    </div>
</div>
</div>
{% endblock %}