{% extends "client/layout.html" %}
{% block subnav %}
    {% if default_resolved %}
        <nav id="subnav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav" id="sub_links">
                        <li><a {% if request.path ==url_for('.billing_info') %}class="active"{% endif %} href="{{ request.path }}">Overview</a></li>
                        <li><a {% if request.path ==url_for('.invoices') %}class="active"{% endif %} href="{{ url_for('.invoices') }}">Invoices</a></li>
                        <li><a {% if request.path ==url_for('.receipts') %}class="active"{% endif %} href="{{ url_for('.receipts') }}">Receipts</a></li>
                        <li><a {% if request.path ==url_for('.customer_records') %}class="active"{% endif %} href="{{ url_for('.customer_records') }}">Customer Billings</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock subnav %}
{% block body %}
    {% block breadcrumbs %}
        <div id="breadcrumbs" class="container-fluid">
            <ul id="action_navs">
            </ul>
            <span>Overview</span>
        </div>
    {% endblock %}
    <div class="clearfix"></div>
    {% block inner_body %}
        <style type="text/css" media="screen">
            .has-error input {
                border-width: 2px;
            }
            div.form{
                box-shadow: none !important;
            }
            .validation.text-danger:after {
                content: 'Validation failed';
            }

            .validation.text-success:after {
                content: 'Validation passed';
            }
            .card.card-block{
                background-color: #fff;
                box-shadow: none !important;
                border-radius: 0;
            }
        </style>
        {% if card_added %}
            <div id="splash-screen"></div>
            <div id="splash-screen-dialog">
                <div class="splash-wrap">
                    <form name="card_verf_form" method="post" action="{{ url_for('.add_card_verf') }}">
                        {{ card_verf_form.csrf_token }}
                        <div class="splash-screen-content rep">

                            <input type="hidden" name="card_data" id="card_data" value="{{ encryted_card_data }}">

                            <h3 class="title">CARD VERIFICATION</h3>

                            <p>
                                We would like to verify the identity and ownership of the recently provided card
                                details.
                                Please
                                provide and input the Bank Verification Number (BVN) for the card account to complete
                                the
                                process of adding
                                and activating a card.
                            </p>

                            <p>

                                <input id="bvn" name="bvn" placeholder="Enter BVN">
                            </p>

                            <em>
                                <small class="title">Only upon successful confirmation of BVN will the card be activated
                                    for
                                    use on
                                    <strong>Atele</strong></small>
                            </em><br>

                        </div>
                        <div class="splash-screen-actions">
                            <a href="{{ url_for('.billing_info') }}" id="cancel-button" class="btn btn-default atele">
                                Cancel <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                            <button type="submit" class="btn btn-warning atele">
                                Submit <i class="m-icon-swapright m-icon-white"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        <div id="billingBox">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                        <h4>You Owe</h4>
                        <h4>₦{{ wallet.credit_balance }}</h4>

                        <div>
                            <span class="btn btn-warning atele">Make Payment</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                        <h4>Usage</h4>
                        {#                    <h4>₦0.0</h4>#}
                        <div>
                            <span class="btn btn-warning atele">View Usage Details</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                    <h4>Billing Alerts</h4>

                    <div id="billAlert">
                        <form action="{{ url_for('.update_debt_threshold') }}" name="debt_threshold_form" method="post">
                            {{ debt_threshold_form.csrf_token }}
                            <div class="col-md-8">
                                {{ debt_threshold_form.allow_debt_warning() }}
                                <p>
                                    Send me an email anytime my monthly usage has exceeded the amount listed to the
                                    right
                                </p>
                            </div>
                            <div class="col-md-4">
                                <button type="submit">Save</button>
                                {{ debt_threshold_form.debt_threshold_warning(min="2000", type="number") }}
                                <span>₦</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                    <h4>Payment Methods</h4>

                    <p>Please enter your prefered payment method below. You can use credit card or prepay through
                        PayPal</p>

                    <div class="process">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active">
                                <a href="#pill-pr-0" role="tab" data-toggle="tab">
                                    Debit Card
                                </a>
                            </li>
                            <li>
                                <a href="#pill-pr-1" role="tab" data-toggle="tab">
                                    Bank Account
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content clear-style">
                            <div class="tab-pane active" id="pill-pr-0">
                                <div class="form col-md-12 section">
                                    <div class="col-md-8">
                                        <p>
                                            Card will be charged monthly for resources used. All major credit cards
                                            accepted.<br>
                                            <small class="text_atele">
                                                <strong>
                                                    **Here a One-time random amount is debited from the Card real-time
                                                    and
                                                    the debited amount is required for final authorization.
                                                </strong>
                                            </small>
                                        </p>
                                        <small class="validation"></small>
                                        <div class="overlay_spinner">
                                            <div style="background:url('/static/images/spin.gif');">

                                            </div>
                                        </div>
                                        <form name="form" action="{{ url_for('.add_card') }}" id="add_card_form"
                                              method="post">
                                            {{ form.csrf_token }}
                                            <input name="brand" type="hidden" id="brand">
                                            <label for="">Enter Card Details</label>

                                            <div class="wrap payment_cards">
                                                <img class="pc_s" id="pc_mastercard"
                                                     src="{{ url_for('static', filename='images/icons/mastercard.ico') }}"
                                                     alt="">
                                                <img class="pc_s" id="pc_visa"
                                                     src="{{ url_for('static', filename='images/icons/visa.png') }}"
                                                     alt="">
                                            </div>
                                            <div class="wrap third">
                                                <div class="form-group">
                                                    {{ form.card_number(class="cc-number", placeholder="1234 1234 1234 1234", required=True) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.card_expiry(class="cc-exp", placeholder="MM / YY", required=True) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.cvv(class="cc-cvc", placeholder="CVV", required=True) }}
                                                </div>
                                            </div>
                                            <label for="">Billing Address</label>

                                            <div class="wrap half">
                                                <div class="form-group">
                                                    {{ form.first_name(placeholder="First Name", required=true) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.last_name(placeholder="Last Name", required=True) }}
                                                </div>
                                            </div>
                                            <div class="wrap full">
                                                <div class="form-group">
                                                    {{ form.line1(placeholder="Street Address", required=True) }}
                                                </div>
                                            </div>
                                            <div class="wrap third contact">
                                                <div class="form-group">
                                                    {{ form.line2(placeholder="Landmark") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.email(placeholder="Email Address", required=True) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.phone(placeholder="Phone Number", required=True) }}
                                                </div>
                                            </div>
                                            <div class="wrap half">
                                                <div class="form-group">
                                                    {{ form.state_id(placeholder="State", required=True) }}
                                                </div>
                                                <div class="form-group">

                                                    {{ form.city_id(placeholder="City", required=True) }}
                                                </div>
                                            </div>
                                            <div class="wrap">
                                                <div class="form-group actions" style="width: 100% !important;">
                                                    <input type="submit" name="name" value="Add Debit Card"
                                                           class="btn btn-warning atele" style="width: 100%;">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    {% if client.cards.count() > 0 %}
                                        <div class="col-md-4" style="padding-top: 0 !important;">
                                            <h6><strong>Manage Cards</strong></h6>
                                            {% for obj in client.cards %}
                                                <form action="{{ url_for('.remove_card') }}" name="delete_card_form"
                                                      method="post">
                                                    <div class="card_details">
                                                        <input type="hidden" name="id" value="{{ obj.id }}">
                                                        <button type="submit">x</button>
                                                        <p>
                                                            <strong>{{ obj.address.first_name }} {{ obj.address.last_name }} {{ obj.mask[-9:] }}</strong>
                                                            <small> Expires {{ obj.exp_month }}/{{ obj.exp_year }} •
                                                                Added
                                                                on {{ obj.date_created.strftime("%b/%d/%Y") }}</small>
                                                        </p>
                                                    </div>
                                                </form>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane" id="pill-pr-1">
                                <div class="form col-md-12 section">
                                    <div class="col-md-8">
                                        <p>
                                            Bank Account Information for fund disbursment.
                                        </p>

                                        <form name="bank_account_form" class=""
                                              action="{{ url_for('.add_bank_account') }}"
                                              method="post">
                                            {{ bank_account_form.csrf_token }}
                                            <label for="">Account Info.</label>

                                            <div class="wrap half">
                                                <div class="form-group">
                                                    {{ bank_account_form.first_name(placeholder="First Name") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ bank_account_form.last_name(placeholder="Last Name") }}
                                                </div>
                                            </div>
                                            <div class="wrap half">
                                                <div class="form-group">
                                                    {{ bank_account_form.bank_id(placeholder="Select Bank") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ bank_account_form.account_number(placeholder="Account Number") }}
                                                </div>
                                            </div>
                                            <div class="wrap">
                                                <div class="form-group actions">
                                                    <input type="submit" name="name" value="Add Bank Account"
                                                           class="btn btn-warning atele">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    {% if client.bank_accounts.count() > 0 %}
                                        <div class="col-md-4" style="padding-top: 0 !important;">
                                            <h6><strong>Manage Accounts</strong></h6>
                                            {% for account in client.bank_accounts %}
                                                <form action="{{ url_for('.remove_bank_account') }}"
                                                      name="delete_account_form" method="post">
                                                    <div class="card_details">
                                                        <input type="hidden" name="id" value="{{ account.id }}">
                                                        <button type="submit">x</button>
                                                        <p>
                                                            <strong>{{ account.first_name }} {{ account.last_name }}
                                                                xxxx{{ account.account_number[-4:] }}</strong>
                                                            <small> {{ account.bank.name }} • Added
                                                                on {{ account.date_created.strftime("%b/%d/%Y") }}</small>
                                                        </p>
                                                    </div>
                                                </form>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
{% endblock body %}
{% block page_js %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% if card_added %}
                DefaultSplashScreen.init();
            {% endif %}
        });
    </script>
    <script>
        jQuery(function ($) {
            $('#account_number').prop('disabled', true);

            $("#bank_id").change(function () {
                $("input").prop('disabled', false);
            });
            var form_validated = 1;
            var cardType = $.payment.cardType($('.cc-number').val());
            if (cardType) {
                $(".pc_s").removeClass("clear")
                $("#pc_" + cardType).addClass("clear")
            }
            $('[data-numeric]').payment('restrictNumeric');
            $('.cc-number').payment('formatCardNumber');
            $('.cc-exp').payment('formatCardExpiry');
            $('.cc-cvc').payment('formatCardCVC');
            $.fn.toggleInputError = function (erred) {
                this.parent('.form-group').toggleClass('has-error', erred);
                return this;
            };

            $(".cc-number").change(function () {
                var cardType = $.payment.cardType($('.cc-number').val());
                if (cardType) {
                    $(".pc_s").removeClass("clear");
                    $("#pc_" + cardType).addClass("clear");
                    $('#brand').val(cardType);
                }
            });
            $('#add_card_form').submit(function (event) {

                {#                event.preventDefault();#}
                $('.overlay_spinner').show();
                var cardType = $.payment.cardType($('.cc-number').val());
                $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));
                $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
                $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
                $('.validation').removeClass('text-danger text-success');
                $('.validation').addClass($('.has-error').length ? 'text-danger' : 'text-success');
                form_validated = $('.has-error').length;
                if (form_validated == 0) {
                    event.cancelable;
                    $('#add_card_form').unbind('submit');
                }
            });

            $('#state_id').change(function () {
                var dataString = $(this).val()
                cities_arr = new Array();
                $.ajax({
                    type: "POST",
                    contentType: 'application/json',
                    url: "{{ url_for('.fetch_state_cities') }}",
                    data: dataString,
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            var data = [data]
                            $("#city_id").get(0).options.length = 0;
                            $("#city_id").get(0).options[0] = new Option("--- Select One ---", 0);
                            $.each(data[0], function (index, _i) {
                                $("#city_id").get(0).options[index + 1] = new Option(_i.name, _i.id);
                            });
                        } else {
                            console.log("no data")
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                    }
                });
                return false;
            });

            {#            $('#account_number').focusout(function(){#}
            {#                var dataString = {"bank_id":$('#bank_id').val(), "account_number":$(this).val()};#}
            {#                var raw_data = JSON.stringify(dataString );#}
            {#                $.ajax({#}
            {#                  type: "POST",#}
            {#                  contentType: 'application/json',#}
            {#                  url : "{{ url_for('.fetch_bank_account_info') }}",#}
            {#                  data: raw_data,#}
            {#                  dataType: 'json',#}
            {#                  success:function(data) {#}
            {#                    console.log(data)#}
            {#                  },#}
            {#                  error: function (xhr, ajaxOptions, thrownError) {#}
            {##}
            {#                  }#}
            {#                });#}
            {#                return false;#}
            {#              });#}
        });
    </script>
{% endblock page_js %}
