{% extends "client/general/settings.html" %}
{% block body%}
<div class="form col-md-12">
	<div class="col-md-8" id="edit_details_box">
		<div class="part_form_box">
			<div class="box_head">
				<span class="pull-right"><a href="javascript:void();" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i></a></span>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="myModalLabel">Device Details</h4>
							</div>
							<div class="modal-body">
								<form class="" action="index.html" method="post">
									<div class="wrap half">
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Name">
										</div>
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Brand">
										</div>
									</div>
									<div class="wrap full">
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Address">
										</div>
									</div>
									<div class="wrap third">
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device One">
										</div>
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Two">
										</div>
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Three">
										</div>
									</div>
									<div class="wrap third">
										<div class="form-group">
											<select class="" name="">
												<option>--- Select City ---</option>
												<option>One</option>
												<option>Two</option>
												<option>Three</option>
												<option>Four</option>
											</select>
										</div>
										<div class="form-group">
											<select class="" name="">
												<option>--- Select State ---</option>
												<option>One</option>
												<option>Two</option>
												<option>Three</option>
												<option>Four</option>
											</select>
										</div>
										<div class="form-group">
											<select class="" name="">
												<option>--- Select Country ---</option>
												<option>One</option>
												<option>Two</option>
												<option>Three</option>
												<option>Four</option>
											</select>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-sm btn-default">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				<h6 class="pull-left">Device Details</h6>
			</div>
			<div class="box_info">
				<div>
					<span class="title">Name</span>
					<span class="desc">Olukunle</span>
				</div>
				<div>
					<span class="title">Desription Olukunle Ogunmokun</span>
					<span class="desc">Olukunle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				</div>
				<div>
					<span class="title">Donno</span>
					<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				</div>
				<div>
					<span class="title">State</span>
					<span class="desc">Lagos</span>
				</div>
				<div>
					<span class="title">Name</span>
					<span class="desc">Country</span>
				</div>
			</div>
		</div>
		<div class="part_form_box">
			<div class="box_head">
				<span class="pull-right"><a href="javascript:void();" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil"></i></a></span>
				<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="myModal2Label">Device Configuration</h4>
							</div>
							<div class="modal-body">
								<form class="" action="index.html" method="post">
									<div class="wrap half">
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Name">
										</div>
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Brand">
										</div>
									</div>
									<div class="wrap full">
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Address">
										</div>
									</div>
									<div class="wrap third">
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device One">
										</div>
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Two">
										</div>
										<div class="form-group">
											<input type="text" name="name" value="" placeholder="Device Three">
										</div>
									</div>
									<div class="wrap third">
										<div class="form-group">
											<select class="" name="">
												<option>--- Select City ---</option>
												<option>One</option>
												<option>Two</option>
												<option>Three</option>
												<option>Four</option>
											</select>
										</div>
										<div class="form-group">
											<select class="" name="">
												<option>--- Select State ---</option>
												<option>One</option>
												<option>Two</option>
												<option>Three</option>
												<option>Four</option>
											</select>
										</div>
										<div class="form-group">
											<select class="" name="">
												<option>--- Select Country ---</option>
												<option>One</option>
												<option>Two</option>
												<option>Three</option>
												<option>Four</option>
											</select>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-sm btn-default">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				<h6 class="pull-left">Device Configuration</h6>
			</div>
			<div class=" box_info">
				<div>
					<span class="title">Name</span>
					<span class="desc">Olukunle</span>
				</div>
				<div>
					<span class="title">State</span>
					<span class="desc">Lagos</span>
				</div>
				<div>
					<span class="title">Name</span>
					<span class="desc">Country</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<p>
			Description Details
		</p>
	</div>
</div>

{% endblock body%}
