<ui-view>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="rep_info_box dash">
                    <h1>0</h1>
                    <span>Customers</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rep_info_box dash">
                    <h1>0</h1>
                    <span>Complaints</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rep_info_box dash">
                    <h1>0</h1>
                    <span>Avg Income</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rep_info_box dash">
                    <h1>0</h1>
                    <span>Customers</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Fault Patterns
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="devices.length > 0">
                        <div class="thead tr">
                            <span class="td"></span>
                            <span class="td">device</span>
                            <span class="td">level</span>
                            <span class="td">date</span>
                        </div>
                        <div class="tr" ng-repeat="rec in faults">
                            <span class="td" ng-bind="rec.body"></span>
                            <span class="td" ng-bind="rec.device"></span>
                            <span class="td" ng-bind="rec.level"></span>
                            <span class="td center" ng-bind="rec.timestamp"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>