<ui-view id="installationsPage">
    <div class="row c_g_r">
        <div class="col-md-8">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    <a ui-sref="installation_list">Installations</a>
                    <small style="float: right"><a ui-sref="installation_list">View All</a></small>
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;max-height: 219px;">
                    <div class="table" ng-show="data.objects.length > 0">
                        <div class="thead tr">
                            <span class="td">Code</span>
                            <span class="td">Name</span>
                            <span class="td">Model Number</span>
                            <span class="td">capacity</span>
                            <span class="td">measurement_index</span>
                        </div>
                        <div class="tr" ng-repeat="obj in sliced_objects" onMouseOver="listItemHover(1)"
                             onMouseOut="listItemHoverOut(1)">
                            <span class="td">
                                <a ui-sref="installation_details({id: obj.id})">[[ obj.code ]]</a><br>
                                <small>[[ obj.date_created | date ]]</small>
                            </span>
                            <span class="td">[[ obj.title ]]</span>
                            <span class="td">[[obj.model_number]]</span>
                            <span class="td">
                                <p ng-show="obj.capacity">[[obj.capacity]]</p>
                                <p ng-hide="obj.capacity">---</p>
                            </span>
                            <span class="td">
                                <p ng-show="obj.measurement_index">[[obj.measurement_index]]</p>
                                <p ng-hide="obj.measurement_index">---</p>
                            </span>
                        </div>
                    </div>
                    <div class="tr" id="empty_list_box" ng-hide="data.objects.length > 0">
                        <h3 style="text-align: center;">
                            <a ui-sref="installations_new" style="font-size: 35px; color: lightgrey;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                <span>Add installation</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <span>Connected Installations</span>
                </div>
                <div class="chart-stage chart-map">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">
                        [[ data.total ]]</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <span>Active Devices</span>
                </div>
                <div class="chart-stage chart-map">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">
                        [[ devices.length ]]</h1>
                </div>
            </div>
        </div>
        {#        <div class="col-sm-6 col-md-3">#}
        {#            <div class="chart-wrapper">#}
        {#                <div class="chart-title">#}
        {#                    <a ui-sref="installation_list">Connected Installations</a>#}
        {#                </div>#}
        {#                <div class="chart-stage chart-map-small">#}
        {#                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">[[ data.total ]]</h1>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="col-sm-6 col-md-3">#}
        {#            <div class="chart-wrapper">#}
        {#                <div class="chart-title">#}
        {#                    Current Data Transfer Rate#}
        {#                </div>#}
        {#                <div class="chart-stage chart-map-small">#}
        {#                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#46b8da;">[[ data.stations.total ]]</h1>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="col-sm-6 col-md-3">#}
        {#            <div class="chart-wrapper">#}
        {#                <div class="chart-title">#}
        {#                    <a ui-sref="installation_list">Connected Installations</a>#}
        {#                </div>#}
        {#                <div class="chart-stage chart-map-small">#}
        {#                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">[[ data.total ]]</h1>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    <div class="row c_g_r" ng-show="faults.length > 0">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Fault Patterns
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="devices.length > 0">
                        <div class="thead tr">
                            <span class="td"></span>
                            <span class="td">device</span>
                            <span class="td">level</span>
                            <span class="td">date</span>
                        </div>
                        <div class="tr" ng-repeat="rec in faults">
                            <span class="td" ng-bind="rec.body"></span>
                            <span class="td" ng-bind="rec.device"></span>
                            <span class="td" ng-bind="rec.level"></span>
                            <span class="td center" ng-bind="rec.timestamp"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div ng-repeat="metData in metrics">
        <div class="row c_g_r">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-stage" id="#[[metData.name]]Chart" style="width: 100%;height:450px;"></div>
                </div>
            </div>
        </div>
   </div>
    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">Devices Map</div>
                <div class="chart-stage" id="meshMap" style="width: 100%;height:450px;"></div>
            </div>
        </div>
    </div>
    {#    <script type="text/javascript">#}
    {##}
    {#        var fullTempChart = echarts.init(document.getElementById('fullTempChart'));#}
    {#        var fullTempChartOption = {#}
    {#            title: {#}
    {#                text: 'Devices Map',#}
    {#                subtext: 'Geographical mapping of connected devices'#}
    {#            },#}
    {#            tooltip: {#}
    {#                trigger: 'axis'#}
    {#            },#}
    {#            legend: {#}
    {#                data: ['High', 'Low']#}
    {#            },#}
    {#            toolbox: {#}
    {#                show: true,#}
    {#                feature: {#}
    {#                    dataZoom: {#}
    {#                        yAxisIndex: 'none'#}
    {#                    },#}
    {#                    dataView: {readOnly: false},#}
    {#                    magicType: {type: ['line', 'bar']},#}
    {#                    restore: {},#}
    {#                    saveAsImage: {}#}
    {#                }#}
    {#            },#}
    {#            xAxis: {#}
    {#                type: 'category',#}
    {#                boundaryGap: false,#}
    {#                data: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']#}
    {#            },#}
    {#            yAxis: {#}
    {#                type: 'value',#}
    {#                axisLabel: {#}
    {#                    formatter: '{value} °C'#}
    {#                }#}
    {#            },#}
    {#            series: [#}
    {#                {#}
    {#                    name: 'High',#}
    {#                    type: 'line',#}
    {#                    data: [11, 11, 15, 13, 12, 13, 10],#}
    {#                    markPoint: {#}
    {#                        data: [#}
    {#                            {type: 'max', name: 'Maximum'},#}
    {#                            {type: 'min', name: 'Minimum'}#}
    {#                        ]#}
    {#                    },#}
    {#                    markLine: {#}
    {#                        data: [#}
    {#                            {type: 'average', name: 'Average'}#}
    {#                        ]#}
    {#                    }#}
    {#                },#}
    {#                {#}
    {#                    name: 'Low',#}
    {#                    type: 'line',#}
    {#                    data: [1, -2, 2, 5, 3, 2, 0],#}
    {#                    markPoint: {#}
    {#                        data: [#}
    {#                            {name: 'Week Min', value: -2, xAxis: 1, yAxis: -1.5}#}
    {#                        ]#}
    {#                    },#}
    {#                    markLine: {#}
    {#                        data: [#}
    {#                            {type: 'average', name: 'Average'},#}
    {#                            [{#}
    {#                                symbol: 'none',#}
    {#                                x: '90%',#}
    {#                                yAxis: 'max'#}
    {#                            }, {#}
    {#                                symbol: 'circle',#}
    {#                                label: {#}
    {#                                    normal: {#}
    {#                                        position: 'start',#}
    {#                                        formatter: 'Max'#}
    {#                                    }#}
    {#                                },#}
    {#                                type: 'max',#}
    {#                                name: 'Highest Point'#}
    {#                            }]#}
    {#                        ]#}
    {#                    }#}
    {#                }#}
    {#            ]#}
    {#        };#}
    {#        fullTempChart.setOption(fullTempChartOption);#}
    {#    </script>#}
    {#    <script>#}
    {#        $(function () {#}
    {#            var myChart = Highcharts.chart('container', {#}
    {#                chart: {#}
    {#                    type: 'bar'#}
    {#                },#}
    {#                title: {#}
    {#                    text: 'Fruit Consumption'#}
    {#                },#}
    {#                xAxis: {#}
    {#                    categories: ['Apples', 'Bananas', 'Oranges']#}
    {#                },#}
    {#                yAxis: {#}
    {#                    title: {#}
    {#                        text: 'Fruit eaten'#}
    {#                    }#}
    {#                },#}
    {#                series: [{#}
    {#                    name: 'Jane',#}
    {#                    data: [1, 0, 4]#}
    {#                }, {#}
    {#                    name: 'John',#}
    {#                    data: [5, 7, 3]#}
    {#                }]#}
    {#            });#}
    {#        });#}
    {#    </script>#}
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/angular/installations.js"></script>
</ui-view>
