
/*
 * Full-page application style
 */

body.application,
.keen-dashboard {
	/*background: #fcfcfc;*/
	background: #F4F7FA;
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 60px 20px 0;
	max-width: 1400px;
	margin: auto;
}

body.application > .container-fluid,
.keen-dashboard > .container-fluid {
	margin: 0 0 32px;
	margin: 0 0 2rem;
	padding-left: 0;
	padding-right: 0;
}

body.application div[class^="col-"],
.keen-dashboard div[class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

body.application div[class^="col-"] div[class^="col-"],
.keen-dashboard div[class^="col-"] div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

body.application hr,
.keen-dashboard hr {
	border-color: #d7d7d7;
	margin: 10px 0;
}

body.application .navbar-inverse,
.keen-dashboard .navbar-inverse {
	background-color: #3d4a57;
	border-color: #333;
	box-shadow: 0px 1.5px 4px #3d4a57;
}

body.application .navbar-inverse .navbar-nav > li > a,
body.application .navbar .navbar-brand,
.keen-dashboard .navbar-inverse .navbar-nav > li > a,
.keen-dashboard .navbar .navbar-brand {
	color: #fbfbfb;
	text-decoration: none;
}

body.application .main-nav > li > a:hover,
.keen-dashboard .main-nav > li > a:hover {
	border-bottom: 2px solid transparent;
	-webkit-transition: border 300ms ease;
	-o-transition: border 300ms ease;
	transition: border 300ms ease;
	border-bottom-color: white;
}

body.application .return-link,
body.application .return-link:focus,
body.application .return-link:hover,
.keen-dashboard .return-link,
.keen-dashboard .return-link:focus,
.keen-dashboard .return-link:hover {
	text-decoration: none;
}


.chart-wrapper {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px #ddd;
}
.chart-wrapper .chart-title {
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px #eee;
	color: #666;
	font-size: 14px;
	font-weight: 200;
	padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
	overflow: hidden;
	padding: 5px 10px;
	position: relative;
}

.chart-wrapper .chart-notes {
	background: #f8f8f8;
	border-top: 1px solid #e2e2e2;
	color: #808080;
	font-size: 12px;
	padding: 8px 10px 5px;
}
