<!DOCTYPE html>
<html lang="en" ng-app="atele">

<head>
    <title>Atele Admin | {{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Atele is an Intelligent Feedback Systems that covers Power sector">
    <meta name="author" content="Atele">
    <meta name="keyword"
          content="Atele, Intelligent Feedback System, Power Management, Monitoring, Remote Surveillance Service, Asset Tracking Service, Smart Metering, Process Monitoring">


   <link rel="shortcut icon" href="{{ url_for('static', filename='images/small_new_fav.png') }}" type="image/x-icon">

    <!-- stylesheets -->
    {% assets "new_admin-global-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <!-- scripts -->
    {#	{% assets "new_admin-global-js" %}#}
    {#      <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
    {#	{% endassets %}#}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- header -->
<nav class="navbar navbar-fixed-top" id="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="sidebar-toggle-button">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="brand">
                <a href="/" id="logo">
						<span class="hidden-xs-down m-r-3">
							<img class="lg" src="{{ url_for('static', filename='images/logo.png') }}"/>
							<img class="logo_text" src="{{ url_for('static', filename='images/logo_text.png') }}"/>
						</span>

                </a>
                <div id="sub_links">
                    <!-- <span class="lead"><a href="url">name</a></span> -->
                </div>

            </div>
        </div>
    </div>
</nav>
<!-- /header -->

<!-- sidebar -->
<div class="sidebar-toggle" id="sidebar">
    <ul class="nav nav-sidebar">
        {% for link in navigation %}
            <li>
                <a href="{% if link.sub_links %}javascript:;{% else %}{{ link.url }}{% endif %}"
                   class="{% if link.sub_links %}has_sub_links{% endif %} {% if request.path == url_for('.'+link.code) %}active{% endif %}"
                   rel="{{ link.code }}">
                    {% if link.is_img %}
                        <i><img src="{{ link.icon }}" alt=""></i>
                    {% else %}
                        <i class="fa {{ link.icon }} fa-lg fa-fw" aria-hidden="true"></i>
                    {% endif %}
                    <span>
						{{ link.name }}
                        {% if link.has_badge %}
                            <span class="badge bg-theme">5</span>
                        {% endif %}
					</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- /sidebar -->

<!-- page-content-wrapper -->
<div class="page-content-toggle" id="page-content-wrapper" ui-view>
    {% block body %}
    {% endblock body %}
    <!-- /.container-fluid -->

</div>
<!-- /page-content-wrapper -->

	<script type="text/javascript">

    $(document).ready(function () {
    	$('.has_sub_links').click(function(e){
    		$('#sub_links').innerHTML ="";
    		var elem = $(e.currentTarget);
		    var code = elem.attr("rel");
		    $.ajax({
		      type: "POST",
		      contentType: 'application/json',
		      url : "/fetch/client/sublinks/",
		      data: code,
		      dataType: 'json',
		      success:function(data) {

		        if(data) {
		        	var txt = ''
		        	var sub_links = data.sub_links
		        	for (i=0; i<sub_links.length; i++){
		        		txt = txt+ '<span><a href="'+ sub_links[i].url+'">'+sub_links[i].name+'</a></span>'

		        	};
		        	$('#sub_links').html(txt);


		        } else {
		          console.log("no data")
		        }
		      },
		      error: function (xhr, ajaxOptions, thrownError) {

		      }
		    });
		    return false;

      	})
      });
    </script>
<script src="/static/plugins/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/plugins/modernizr.js"></script>
<script src="/static/plugins/rs-plugin-5/js/jquery.themepunch.tools.min838f.js"></script>
<script src="/static/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min838f.js"></script>
<script src="/static/plugins/isotope/isotope.pkgd.min.js"></script>
<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/static/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/static/plugins/jquery.countTo.js"></script>
<script src="/static/plugins/jquery.parallax-1.1.3.js"></script>
<script src="/static/plugins/jquery.validate.js"></script>
<script src="/static/js/map.js"></script>
<script src="/static/js/google.map.config.js"></script>
<script src="/static/plugins/vide/jquery.vide.js"></script>
<script src="/static/plugins/owl-carousel/owl.carousel.js"></script>
<script src="/static/plugins/pace/pace.min.js"></script>
<script src="/static/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/static/plugins/jquery.browser.js"></script>
<script src="/static/plugins/SmoothScroll.js"></script>
<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.video.min.js"></script>
<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/static/plugins/jquery.countdown/jquery.plugin.min.js"></script>
<script src="/static/plugins/jquery.countdown/jquery.countdown.min.js"></script>
<script src="/static/js/main/coming.soon.config.js"></script>
<script src="/static/js/main/template.js"></script>
<script src="/static/js/main/custom.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/angular/angular.min.js"></script>
<script src="/static/js/angular/angular-route.min.js"></script>
<script src="/static/js/angular/angular-resource.min.js"></script>
<script src="/static/js/angular/angular-sanitize.min.js"></script>
<script src="/static/js/angular/ui-router.js"></script>
<script src="/static/js/angular/model.js"></script>
{#<script src="/static/js/angular/controllers/account.js"></script>#}
{#<script src="/static/js/angular/controllers/basic.js"></script>#}
{#<script src="/static/js/angular/controllers/payment.js"></script>#}
{#<script src="/static/js/angular/controllers/equipment.js"></script>#}
<script src="/static/js/angular/controllers.js"></script>
<script src="/static/js/angular/routes.js"></script>
<script src="/static/js/angular/app.js"></script>

</body>

</html>
