<!-- partial-home.html -->
<ui-view>
    <div class="jumbotron text-center">
        <h1>The Homey Page</h1>
        <p>This page demonstrates <span class="text-danger">nested</span> views.</p>
    </div>
</ui-view>