<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Web Analytics - Overview</title>

	<!-- stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='new_admin/fonts/font-roboto.css') }}">

	<!-- <script src="{{ url_for('static', filename='js/admin/chart-master/Chart.js') }}"></script> -->

	<link rel="stylesheet" href="{{ url_for('static', filename='new_admin/bootstrap/bootstrap4-alpha3.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='new_admin/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='new_admin/web-analytics/style.css') }}">

	<!-- scripts -->
	<script src="{{ url_for('static', filename='new_admin/jquery/jquery-3.1.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='new_admin/tether/tether.min.js') }}"></script>
	<script src="{{ url_for('static', filename='new_admin/bootstrap/bootstrap4-alpha3.min.js') }}"></script>
	<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="{{ url_for('static', filename='new_admin/web-analytics/overview.js') }}"></script>

</head>

<body>
	<!-- header -->
	<nav class="navbar navbar-fixed-top" id="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<div id="sidebar-toggle-button">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
				<div class="brand">
					<a href="web-analytics-overview.html">
						<span class="hidden-xs-down m-r-3">Web Analytics </span><span class="lead">Overview</span>
					</a>
				</div>

			</div>
		</div>
	</nav>
	<!-- /header -->

	<!-- sidebar -->
	<div class="sidebar-toggle" id="sidebar">
		<ul class="nav nav-sidebar">
			<li>
				<a href="web-analytics-real-time.html">
					<i class="fa fa-clock-o fa-lg fa-fw" aria-hidden="true"></i>
					<span>Real Time</span>
				</a>
			</li>
			<li role="separator" class="divider"></li>
			<li>
				<a href="web-analytics-overview.html" class="active">
					<i class="fa fa-newspaper-o fa-lg fa-fw" aria-hidden="true"></i>
					<span>Overview</span>
				</a>
			</li>
			<li role="separator" class="divider"></li>
		</ul>
	</div>
	<!-- /sidebar -->

	<!-- page-content-wrapper -->
	<div class="page-content-toggle" id="page-content-wrapper">
		<div class="container-fluid">

			<!-- 1st row -->
			<div class="row m-b-1">
				<div class="col-md-12">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Revenue - 2015 <span class="tag m-l-1" id="revenue-tag">$2,781,450</span></h4>
						<div id="revenue-spline-area-chart"></div>
					</div>
				</div>
			</div>
			<!-- /1st row -->

			<!-- 2nd row -->
			<div class="row m-b-1">
				<div class="col-md-12">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Revenue By Category</h4>
						<span class="tag custom-tag hidden-sm-down">Try clicking on any segment</span>
						<div class="row">
							<div class="col-md-4">
								<div id="annual-revenue-by-category-pie-chart"></div>
							</div>
							<div class="col-md-8 hidden-sm-down">
								<div id="monthly-revenue-by-category-column-chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /2nd row -->

			<!-- 3rd row -->
			<div class="row">
				<div class="col-xl-6">
					<div class="card card-block">
						<h4 class="card-title m-b-2">
							<span id="visitors-chart-heading">New vs Returning Visitors </span>
							<button class="btn pull-right invisible" type="button" id="visitors-chart-back-button"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i> Back</button>
						</h4>
						<span class="tag custom-tag" id="visitors-chart-tag">Try clicking on any segment</span>
						<div id="visitors-chart"></div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Users</h4>
						<div id="users-spline-chart"></div>
					</div>
				</div>
			</div>
			<!-- /3rd row -->

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /page-content-wrapper -->

</body>

</html>