<!doctype html>
<!--[if IE 6 ]><html lang="en-us" class="ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en-us" class="ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en-us" class="ie8"> <![endif]-->
<!--[if (gt IE 7)|!(IE)]><!-->
<html lang="en-us"><!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Atele | {{ page_title }}</title>

	<meta name="description"
				content="Atele is an information technology company that develops Internet of things solutions designed to organize various capabilities and needs of stakeholders in different sectors to operate all the intricate parts of their systems and structures as efficiently as possible.">
	<meta name="author" content="Atele">
	<meta name="keywords"
				content="Atele, Internet of Things, Intelligent Feedback System, Power Management, Monitoring, Remote Surveillance Service, Asset Tracking Service, Smart Metering, Process Monitoring">
	<meta name="robots" content="index, follow">
	<meta http-equiv="Cache-control" content="documentation">
	<meta name="copyright" content="Atele">
	<meta name="date" content="1st-May/2017">
	{% assets "documentation-global-css" %}
			<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/small_new_fav.png') }}" type="image/x-icon">
	<script>document.createElement('section');var duration='500',easing='swing';</script>
	{% assets "documentation-global-js" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}


	<style>
		html{background-color:#FFFFFF;color:#464646;}
		::-moz-selection{background:#444444;color:#DDDDDD;}
		::selection{background:#444444;color:#DDDDDD;}
		#documenter_sidebar #documenter_logo{background-image:url("/static/images/atele_logo.png");background-size: 100% auto;}
		a{color:#09afdf;}
		.btn {
			border-radius:3px;
		}
		.pl-40 {
			padding-left: 40px;
		}
		.btn-primary {
				background-image: -moz-linear-gradient(top, #0088CC, #0044CC);
				background-image: -ms-linear-gradient(top, #0088CC, #0044CC);
				background-image: -webkit-gradient(linear, 0 0, 0 0088CC%, from(#DDDDDD), to(#0044CC));
				background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
				background-image: -o-linear-gradient(top, #0088CC, #0044CC);
				background-image: linear-gradient(top, #0088CC, #0044CC);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0);
				border-color: #0044CC #0044CC #bfbfbf;
				color:#FFFFFF;
		}
		.btn-primary:hover,
		.btn-primary:active,
		.btn-primary.active,
		.btn-primary.disabled,
		.btn-primary[disabled] {
			border-color: #0088CC #0088CC #bfbfbf;
			background-color: #0044CC;
		}
		hr{border-top:1px solid #EBEBEB;border-bottom:1px solid #FFFFFF;}
		#documenter_sidebar, #documenter_sidebar ul a{background-color:#fafafa;color:#333333;}
		#documenter_sidebar ul{border-top:1px solid #f1f1f1;}
		#documenter_sidebar ul a{border-top:1px solid #ffffff;border-bottom:1px solid #f1f1f1;color:#333333;}
		#documenter_sidebar ul a:hover{background:#777777;color:#DDDDDD;border-top:1px solid #777777;}
		#documenter_sidebar ul a.current{background:#777777;color:#DDDDDD;border-top:1px solid #777777;}
		#documenter_copyright{display:block !important;visibility:visible !important;}
	</style>

</head>
<body class="documenter-project-idea">
	<div id="documenter_sidebar">
		<a href="#documenter_cover" id="documenter_logo"></a>
		<ul id="documenter_nav">
			<li><a class="current" href="#documenter_cover">Start</a></li>
			<li><a href="#update" title="Html Structure">Update from 1.1.0 to 1.2.0</a></li>
			<li><a href="#files_structure" title="Files Structure">Files Structure</a></li>
			<li><a href="#html_structure" title="Html Structure">Html Structure</a></li>
			<li><a href="#css_structure" title="CSS Structure">CSS Structure</a></li>
			<li><a href="#javascript" title="Javascript">Javascript</a></li>
			<li><a href="#customization_styles" title="Customization & Styles">Customization & Styles</a></li>
			<li><a href="#icons" title="Icons">Icons</a></li>
			<li><a href="#sliders" title="Sliders">Sliders</a></li>
			<li><a href="#lightbox" title="Lightbox">Lightbox</a></li>
			<li><a href="#isotope_filtering" title="Isotope Filtering">Isotope Filtering</a></li>
			<li><a href="#contact_form" title="PHP Scripts">Contact Form</a></li>
			<li><a href="#coming_soon" title="Coming Soon page">Coming Soon</a></li>
			<li><a href="#social_media" title="Social Media">Social Media</a></li>
			<li><a href="#google_maps" title="Google Maps">Google Maps</a></li>
			<li><a href="#animations_effect" title="Animations Effect">Animations Effect</a></li>
			<li><a href="#credits" title="Credits">Credits</a></li>
			<li><a href="#license" title="License">License</a></li>

		</ul>
		<div id="documenter_copyright">Copyright HtmlCoder 2015<br>
		made with the <a href="http://rxa.li/documenter">Documenter v2.0</a>
		</div>
	</div>
	<div id="documenter_content">
	<section id="documenter_cover">
	<h1>The Project - 1.2.0</h1>
	<h2>Multipurpose HTML5 Template</h2>
	<div id="documenter_buttons">

	</div>
	<hr>
	<ul>
	<li>created: 05/08/2015</li>
	<li>latest update: 04/03/2016</li>
	<li>by: HtmlCoder</li>
	<li><a href=""></a></li>
	<li>email: <a href="mailto:&#104;&#116;&#109;&#108;&#99;&#111;&#100;&#101;&#114;&#46;&#109;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#104;&#116;&#109;&#108;&#99;&#111;&#100;&#101;&#114;&#46;&#109;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></li>
	</ul>
	<p>Thank you for purchasing our theme. If you have any questions that are beyond the scope of this help file, please feel free to contact me <a target="_blank" href="http://htmlcoder.me/support">http://htmlcoder.me/support</a> I will glad to help you :-)</p>
	</section>
	<section id="update">
	<div class="page-header"><h3>Update from version 1.1.0 to 1.2.0</h3><hr class="notop"></div>

	<h4>The version 1.2.0 includes:</h4>
	<ul>
		<li>5 New Home Pages</li>
		<li>2 Header options</li>
		<li>2 New footer option</li>
		<li>1 New sticky header option</li>
		<li>Slider Revolution version 5</li>
		<li>Several plugin updates</li>
		<li>See detailed <a href="../../html/template/changelog.txt">Changelog</a></li>
	</ul>
	<p style="font-size:16px;"><strong>Important Notice: </strong>Update your existing website only if you want to use the new pages and features. <strong>Before the update, <br>please backup all your files and your website</strong>.</p>

Affected Files/Folders:
<ol>
	<li>bootstrap folder</li>
	<li>css/skins folder</li>
	<li>css/style.css file</li>
	<li>fonts/font-awesome folder</li>
	<li>images folder (new image placeholders added)</li>
	<li>js/template.js file</li>
	<li>less folder</li>
	<li>added new plugin <strong>fullpage</strong> to plugins folder</li>
	<li><strong>plugins</strong> folder:
		<ul>
			<li>Updated Slider Revolution to version 5</li>
			<li>Updated jQuery to v1.12.2</li>
			<li>Updated Charts.js to v1.1.0</li>
			<li>Updated Isotope to v2.2.2</li>
			<li>Updated Magnific popup to v1.1.0</li>
			<li>Updated Morphext to v2.4.4</li>
			<li>Updated Vide to v0.5.0</li>
			<li>Updated Waypoints to 4.0.0</li>
		</ul>
	</li>
</ol>

New HTML files:
<ol>
	<li><a target="_blank" href="../../html/template/index-gym.html">index-gym.html</a> (Gym Home Page)</li>
	<li><a target="_blank" href="../../html/template/index-logistics.html">index-logistics.html</a> (Logistics Home Page)</li>
	<li><a target="_blank" href="../../html/template/index-corporate-4.html">index-corporate-4.html</a> (Corporate 4 Home Page)</li>
	<li><a target="_blank" href="../../html/template/index-resume.html">index-resume.html</a> (Resume Home Page)</li>
	<li><a target="_blank" href="../../html/template/index-agency.html">index-agency.html</a> (Agency Home Page)</li>
	<li><a target="_blank" href="../../html/template/features-headers-gradient-dark.html">features-headers-gradient-dark.html</a> (New header)</li>
	<li><a target="_blank" href="../../html/template/features-headers-gradient-light.html">features-headers-gradient-light.html</a> (New header)</li>
	<li><a target="_blank" href="../../html/template/features-headers-sticky-2.html">features-headers-sticky-2.html</a> (New sticky header)</li>
	<li><a target="_blank" href="../../html/template/features-footers-contact-form-2.html">features-footers-contact-form-2.html</a> (New footer)</li>
	<li><a target="_blank" href="../../html/template/features-footers-full-width.html">features-footers-full-width.html</a> (New footer)</li>
</ol>

Updated HTML files:

<ol>
	<li><a target="_blank" href="../../html/template/features-sliders-fullscreen.html">features-sliders-fullscreen.html</a> (Slider Revolution 5 version)</li>
	<li><a target="_blank" href="../../html/template/features-sliders-fullwidth.html">features-sliders-fullwidth.html</a> (Slider Revolution 5 version)</li>
	<li><a target="_blank" href="../../html/template/features-sliders-fullwidth-big-height.html">features-sliders-fullwidth-big-height.html</a> (Slider Revolution 5 version)</li>
	<li><a target="_blank" href="../../html/template/features-sliders-boxedwidth-light.html">features-sliders-boxedwidth-light.html</a> (Slider Revolution 5 version)</li>
	<li><a target="_blank" href="../../html/template/features-sliders-boxedwidth-dark.html">features-sliders-boxedwidth-dark.html</a> (Slider Revolution 5 version)</li>
	<li><a target="_blank" href="../../html/template/features-sliders-boxedwidth-default.html">features-sliders-boxedwidth-default.html</a> (Slider Revolution 5 version)</li>
	<li><a target="_blank" href="../../html/template/features-sliders-video-background.html">features-sliders-video-background.html</a> (Slider Revolution 5 version)</li>
	<li><a target="_blank" href="../../html/template/features-sliders-text-rotator.html">features-sliders-text-rotator.html</a> (Slider Revolution 5 version)</li>
</ol>

</section>
	<section id="files_structure">
	<div class="page-header"><h3>Files Structure</h3><hr class="notop"></div>
<p>
	- <strong>template</strong> (The Project template) <br>
	- - bootstrap &nbsp;(All Bootstrap files. We keep all of them in this folder to make updates easily)<br>
	- - css&nbsp; (CSS files of the template)<br>
	- - -&nbsp;skins&nbsp; (CSS skin files)<br>
	- - email_templates&nbsp; (HTML email templates)<br>
	- - fonts&nbsp;(External font libraries)<br>
	- - -&nbsp;font-awesome<br>
	- - -&nbsp;fontello<br>
	- - images&nbsp; (All the images of the template)<br>
	- - js&nbsp; (Javascript files of the template)<br>
	- - less&nbsp; (All the less files)<br>
	- - php&nbsp; (PHP files of the template)<br>
	- - plugins &nbsp;(All external libs. We keep all of them in this folder to make updates easily.)<br>
	- - videos&nbsp; (All video files)<br></p>
</section>
<section id="html_structure">
	<div class="page-header"><h3>Html Structure</h3><hr class="notop"></div>
<p>
	The template is based on&nbsp;Bootstrap 3&nbsp;Framework -&nbsp;<a href="http://getbootstrap.com/">http://getbootstrap.com</a></p>
<p>
	Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases.</p>
<p>
	If you need more information, please visit this site:&nbsp;<a href="http://getbootstrap.com/css/#grid">http://getbootstrap.com/css/#grid</a></p>
</section>
<section id="css_structure">
	<div class="page-header"><h3>CSS Structure</h3><hr class="notop"></div>
<h4 id="css_structure_folder_bootstrap">Folder bootstrap</h4>
<p>
	This folder contains all the Bootstrap 3 stylesheets</p>
<div>
	<ul>
		<li>&nbsp;bootstrap/css/bootstrap.css&nbsp;(Generic styles, responsive grid styles,&nbsp;resets &amp; normalization)</li>
	</ul>
</div>
<div>
	&nbsp;</div>
<div>
	<h4 id="css_structure_folder_css">Folder css</h4>
</div>
<div>
	This folder contains the stylesheets of the template</div>
<div>
	&nbsp;</div>
<div>
	<ul>
		<li>css/style.css (This stylesheet contains all the style rules of the template, <strong>do not modify this file</strong>, place all your custom css rules into custom.css file.)</li>
		<li>css/animations.css (This stylesheet contains all the css rules for the animations of the template)</li>
		<li>css/animate.css (This stylesheet contains css rules for the animations of the template) it is imported into the animations.css</li>
		<li>css/print-invoice.css (This stylesheet contains all the print css rules for invoice)</li>
		<li>css/custom.css (<strong>In this stylesheet you should put your own custom css rules so that you can update the template without issues when new versions will be released</strong>)</li>
	</ul>
</div>
<div>
	&nbsp;</div>
<div>
	<h4 id="css_structure_folder_css_skins">Folder css/skins</h4>
</div>
<div>
	This folder contains all the color schemes of the template</div>
<div>
	<br>
	<ul>
		<li>css/skins/blue.css&nbsp;(blue skin)</li>
		<li>css/skins/brown.css&nbsp;(brown skin)</li>
		<li>css/skins/cool_green.css&nbsp;(cool green skin)</li>
		<li>css/skins/dark_cyan.css&nbsp;(dark cyan skin)</li>
		<li>css/skins/dark_red.css&nbsp;(dark red skin)</li>
		<li>css/skins/gold.css&nbsp;(gold skin)</li>
		<li>css/skins/gray.css&nbsp;(gray skin)</li>
		<li>css/skins/green.css&nbsp;(green skin)</li>
		<li>css/skins/light_blue.css&nbsp;(light blue skin)</li>
		<li>css/skins/orange.css&nbsp;(orange skin)</li>
		<li>css/skins/pink.css&nbsp;(pink skin)</li>
		<li>css/skins/purple.css&nbsp;(purple skin)</li>
		<li>css/skins/red.css&nbsp;(red skin)</li>
		<li>css/skins/vivid_red.css&nbsp;(vivid red skin)</li>
	</ul>
</div>
</section>
<section id="javascript">
	<div class="page-header"><h3>Javascript</h3><hr class="notop"></div>

	<h4>Folder js</h4>
	<ul>
		<li>template.js (The initialization of the elements, libs and features is made by the this file, <strong>do not modify this file</strong>, place all your custom js code into custom.js file.)</li>
		<li>custom.js (<strong>You should place your custom scripts in this file, so that you can update the template without issues when new versions will be released</strong>)</li>
		<li>google.map.config.js (Configuration of google map in contact page see below)</li>
		<li>coming.soon.config.j (Configuration of coming soon page see below)</li>
	</ul>
	<h4>Folder plugins</h4>
<p>
	All external js libraries are in the <strong>plugins </strong>folder.&nbsp;We keep all of them in this folder to make updates easily.</p>
</section>
<section id="customization_styles">
	<div class="page-header"><h3>Customization & Styles</h3><hr class="notop"></div>
<h4 id="customization_styles_skins">Skins</h4>
<p>
	To change the default color scheme, please replace the&nbsp;red.css&nbsp;to the following tag in your head:</p>
<pre class="prettyprint lang-html linenums">
&lt;link href=&quot;css/skins/light_blue.css&quot; rel=&quot;stylesheet&quot;&gt;</pre>
<br>
<br>
<h4 id="customization_styles_layout_style">Layout Style</h4>
<p>
	The template has two different layout modes, Wide and Boxed.&nbsp;The wide one is the default option, if you want to use the Boxed version, add the <strong>boxed </strong>class to &lt;body&gt; tag as below:</p>
<pre class="prettyprint lang-html linenums">
&lt;body class=&quot;boxed&quot;&gt;</pre>
<br>
<br>
<h4>Background Patterns</h4>
<p>
	There are 9 background patterns. Background patterns are available only in boxed layout mode. In order to apply a background pattern all you have to do is to add one of classes pattern-1 ... pattern-9 to body tag.</p>
<pre class="prettyprint lang-html linenums">
&lt;body class=&quot;pattern-1 boxed&quot;&gt;</pre>
<br>
<br>
<h4 id="customization_styles_fonts">Fonts</h4>
<p>
	To change the embedded fonts, please take a look in the head part of the website and you will find these tags:</p>
<pre class="prettyprint lang-html linenums">
&lt;link href=&quot;http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
&lt;link href=&quot;http://fonts.googleapis.com/css?family=Raleway:700,400,300&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
&lt;link href=&quot;http://fonts.googleapis.com/css?family=Pacifico&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
&lt;link href=&quot;http://fonts.googleapis.com/css?family=PT+Serif&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;</pre>
<p>
	To change the fonts,&nbsp;visit the&nbsp;<a href="http://www.google.com/webfonts">http://www.google.com/webfonts </a>choose a font and use the generated code.</p>
<br>
<br>
<h4 id="header_options">Header Top Options</h4>

<div class="pl-40">
	<h4>Dark Header Top</h4>
	<p>To make the background of header-top dark, add the class <strong>dark</strong> to <strong>.header-top</strong>.</p>
	<pre class="prettyprint lang-html linenums">
	&lt;div class=&quot;header-top dark&quot;&gt;</pre>
	Example: <a target="_blank" href="../../html/template/features-headers-classic-dark.html">features-headers-classic-dark.html</a>
	<br>
	<br>
	<br>
	<h4>Colored Header Top</h4>
	<p>To apply the color of the current color-scheme to the background of header-top, add the class <strong>colored</strong> to <strong>.header-top</strong>.</p>
	<pre class="prettyprint lang-html linenums">
	&lt;div class=&quot;header-top colored&quot;&gt;</pre>
	Example 1: <a target="_blank" href="../../html/template/features-headers-colored.html">features-headers-colored.html</a><br>
	Example 2: <a target="_blank" href="../../html/template/features-headers-colored-dark.html">features-headers-colored-dark.html</a>
	<br>
	<br>
	<br>
	<h4>Light Header Top</h4>
	<p>To make the background of header-top light you don't need to add any classes to .header-top.</p>
	<pre class="prettyprint lang-html linenums">
	&lt;div class=&quot;header-top&quot;&gt;</pre>
	Example: <a target="_blank" href="../../html/template/features-headers-classic.html">features-headers-classic.html</a>
</div>
<br>
<br>

<h4>Header Options</h4>
<div class="pl-40">
	<h4>Fixed Header</h4>
	<p>By default the positioning of main navigation is set to fixed. To change this behavior <strong>delete </strong>the <strong>fixed </strong>class from the header.</p>
	<pre class="prettyprint lang-html linenums">
	&lt;header class=&quot;header fixed clearfix&quot;&gt;</pre>
	Example of static header: <a target="_blank" href="../../html/template/features-headers-simple.html">features-headers-simple.html</a>
	<br>
	<br>
	<br>
	<h4>Dark/Light header</h4>
	<p>
		By default the header is light <strong>add </strong>the <strong>dark </strong>class to .header in order to change it from light to dark version.</p>
	<pre class="prettyprint lang-html linenums">
	&lt;header class="header fixed dark clearfix"&gt;</pre>
	Example of Light Header: <a target="_blank" href="../../html/template/features-headers-classic.html">features-headers-classic.html</a><br>
	Example of Dark Header: <a target="_blank" href="../../html/template/features-headers-classic-dark.html">features-headers-classic-dark.html</a>
	<br>
	<br>
	<br>
	<h4>Transparent header</h4>
	<p><strong>Add </strong>the <strong>transparent </strong>class to body in order to make the header transparent.</p>
	<pre class="prettyprint lang-html linenums">
	&lt;body class="no-trans transparent-header"&gt;</pre>
	Example of Default/Semi Transparent: <a target="_blank" href="../../html/template/features-headers-default.html">features-headers-default.html</a><br>
	Example of Dark/Semi Transparent: <a target="_blank" href="../../html/template/features-headers-default-dark.html">features-headers-default-dark.html</a>
</div>
<br>
<br>
<h4>Predifined Header Examples</h4>
Default/Semi Transparent: <a target="_blank" href="../../html/template/features-headers-default.html">features-headers-default.html</a><br>
Dark/Semi Transparent: <a target="_blank" href="../../html/template/features-headers-default-dark.html">features-headers-default-dark.html</a><br>
Classic Light: <a target="_blank" href="../../html/template/features-headers-classic.html">features-headers-classic.html</a><br>
Classic Dark: <a target="_blank" href="../../html/template/features-headers-classic-dark.html">features-headers-classic-dark.html</a><br>
Colored Light: <a target="_blank" href="../../html/template/features-headers-colored.html">features-headers-colored.html</a><br>
Colored Dark: <a target="_blank" href="../../html/template/features-headers-colored-dark.html">features-headers-colored-dark.html</a><br>
Full Width: <a target="_blank" href="../../html/template/features-headers-full-width.html">features-headers-full-width.html</a><br>
Offcanvas Left: <a target="_blank" href="../../html/template/features-headers-offcanvas-left.html">features-headers-offcanvas-left.html</a><br>
Offcanvas Right: <a target="_blank" href="../../html/template/features-headers-offcanvas-right.html">features-headers-offcanvas-right.html</a><br>
Logo Centered: <a target="_blank" href="../../html/template/features-headers-logo-centered.html">features-headers-logo-centered.html</a><br>
Slider Top: <a target="_blank" href="../../html/template/features-headers-slider-top.html">features-headers-slider-top.html</a><br>
Simple Static: <a target="_blank" href="../../html/template/features-headers-simple.html">features-headers-simple.html</a>
<br>
<br>
<h4>Menu Options</h4>
<p>In Order to disable the animations of main menu <strong>remove</strong> the class <strong>animated</strong> from the .main-navigation div.</p>
<pre class="prettyprint lang-html linenums">
&lt;div class="main-navigation with-dropdown-buttons"&gt;</pre>
Example: <a target="_blank" href="../../html/template/features-menus-onhover-no-animations.html">features-menus-onhover-no-animations.html</a>
<p>In Order to make the submenus open with click event instead of hover <strong>add</strong> the class <strong>onclick</strong> to the .main-navigation div.</p>
<pre class="prettyprint lang-html linenums">
&lt;div class="main-navigation onclick with-dropdown-buttons"&gt;</pre>
Example 1: <a target="_blank" href="../../html/template/features-menus-onclick.html">features-menus-onclick.html</a><br>
Example 2 (Animations Disabled): <a target="_blank" href="../../html/template/features-menus-onclick-no-animations.html">features-menus-onclick-no-animations.html</a>
<br>
<br>
<h4>Dark/Light footer</h4>
<p>
	By default the footer is Light <strong>add </strong>the <strong>dark </strong>class to #footer in order to change it from light to dark version.</p>
<pre class="prettyprint lang-html linenums">
&lt;footer id="footer" class="dark"&gt;</pre>
Example of Light Footer: <a target="_blank" href="../../html/template/features-footers-default.html#footer">features-footers-default.html</a><br>
Example of Dark Footer: <a target="_blank" href="../../html/template/index-corporate-1.html#footer">index-corporate-1.html</a>
<br>
<br>
<h4>Page Loaders</h4>
<p>We are using pace plugin in order to create amazing page loaders, for more info about pace plugin please visit <a href="http://github.hubspot.com/pace/docs/welcome/" target="_blank">http://github.hubspot.com/pace/docs/welcome/</a>.</p>
<p>
	In order to apply a page loader to a page, add the following script to your html file, right before the closing body tag.</p>
<pre class="prettyprint lang-javascript linenums">
&lt;!-- Pace javascript --&gt;
&lt;script type="text/javascript" src="plugins/pace/pace.min.js"&gt;&lt;/script&gt;
</pre>
<a href="http://screencast.com/t/5LPBNWyuab9j" target="_blank">see here how</a>
<p>
	Then add one of classes page-loader-1 ... page-loader-6 to body tag.</p>
<pre class="prettyprint lang-html linenums">
&lt;body class=&quot;page-loader-1&quot;&gt;</pre>
<p>Take a look to the following examples:</p>
Option 1: <a target="_blank" href="../../html/template/components-page-loaders.html">components-page-loaders.html</a><br>
Option 2: <a target="_blank" href="../../html/template/components-page-loaders-2.html">components-page-loaders-2.html</a><br>
Option 3: <a target="_blank" href="../../html/template/components-page-loaders-3.html">components-page-loaders-3.html</a><br>
Option 4: <a target="_blank" href="../../html/template/components-page-loaders-4.html">components-page-loaders-4.html</a><br>
Option 5: <a target="_blank" href="../../html/template/components-page-loaders-5.html">components-page-loaders-5.html</a><br>
Option 6: <a target="_blank" href="../../html/template/components-page-loaders-6.html">components-page-loaders-6.html</a>
<br>
<br>
</section>
<section id="icons">
	<div class="page-header"><h3>Icons</h3><hr class="notop"></div>
<p>We are using three iconic font libraries in The Project Template checkout all available icons:</p>
<ul>
	<li><a target="_blank" href="../../html/template/features-icons-fontawesome.html">Fontawesome</a></li>
	<li><a target="_blank" href="../../html/template/features-icons-fontello.html">Fontello</a></li>
	<li><a target="_blank" href="../../html/template/features-icons-glyphicons.html">Glyphicons</a></li>
</ul>
</section>
<section id="sliders">
	<div class="page-header"><h3>Sliders</h3><hr class="notop"></div>
<h4 id="sliders_1_main_slider">1. Home Page Slider</h4>
<p>
	Home page slider is implemented with <strong>Slider Revolution</strong>. Slider Revolution is an all-purpose slide displaying solution that allows for showing almost any kind of content with highly customizable, transitions, effects and custom animations. Due to its visual oriented interface and countless options, Slider Revolution is suited for beginners and pro’s alike!</p>
<p>
	More info here <a target="_blank" href="http://themes.themepunch.com/?theme=revolution_jq">http://themes.themepunch.com/?theme=revolution_jq</a>. See the detailed documentation of Slider Revolution plugin <a target="_blank" href="https://www.themepunch.com/revsliderjquery-doc/slider-revolution-jquery-5-x-documentation/">here</a>.</p>
<br>
<br>
<h4>Basic HTML markup of Full Screen Slideshow:</h4>
<pre class="prettyprint lang-html linenums">
&lt;div class="slider-banner-container"&gt;
	&lt;div class="slider-banner-fullscreen"&gt;
		&lt;ul class="slides"&gt;
			&lt;!-- slide 1 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
			&lt;!-- slide 2 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
			&lt;!-- slide 3 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>
Example: <a target="_blank" href="../../html/template/features-sliders-fullscreen.html">features-sliders-fullscreen.html</a>
<br>
<br>
<h4>Basic HTML markup of Full Width Slideshow:</h4>
<pre class="prettyprint lang-html linenums">
&lt;div class="slider-banner-container"&gt;
	&lt;div class="slider-banner-fullwidth"&gt;
		&lt;ul class="slides"&gt;
			&lt;!-- slide 1 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
			&lt;!-- slide 2 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
			&lt;!-- slide 3 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>
Example: <a target="_blank" href="../../html/template/features-sliders-fullwidth.html">features-sliders-fullwidth.html</a>
<br>
<br>
<h4>Basic HTML markup of Full Width Big Height Slideshow:</h4>
<pre class="prettyprint lang-html linenums">
&lt;div class="slider-banner-container"&gt;
	&lt;div class="slider-banner-fullwidth-big-height"&gt;
		&lt;ul class="slides"&gt;
			&lt;!-- slide 1 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
			&lt;!-- slide 2 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
			&lt;!-- slide 3 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>
Example: <a target="_blank" href="../../html/template/features-sliders-fullwidth-big-height.html">features-sliders-fullwidth-big-height.html</a>
<br>
<br>
<h4>Basic HTML markup of Boxed Width Slideshow:</h4>
<pre class="prettyprint lang-html linenums">
&lt;div class="slider-banner-container"&gt;
	&lt;div class="slider-banner-boxedwidth"&gt;
		&lt;ul class="slides"&gt;
			&lt;!-- slide 1 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
			&lt;!-- slide 2 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
			&lt;!-- slide 3 --&gt;
			&lt;li&gt; ... &lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>
Example 1 Light Background: <a target="_blank" href="../../html/template/features-sliders-boxedwidth-light.html">features-sliders-boxedwidth-light.html</a><br>
Example 2 Dark Background: <a target="_blank" href="../../html/template/features-sliders-boxedwidth-dark.html">features-sliders-boxedwidth-dark.html</a><br>
Example 3 Default Background: <a target="_blank" href="../../html/template/features-sliders-boxedwidth-default.html">features-sliders-boxedwidth-default.html</a>
<br>
<br>
<h4>Slideshow with Video Background:</h4>
The video of slideshow is located into the <strong>videos</strong> folder. The filename of the video is <strong>background-video-banner</strong>. Just replace this file with your video file. <br>
Example: <a target="_blank" href="../../html/template/features-sliders-video-background.html">features-sliders-video-background.html</a><br>
<br>
<br>
<h4>Text Rotator:</h4>
<p><a target="_blank" href="https://github.com/MrSaints/Morphext">Morphext</a> plugin is used to create simple text rotators. A simple, high-performance and cross-browser jQuery rotating / carousel plugin for text phrases powered by <a target="_blank" href="http://daneden.github.io/animate.css/">Animate.css</a>. Please check the website of the plugin for more info <a href="http://morphext.fyianlai.com/">http://morphext.fyianlai.com/</a></p>
Example 1: <a target="_blank" href="../../html/template/features-sliders-text-rotator.html">features-sliders-text-rotator.html</a><br>
Examples: <a target="_blank" href="../../html/template/components-text-rotators.html">components-text-rotators.html</a><br>
<br>
<br>

<h4 id="sliders_3_basic_content_slider">2. Content Sliders</h4>
<p>
	<strong>OWL Carousel</strong> is used to create simple content sliders or carousels, please see <a target="_blank" href="../../html/template/components-content-sliders.html">components-content-sliders.html</a></p>
<p>
	OWL Carousel is touch enabled jQuery plugin that lets you create beautiful responsive carousel sliders. Please check the website of the plugin for more info&nbsp;<a href="http://owlgraphic.com/owlcarousel/">http://owlgraphic.com/owlcarousel/</a></p>
<br>
<p>
	Variations of <strong>content slider:</strong></p>
<p>1. Content Slider with Controls (Autoplay off)</p>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;owl-carousel content-slider-with-controls&quot;&gt;
	&lt;!-- first slide start --&gt;
	&lt;div&gt;
	...
	&lt;/div&gt;
	.....
&lt;/div&gt;
</pre>
<p>2. Content Slider with Controls 2 (Autoplay off)</p>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;owl-carousel content-slider-with-large-controls&quot;&gt;
	&lt;!-- first slide start --&gt;
	&lt;div&gt;
	...
	&lt;/div&gt;
	.....
&lt;/div&gt;
</pre>
<p>3. Content Slider without controls (Autoplay on)</p>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;owl-carousel content-slider&quot;&gt;
	&lt;!-- first slide start --&gt;
	&lt;div&gt;
	...
	&lt;/div&gt;
	.....
&lt;/div&gt;
</pre>
<p>4. Content Slider with Controls (Autoplay on)</p>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;owl-carousel content-slider-with-controls-autoplay&quot;&gt;
	&lt;!-- first slide start --&gt;
	&lt;div&gt;
	...
	&lt;/div&gt;
	.....
&lt;/div&gt;
</pre>
<p>5. Content Slider with Controls 2 (Autoplay On)</p>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;owl-carousel content-slider-with-large-controls-autoplay&quot;&gt;
	&lt;!-- first slide start --&gt;
	&lt;div&gt;
	...
	&lt;/div&gt;
	.....
&lt;/div&gt;
</pre>
<br>
<p>
	Variations of <strong>carousels:</strong></p>
<p>1. Carousel (Autoplay off)</p>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;owl-carousel carousel&quot;&gt;
	&lt;!-- first slide start --&gt;
	&lt;div&gt;
	...
	&lt;/div&gt;
	.....
&lt;/div&gt;
</pre>
<p>2. Carousel (Autoplay on)</p>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;owl-carousel carousel-autoplay&quot;&gt;
	&lt;!-- first slide start --&gt;
	&lt;div&gt;
	...
	&lt;/div&gt;
	.....
&lt;/div&gt;
</pre>
<p>3. Clients</p>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;owl-carousel clients&quot;&gt;
	&lt;!-- first slide start --&gt;
	&lt;div&gt;
	...
	&lt;/div&gt;
	.....
&lt;/div&gt;
</pre>
</section>
<section id="lightbox">
	<div class="page-header"><h3>Lightbox</h3><hr class="notop"></div>
<p>
	<a href="http://dimsemenov.com/plugins/magnific-popup/" target="_blank">Magnific Popup</a>&nbsp;is a responsive lightbox &amp; dialog script with focus on performance and providing best experience for user with any device.<br>
	Please check the Magnific Popup documentation here&nbsp;<a href="http://dimsemenov.com/plugins/magnific-popup/documentation.html" target="_blank">http://dimsemenov.com/plugins/magnific-popup/documentation.html</a>.</p>
	<p>See lightbox examples in <a target="_blank" href="../../html/template/components-lightbox.html">components-lightbox.html</a> page.</p>
</section>
<section id="isotope_filtering">
	<div class="page-header"><h3>Isotope Filtering</h3><hr class="notop"></div>
<p>
	For the Filtering, The Project is using the Isotope plugin&nbsp;&nbsp;<a href="http://isotope.metafizzy.co/" target="_blank">http://isotope.metafizzy.co/</a></p>
<p>
	Here is an example:</p>
<h4 id="isotope_filtering_filters_nbspoptions_nbsphtml_markup">Filters&nbsp;Options&nbsp;HTML markup:</h4>
<pre class="prettyprint lang-html linenums">
&lt;div class="filters"&gt;
	&lt;ul class="nav nav-pills"&gt;
		&lt;li class="active"&gt;&lt;a href="#" data-filter="*"&gt;All&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#" data-filter=".web-design"&gt;Web design&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#" data-filter=".app-development"&gt;App development&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#" data-filter=".site-building"&gt;Site building&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
</pre>
<p>
	&nbsp;</p>
<h4 id="isotope_filtering_filters_nbspdata_html_markup">Filters&nbsp;Data HTML markup:</h4>
<pre class="prettyprint lang-html linenums">
&lt;div class="isotope-container row"&gt;
	&lt;div class="col-md-4 col-sm-6 isotope-item web-design"&gt;
	....
	content
	....
	&lt;/div&gt;
	&lt;div class="col-md-4 col-sm-6 isotope-item site-building"&gt;
	....
	content
	....
	&lt;/div&gt;
...
&lt;/div&gt;
</pre>
<p>
	&nbsp;</p>
<p>
	See more examples of isotope filtering into following files:</p>
<ul>
	<li>
		<a target="_blank" href="../../html/template/index-portfolio.html">index-portfolio.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-1-2-col.html">portfolio-grid-1-2-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-1-3-col.html">portfolio-grid-1-3-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-1-4-col.html">portfolio-grid-1-4-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-1-sidebar.html">portfolio-grid-1-sidebar.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-2-2-col.html">portfolio-grid-2-2-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-2-3-col.html">portfolio-grid-2-3-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-2-4-col.html">portfolio-grid-2-4-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-2-sidebar.html">portfolio-grid-2-sidebar.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-3-2-col.html">portfolio-grid-3-2-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-3-3-col.html">portfolio-grid-3-3-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-3-4-col.html">portfolio-grid-3-4-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-grid-3-sidebar.html">portfolio-grid-3-sidebar.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-fullwidth-2-col.html">portfolio-fullwidth-2-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-fullwidth-3-col.html">portfolio-fullwidth-3-col.html</a></li>
	<li>
		<a target="_blank" href="../../html/template/portfolio-fullwidth-4-col.html">portfolio-fullwidth-4-col.html</a></li>
</ul>
<p>
	&nbsp;</p>
</section>
<section id="contact_form">
	<div class="page-header"><h3>Contact form</h3><hr class="notop"></div>
<p>	In order to setup the contact form of the template the only thing you need to do is to set your email address.<br>
	To do this, please open<strong> &quot;php/email-sender.php&quot; </strong>file and change this line:</p>
<pre class="prettyprint lang-php linenums">
$Recipient = 'set_your_email_here@domain.com';
</pre>
<p>
	<strong>The contact form is functional only on a live server with php support not localy on your pc.</strong></p>
</section>
<section id="coming_soon">
	<div class="page-header"><h3>Coming Soon Page</h3><hr class="notop"></div>
<p>	Regarding coming soon page only thing you need to do is to set the time at which the countdown expires.<br>
	To do this, please open<strong> &quot;js/coming.soon.config.js&quot; </strong>file and change this line:</p>
<pre class="prettyprint lang-js linenums">
		// var untilDate new Date(Year, Month - 1, Day)
		//-----------------------------------------------
		var untilDate = new Date(2016, 2 - 1, 1);
</pre>
</section>



<section id="social_media">
	<div class="page-header"><h3>Social Media</h3><hr class="notop"></div>
<h4 id="social_media_social_media_html_markup">Social Media HTML Markup</h4>
<pre class="prettyprint lang-html linenums">
&lt;ul class="social-links"&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.facebook.com"&gt;&lt;i class="fa fa-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.twitter.com"&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://plus.google.com"&gt;&lt;i class="fa fa-google-plus"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.skype.com"&gt;&lt;i class="fa fa-skype"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.instagram.com"&gt;&lt;i class="fa fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.linkedin.com"&gt;&lt;i class="fa fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.pinterest.com"&gt;&lt;i class="fa fa-pinterest"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.flickr.com"&gt;&lt;i class="fa fa-flickr"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="https://foursquare.com"&gt;&lt;i class="fa fa-foursquare"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="https://soundcloud.com"&gt;&lt;i class="fa fa-soundcloud"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="https://www.tumblr.com"&gt;&lt;i class="fa fa-tumblr"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="https://www.vimeo.com"&gt;&lt;i class="fa fa-vimeo-square"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="https://www.behance.net"&gt;&lt;i class="fa fa-behance"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.reddit.com"&gt;&lt;i class="fa fa-reddit"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="http://www.drupal.org"&gt;&lt;i class="fa fa-drupal"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="#"&gt;&lt;i class="fa fa-share-alt"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a target="_blank" href="https://vine.co"&gt;&lt;i class="fa fa-vine"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
<h4>Colored social icons</h4>
<p>
<pre class="prettyprint lang-html linenums">
&lt;ul class="social-links colored"&gt;
	&lt;li class="facebook"&gt;&lt;a target="_blank" href="http://www.facebook.com"&gt;&lt;i class="fa fa-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="twitter"&gt;&lt;a target="_blank" href="http://www.twitter.com"&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="googleplus"&gt;&lt;a target="_blank" href="http://plus.google.com"&gt;&lt;i class="fa fa-google-plus"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="skype"&gt;&lt;a target="_blank" href="http://www.skype.com"&gt;&lt;i class="fa fa-skype"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="instagram"&gt;&lt;a target="_blank" href="http://www.instagram.com"&gt;&lt;i class="fa fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="linkedin"&gt;&lt;a target="_blank" href="http://www.linkedin.com"&gt;&lt;i class="fa fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="pinterest"&gt;&lt;a target="_blank" href="http://www.pinterest.com"&gt;&lt;i class="fa fa-pinterest"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="flickr"&gt;&lt;a target="_blank" href="http://www.flickr.com"&gt;&lt;i class="fa fa-flickr"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="youtube"&gt;&lt;a target="_blank" href="https://www.youtube.com"&gt;&lt;i class="fa fa-youtube"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="foursquare"&gt;&lt;a target="_blank" href="https://foursquare.com"&gt;&lt;i class="fa fa-foursquare"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="soundcloud"&gt;&lt;a target="_blank" href="https://soundcloud.com"&gt;&lt;i class="fa fa-soundcloud"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="tumblr"&gt;&lt;a target="_blank" href="https://www.tumblr.com"&gt;&lt;i class="fa fa-tumblr"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="vimeo"&gt;&lt;a target="_blank" href="https://www.vimeo.com"&gt;&lt;i class="fa fa-vimeo-square"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="dribbble"&gt;&lt;a target="_blank" href="https://dribbble.com/"&gt;&lt;i class="fa fa-dribbble"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="behance"&gt;&lt;a target="_blank" href="https://www.behance.net/"&gt;&lt;i class="fa fa-behance"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="vine"&gt;&lt;a target="_blank" href="https://vine.co"&gt;&lt;i class="fa fa-vine"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="stumbleupon"&gt;&lt;a target="_blank" href="https://www.stumbleupon.com/"&gt;&lt;i class="fa fa-stumbleupon"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
<div>
	&nbsp;</div>
<h4 id="social_media_large_icons_html_markup">Large icons</h4>
<p>
	Add the class <strong>large</strong> to &lt;ul&gt; tag as below:</p>
<pre class="prettyprint lang-html linenums">
&lt;ul class=&quot;social-links large&quot;&gt;
...
&lt;/ul&gt;</pre>
<h4>Square Icons</h4>
<p>
	Add the class <strong>square</strong> to &lt;ul&gt; tag as below:</p>
<pre class="prettyprint lang-html linenums">
&lt;ul class=&quot;social-links square&quot;&gt;
...
&lt;/ul&gt;</pre>
<h4>Circural icons</h4>
<p>
	Add the class <strong>circle</strong> to &lt;ul&gt; tag as below:</p>
<pre class="prettyprint lang-html linenums">
&lt;ul class=&quot;social-links circle&quot;&gt;
...
&lt;/ul&gt;</pre>
<h4>Dark icons</h4>
<p>
	Add the class <strong>dark</strong> to &lt;ul&gt; tag as below:</p>
<pre class="prettyprint lang-html linenums">
&lt;ul class=&quot;social-links dark&quot;&gt;
...
&lt;/ul&gt;</pre>
<h4>Default icons</h4>
<p>
	Add the class <strong>default</strong> to &lt;ul&gt; tag as below:</p>
<pre class="prettyprint lang-html linenums">
&lt;ul class=&quot;social-links default&quot;&gt;
...
&lt;/ul&gt;</pre>
<br>
<h4>Social Buttons</h4>
<pre class="prettyprint lang-html linenums">
&lt;a target="_blank" href="https://www.twitter.com" class="btn btn-animated twitter"&gt;Twitter&lt;i class="pl-10 fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.facebook.com" class="btn btn-animated facebook"&gt;Facebook&lt;i class="pl-10 fa fa-facebook-square"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://plus.google.com" class="btn btn-animated googleplus"&gt;Google+&lt;i class="pl-10 fa fa-google-plus"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.skype.com" class="btn btn-animated skype"&gt;Skype&lt;i class="pl-10 fa fa-skype"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.instagram.com" class="btn btn-animated instagram"&gt;Instagram&lt;i class="pl-10 fa fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.linkedin.com" class="btn btn-animated linkedin"&gt;Linkedin&lt;i class="pl-10 fa fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="http://www.pinterest.com" class="btn btn-animated pinterest"&gt;Pinterest&lt;i class="fa fa-pinterest"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="http://www.flickr.com" class="btn btn-animated flickr"&gt;Flickr&lt;i class="fa fa-flickr"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://foursquare.com" class="btn btn-animated foursquare"&gt;Foursquare&lt;i class="fa fa-foursquare"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://soundcloud.com" class="btn btn-animated soundcloud"&gt;Soundcloud&lt;i class="fa fa-soundcloud"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.tumblr.com" class="btn btn-animated tumblr"&gt;Tumblr&lt;i class="fa fa-tumblr-square"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.vimeo.com" class="btn btn-animated vimeo"&gt;Vimeo&lt;i class="fa fa-vimeo-square"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.youtube.com" class="btn btn-animated youtube"&gt;Youtube&lt;i class="fa fa-youtube"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://dribbble.com/" class="btn btn-animated dribbble"&gt;Dribbble&lt;i class="fa fa-dribbble"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.behance.net/" class="btn btn-animated behance"&gt;Behance&lt;i class="fa fa-behance"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://vine.co" class="btn btn-animated vine"&gt;Vine&lt;i class="fa fa-vine"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.stumbleupon.com/" class="btn btn-animated stumbleupon"&gt;Stumbleupon&lt;i class="fa fa-stumbleupon"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a target="_blank" href="https://www.xing.com/" class="btn btn-animated xing"&gt;Xing&lt;i class="fa fa-xing"&gt;&lt;/i&gt;&lt;/a&gt;
</pre>
<p>See more examples of social icons into <a target="_blank" href="../../html/template/components-social-icons.html">components-social-icons.html</a> page.</p>
</section>
<section id="google_maps">
	<div class="page-header"><h3>Google Maps</h3><hr class="notop"></div>
<p>
	The Project comes with a great Google maps integration. Making it easy for your visitor to locate your business on the map plays an ever-growing role nowadays.</p>
<p>
	To change the default Latitude, Longitude and Zoom of the Google map, please replace the following values to your&nbsp;js/google.map.config.js&nbsp;file:</p>
<pre class="prettyprint lang-js linenums">
// Set the coordinates of your location
myLatlng = new google.maps.LatLng(41.38791700, 2.16991870);
myZoom = 12;</pre>
</section>
<section id="animations_effect">
	<div class="page-header"><h3>Animations Effect</h3><hr class="notop"></div>
<p>
	<strong>animate.css&nbsp;</strong><a href="http://daneden.github.io/animate.css/" target="_blank">http://daneden.github.io/animate.css/</a></p>
<p>
	You can add some Animations / Transitions to the elements which fires when an element scrolls into view.&nbsp;Great for emphasis, home pages, sliders, and general just-add-water-awesomeness.</p>
<h4 id="animations_effect_usage">Usage:</h4>
<pre class="prettyprint lang-html linenums">
&lt;div class=&quot;object-non-visible&quot; data-animation-effect=&quot;fadeInLeft&quot; data-effect-delay=&quot;0&quot;&gt;
...
&lt;/div&gt;</pre>
<p>
	The Attribute&nbsp;<strong>data-effect-delay</strong>&nbsp;is&nbsp;Optional&nbsp;and is set in&nbsp;Miliseconds.</p>
<p>
	The animation can be set to:</p>
<ul>
	<li>bounce</li>
	<li>flash</li>
	<li>pulse</li>
	<li>rubberBand</li>
	<li>shake</li>
	<li>swing</li>
	<li>tada</li>
	<li>wobble</li>
	<li>bounceIn</li>
	<li>bounceInDown</li>
	<li>bounceInLeft</li>
	<li>bounceInRight</li>
	<li>bounceInUp</li>
	<li>fadeIn</li>
	<li>fadeInDown</li>
	<li>fadeInDownBig</li>
	<li>fadeInLeft</li>
	<li>fadeInLeftBig</li>
	<li>fadeInRight</li>
	<li>fadeInRightBig</li>
	<li>fadeInUp</li>
	<li>fadeInUpBig</li>
	<li>flip</li>
	<li>flipInX</li>
	<li>flipInY</li>
	<li>lightSpeedIn</li>
	<li>rotateIn</li>
	<li>rotateInDownLeft</li>
	<li>rotateInDownRight</li>
	<li>rotateInUpLeft</li>
	<li>rotateInUpRight</li>
	<li>slideInUp</li>
	<li>slideInDown</li>
	<li>slideInLeft</li>
	<li>slideInRight</li>
	<li>zoomIn</li>
	<li>zoomInDown</li>
	<li>zoomInLeft</li>
	<li>zoomInRight</li>
	<li>zoomInUp</li>
	<li>hinge</li>
	<li>rollIn</li>
</ul>
<p>
	<strong>Custom <span style="font-style:italic;">The Project</span> animations</strong></p>
<ul>
	<li>
		fadeInUpSmall</li>
	<li>
		fadeInDownSmall</li>
	<li>
		fadeInLeftSmall</li>
	<li>
		fadeInRightSmall</li>
</ul>
</section>
<section id="credits">
	<div class="page-header"><h3>Credits</h3><hr class="notop"></div>
<h4 id="credits_demo_images">Demo images</h4>
<ul>
	<li>Unsplash by <a target="_blank" href="https://pickcrew.com">Crew</a> -&nbsp;<a target="_blank" href="http://unsplash.com/">http://unsplash.com/</a> - <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">License</a></li>
	<li>Gratisography by <a target="_blank" href="http://www.laughandpee.com/">Ryan McGuire</a> - <a target="_blank" href="http://www.gratisography.com/">http://www.gratisography.com/</a> - <a target="_blank" href="http://www.gratisography.com/terms.html">License</a></li>
	<li>Raumrot by Markus Spiske - <a target="_blank" href="http://raumrot.com/">http://raumrot.com/</a> - <a target="_blank" href="http://creativecommons.org/licenses/by/2.0/">License</a></li>
	<li>Jeshoots by <a target="_blank" href="http://jeshoots.com/author/">Jan Vasek</a> - <a target="_blank" href="http://jeshoots.com/">http://jeshoots.com/</a> - <a target="_blank" href="http://creativecommons.org/publicdomain/zero/1.0/">License</a></li>
	<li>Pexels by Ingo Joseph, Bruno Joseph and Tizian Lengemann - <a target="_blank" href="http://www.pexels.com/">http://www.pexels.com/</a> - <a target="_blank" href="http://www.pexels.com/photo-license/">License</a></li>
	<li>Pixabay by <a target="_blank" href="http://pixabay.com/en/service/about/">Braxmeier &amp; Steinberger GbR</a> - <a target="_blank" href="http://pixabay.com/">http://pixabay.com/</a> - <a target="_blank" href="http://creativecommons.org/publicdomain/zero/1.0/deed.en">License</a></li>
	<li>Lorempixel by Felix Holler - <a target="_blank" href="http://lorempixel.com/">http://lorempixel.com/</a> - <a target="_blank" href="http://creativecommons.org/licenses/">License</a></li>
	<li>Nick Nguyen - <a href="https://www.flickr.com/photos/nicktakespics/">https://www.flickr.com/photos/nicktakespics/</a></li>
	<li>Christian Kadluba - <a href="https://www.flickr.com/photos/pokpok/">https://www.flickr.com/photos/pokpok/</a></li>
	<li>Ruocaled - <a href="https://www.flickr.com/photos/ruocaled/">https://www.flickr.com/photos/ruocaled/</a></li>
	<li>Martin Cathrae - <a href="https://www.flickr.com/photos/suckamc/">https://www.flickr.com/photos/suckamc/</a></li>
	<li>Robin - <a href="https://www.flickr.com/photos/fotoosvanrobin/">https://www.flickr.com/photos/fotoosvanrobin/</a></li>
	<li>Pink Sherbet Photography - <a href="https://www.flickr.com/photos/pinksherbet/">https://www.flickr.com/photos/pinksherbet/</a></li>
	<li>Fotolia -&nbsp;<a href="http://eu.fotolia.com/" target="_blank">http://eu.fotolia.com/</a></li>
	<li>Perfect Pixels -&nbsp;<a href="http://p-px.com/" target="_blank">http://p-px.com/</a></li>
</ul>
<h5><u>The images used on the&nbsp;live demo website&nbsp;are for demonstration purposes only and are not included in the file for download.</u></h5>
<h4 id="credits_demo_videos">Videos</h4>
<ul>
	<li>Life of Vids by <a target="_blank" href="http://www.leeroy.ca">Leeroy</a> -&nbsp;<a target="_blank" href="http://www.lifeofvids.com/">http://www.lifeofvids.com/</a> - <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">License</a></li>
	<li>Beachfront B-Roll - <a target="_blank" href="http://www.beachfrontbroll.com/">http://www.beachfrontbroll.com/</a> - <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/">License</a></li>
</ul>
<h4>Patterns</h4>
<ul>
	<li>Subtle Patterns by <a target="_blank" href="http://atle.co/">Atle Mo</a> - <a href="http://subtlepatterns.com/" target="_blank">http://subtlepatterns.com/</a> - <a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/">License</a> </li>
</ul>
<h4 id="credits_fonts">Fonts</h4>
<ul>
	<li>Font Awesome by <a target="_blank" href="http://twitter.com/davegandy">Dave Gandy</a> - <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/">http://fortawesome.github.io/Font-Awesome/</a> - <a target="_blank" href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">License</a></li>
	<li>Fontello <a target="_blank" href="https://github.com/fontello/fontello#authors">Authors</a> - <a target="_blank" href="http://fontello.com/">http://fontello.com/</a> - <a target="_blank" href="https://github.com/fontello/fontello/blob/master/LICENSE">License</a></li>
	<li>Entypo by <a target="_blank" href="http://danielbruce.se/">Daniel Bruce</a> and <a href="http://blomback.se/">Andreas Blombäck</a> - <a target="_blank" href="http://www.entypo.com/">http://www.entypo.com/</a> - <a target="_blank" href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">License</a></li>
	<li>Typicons by Stephen Hutchings - <a target="_blank" href="http://typicons.com/">http://typicons.com/</a> - <a target="_blank" href="http://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web">License</a></li>
	<li>
		Google Fonts - <a target="_blank" href="https://www.google.com/fonts">http://www.google.com/fonts</a></li>
</ul>
<h4 id="credits_resources">Resources</h4>
<ul>
	<li>
		Bootstrap Framework by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a> - <a href="http://getbootstrap.com/" target="_blank">http://getbootstrap.com/</a> - <a target="_blank" href="https://github.com/twbs/bootstrap/blob/master/LICENSE">License</a></li>
	<li>
		Jasny Bootstrap by <a href="https://twitter.com/ArnoldDaniels" target="_blank">Arnold Daniels</a> - <a href="http://jasny.github.io/bootstrap/" target="_blank">http://jasny.github.io/bootstrap/</a> - <a target="_blank" href="https://github.com/jasny/bootstrap/blob/master/LICENSE">License</a></li>
	<li>
		Bootstrap Notify by Mouse0270 aka Robert McIntosh - <a href="https://github.com/mouse0270/bootstrap-growl" target="_blank">https://github.com/mouse0270/bootstrap-growl</a> - <a target="_blank" href="https://github.com/mouse0270/bootstrap-notify#copyright-and-license">License</a></li>
	<li>
		jQuery -&nbsp;<a href="https://jquery.org/" target="_blank">https://jquery.org/</a> - <a target="_blank" href="https://jquery.org/license/">License</a></li>
	<li>
		Chart.js - by <a target="_blank" href="http://www.nickdownie.com/">Nick Downie</a> - <a href="http://chartjs.org/" target="_blank">http://chartjs.org/</a> - <a target="_blank" href="https://github.com/nnnick/Chart.js/blob/master/LICENSE.md">License</a></li>
	<li>
		Morphext - by <a target="_blank" href="https://www.fyianlai.com/">Ian Lai</a> - <a href="http://morphext.fyianlai.com/" target="_blank">http://morphext.fyianlai.com/</a> - <a target="_blank" href="http://ian.mit-license.org/">License</a></li>
	<li>
		jQuery Countdown to by <a target="_blank" href="http://keith-wood.name/index.html">Keith Wood</a> - <a href="http://keith-wood.name/countdown.html" target="_blank">http://keith-wood.name/countdown.html</a> - <a href="http://keith-wood.name/licence.html" target="_blank">License</a></li>
	<li>
		jQuery Count to by <a target="_blank" href="http://www.matthuggins.com">Matt Huggins</a> - <a href="https://github.com/mhuggins/jquery-countTo" target="_blank">https://github.com/mhuggins/jquery-countTo</a> - <a href="https://github.com/mhuggins/jquery-countTo/blob/master/LICENSE.txt" target="_blank">License</a></li>
	<li>
		jQuery Knob to by <a target="_blank" href="https://github.com/aterrien">Anthony Terrien</a> - <a href="https://github.com/aterrien/jQuery-Knob" target="_blank">https://github.com/aterrien/jQuery-Knob</a> - <a href="https://github.com/aterrien/jQuery-Knob/blob/master/LICENSE" target="_blank">License</a></li>
	<li>
		jQuery Validate by Jörn Zaefferer - <a href="http://jqueryvalidation.org/" target="_blank">http://jqueryvalidation.org/</a> - <a href="https://github.com/jzaefferer/jquery-validation/blob/master/README.md#license" target="_blank">License</a></li>
	<li>
		jQuery Magnific popup by <a href="http://dimsemenov.com" target="_blank">Dmitry Semenov</a> - <a href="http://dimsemenov.com/plugins/magnific-popup/" target="_blank">http://dimsemenov.com/plugins/magnific-popup/</a> - <a target="_blank" href="https://github.com/dimsemenov/Magnific-Popup/blob/master/LICENSE">License</a></li>
	<li>
		Vide by Ilya Makarov - <a href="http://vodkabears.github.io/vide/" target="_blank">http://vodkabears.github.io/vide/</a> - <a target="_blank" href="https://github.com/VodkaBears/Vide#license">License</a></li>
	<li>
		Slider Revolution by <a href="http://codecanyon.net/user/themepunch?WT.ac=item_profile_text&WT.z_author=themepunch" target="_blank">Themepunch</a> - <a href="http://themes.themepunch.com/?theme=revolution_jq" target="_blank">http://themes.themepunch.com/?theme=revolution_jq</a>
	<li>
		Owl carousel by Bartosz Wojciechowski - <a href="http://owlgraphic.com/owlcarousel/" target="_blank">http://owlgraphic.com/owlcarousel/</a> - <a href="https://github.com/OwlFonk/OwlCarousel/blob/master/LICENSE" target="_blank">License</a></li>
	<li>
		jQuery Parallax by <a href="http://www.ianlunn.co.uk/" target="_blank">Ian Lunn</a> - <a target="_blank" href="http://www.ianlunn.co.uk/plugins/jquery-parallax/">http://www.ianlunn.co.uk/plugins/jquery-parallax/</a> - <a target="_blank" href="https://github.com/IanLunn/jQuery-Parallax#jquery-parallax">License</a></li>
	<li>
		Waypoints by <a href="http://imakewebthings.com/" target="_blank">Caleb Troughton</a> - <a href="http://imakewebthings.com/waypoints/" target="_blank">http://imakewebthings.com/waypoints/</a> - <a href="https://github.com/imakewebthings/waypoints/blob/master/licenses.txt" target="_blank">License</a></li>
	<li>
		jQuery Browser by <a href="https://github.com/gabceb" target="_blank">Gabriel Cebrian</a> - <a href="https://github.com/gabceb/jquery-browser-plugin" target="_blank">https://github.com/gabceb/jquery-browser-plugin</a> - <a href="https://github.com/gabceb/jquery-browser-plugin/blob/master/MIT-LICENSE.txt" target="_blank">License</a></li>
	<li>
		SmoothScroll.js by <a href="https://gist.github.com/galambalazs" target="_blank">Balazs Galambosi</a> - <a href="https://gist.github.com/galambalazs/6477177" target="_blank">https://gist.github.com/galambalazs/6477177</a> - <a href="http://opensource.org/licenses/MIT" target="_blank">License</a></li>
	<li>
		Modernizr&nbsp;-&nbsp;<a href="http://modernizr.com/">http://modernizr.com/</a> - <a href="https://github.com/Modernizr/Modernizr/blob/master/LICENSE">License</a></li>
	<li>
		Pace by <a href="http://product.hubspot.com/" target="_blank">Hubspot</a>&nbsp;-&nbsp;<a href="http://github.hubspot.com/pace/docs/welcome/">http://github.hubspot.com/pace/docs/welcome/</a> - <a href="https://github.com/HubSpot/pace/blob/master/LICENSE">License</a></li>
	<li>
		Fullpage by <a href="http://www.alvarotrigo.com" target="_blank">Alvaro Trigo</a>&nbsp;-&nbsp;<a href="https://github.com/alvarotrigo/fullPage.js">https://github.com/alvarotrigo/fullPage.js</a> - <a href="https://github.com/alvarotrigo/fullPage.js#license">License</a></li>
	<li>
		Animate CSS by <a href="http://daneden.me/">Daniel T. Eden</a> - <a href="http://daneden.github.io/animate.css/" target="_blank">http://daneden.github.io/animate.css/</a> - <a href="https://github.com/daneden/animate.css#license">License</a></li>
	<li>
		Hover CSS by <a href="http://ianlunn.co.uk/">Ian Lunn</a> - <a href="https://github.com/IanLunn/Hover" target="_blank">https://github.com/IanLunn/Hover</a> - <a href="https://github.com/IanLunn/Hover#license">License</a></li>
	<li>
		Isotope Jquery plugin by <a target="_blank" href="http://metafizzy.co/">metafizzy.co</a> - <a href="http://isotope.metafizzy.co/" target="_blank">http://isotope.metafizzy.co</a> - <a target="_blank" href="http://isotope.metafizzy.co/license.html#commercial-licensing">License</a> A license to use the included Isotope v2 Library is provided, as part of our Developer License scheme for the plugin. As clarified in the license scheme possessed by htmlcoder.me: "<strong>Users do not need to purchase their own commercial license for the software, so long as they are not acting as Developers, developing their own commercial applications with the Software.</strong>"</li>
</ul>
</section>
<section id="license">
	<div class="page-header"><h3>License</h3><hr class="notop"></div>
<a href="http://support.wrapbootstrap.com/knowledge_base/topics/usage-licenses" target="_blank">License of The Project</a> (HTML files, css folder (except animate.css file), css/skins folder, js folder, php folder etc)
<p>Third party code, that contained into plugins folder or into other folders, is licensed under its own license.</p>
</section>
<section id="license-2">
	<div class="page-header"><h3>End of Documentation</h3><hr class="notop"></div>
	<p style="font-size:16px;">Thank you very much for purchasing the Project template and for reading this documentation :-)</p>
</section>
	</div>
</body>
</html>
