{% extends "client/app_layout.html" %}
{% block body %}
    <style>
        #faults_ok i.fa {
            font-size: 100px;
            text-align: center;
        }

        #faults_ok {
            border: none;
            text-align: center;
            padding: 50px;
            margin-bottom: 30px;
        }

        #HW_badge_cont {
            position: absolute !important;
            top:0 !important;
        }
    </style>
{#    <body class="no-trans front-page transparent-header gradient-background-header">#}

    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <div class="page-wrapper">
        <div id="page-start"></div>
        <!-- section start -->
        <section class="pv-30 dark-bg" style="background: url(/static/images/pattern-5.png);padding-top: 58px;">
            <div id="tour_guide">
                <a href="javascript:void(0);" onclick="javascript:startTour();" class="btn btn-default pull-right animated fadeInRight" data-animation-effect="fadeInRight" data-effect-delay="5000" style="margin-right: 30px;"><img
                        src="/static/images/icons/guide.png" alt="" width="20px" style="display:inline-block;margin-right: 3px;"><span id="tour_txt">Start a Tour</span></a>
            </div>
            <div class="container pv-20">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">
                            Welcome to your Dashboard, {{ client.name }}
                        </h2>
                        <div class="separator"></div>
                        <p class="large text-center">Navigate to the available services below</p>
                    </div>
                </div>
                <div class="row">
                    <div class="service_tiles pv-20 service-nav-tiles">
                        <div class="tab-content clear-style" data-step="10" data-intro="Navigate to View and Manage Operations">
                            <div class="tab-pane active menu_tiles service-menu-tile" id="{{ current_service.code }}">
                                {% include 'partials/pages/navigations.html' %}
                            </div>
                            {% for current_service in filtered_services %}
                                <div class="tab-pane fade menu_tiles service-menu-tile" id="{{ current_service.code }}">
                                    {% include 'partials/pages/navigations.html' %}
                                </div>
                            {% endfor %}
                        </div>
                        <ul class="description_tile service-map nav nav-pills nav-stacked" role="tablist" data-step="9" data-intro="Select from the List of Subscribed Services">
                            <li class="active">
                                <a href="#{{ current_service.code }}" class="no-after" role="tab" data-toggle="tab"
                                   title="{{ current_service.name }}">
                                    <div class="clearfix service-section">
                                        <div class="tile service-tile">
                                            <p class="service-group">
                                                <span><i class="fa {{ current_service.icon_class }}"></i></span>
                                            </p>
                                        </div>
                                        <div class="service-description-block">
                                            <p class="service-tab-name">{{ current_service.name }}</p>

                                            <p class="service-subtitle">{{ current_service.description }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% for _serve in filtered_services if _serve.is_active %}
                                <li>
                                    <a href="#{{ _serve.code }}" class="no-after" role="tab" data-toggle="tab"
                                       title="{{ _serve.name }}">
                                        <div class="clearfix service-section">
                                            <div class="tile service-tile">
                                                <p class="service-group" data-filter=".{{ _serve.code }}">
                                                    <span><i class="fa {{ _serve.icon_class }}"></i></span>
                                                </p>
                                            </div>
                                            <div class="service-description-block">
                                                <p class="service-tab-name">{{ _serve.name }}</p>

                                                <p class="service-subtitle">{{ _serve.description }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->
        <section class="pv-30 light-gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" data-step="11" data-intro="Lookout for Real-time Fault Notifications across all services. {% if faults.total >0 %}{{ faults.total }} Faults found{% else %}No Faults at the moment{% endif %}">
                        {% if faults.total > 0 %}
                            <div class="pv-30 ph-20 boxed shadow object-non-visible"
                                 data-animation-effect="fadeInDownSmall"
                                 data-effect-delay="200">
                                <div class="body ph-20">
                                    <h4 class="title">Alerts</h4>
                                    <div class="table" style="margin-bottom: 0;">
                                        <div class="thead tr">
                                            <span class="td"></span>
                                            <span class="td">device</span>
                                            <span class="td">level</span>
                                            <span class="td">date</span>
                                        </div>
                                        {% for fault in faults.items %}
                                            <div class="tr">
                                                <span class="td">
                                                    {{ fault.body }}
                                                </span>
                                                <span class="td">{{ fault.device }}</span>
                                                <span class="td">{{ fault.level }}</span>
                                                <span class="td center">
                                                    {{ fault.timestamp.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="body ph-20">
                                <div class="table" style="margin-bottom: 0;" id="faults_ok">
                                    <i class="fa fa-thumbs-up"></i>
                                    <h3 class="text-center">Everything is OK!</h3>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{#    </body>#}
{% endblock %}
{% block page_js %}
{#    <script>#}
{#    document.addEventListener("DOMContentLoaded", function() {#}
{#  introJs().start();#}
{#});#}
{#    </script>#}
{% endblock page_js %}

