{% extends "client/info_layout.html" %}
{% block body %}
    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">


        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->

    <div id="page-start"></div>

    <!-- section -->
    <!-- ================ -->
    <section class="pv-30 mt-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Services</h2>
                    <div class="separator"></div>
                    <!-- <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
                        <div class="body">
                            <h4 class="title">Clean Code &amp; Design</h4>
                            <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor
                                consectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                        <span class="icon without-bg"><i class="fa fa-connectdevelop"></i></span>
                        <div class="body">
                            <h4 class="title">Extremely Flexible</h4>
                            <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor
                                sit amet, consectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon without-bg"><i class="icon-snow"></i></span>
                        <div class="body">
                            <h4 class="title">Latest Technologies</h4>
                            <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit
                                amet, consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="250">
                        <span class="icon without-bg"><i class="icon-megaphone"></i></span>
                        <div class="body">
                            <h4 class="title">Easy to Use</h4>
                            <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor
                                consectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon without-bg"><i class="fa fa-arrows"></i></span>
                        <div class="body">
                            <h4 class="title">Responsive Design</h4>
                            <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor
                                sit amet, consectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="350">
                        <span class="icon without-bg"><i class="icon-star-empty"></i></span>
                        <div class="body">
                            <h4 class="title">Deticated Support</h4>
                            <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit
                                amet, consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section default-bg clearfix padding-ver-clear">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 padding-bottom-clear pv-30">
                    <a style="text-decoration: none !important; background: none" href="{{ url_for('.smart_grid') }}">
                        <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                             data-effect-delay="25">
                            <span class="icon without-bg"><i class="fa fa-lightbulb-o"></i></span>
                            <div class="body">
                                <h4 class="title">Smart Grid</h4>
                                <p>Monitor the complex electrical grids in real time from the point of generation to
                                    consumption</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 padding-bottom-clear pv-30" style="background-color: rgba(245, 245, 245, 0.61);">
                    <a style="text-decoration: none !important; background: none" href="{{ url_for('.mobile_asset') }}">
                        <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                             data-effect-delay="50">
                            <span class="icon without-bg" style="color: black !important"><i
                                    class="fa fa-truck"></i></span>
                            <div class="body" style="color: black !important">
                                <h4 class="title" style="color: black !important">Mobile Asset Tracking</h4>
                                <p>Monitor the health of mobile assets in real time. View critical asset parameters on
                                    customizable dashboards</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 padding-bottom-clear pv-30">
                    <a style="text-decoration: none !important; background: none"
                       href="{{ url_for('.remote_monitoring') }}">
                        <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                             data-effect-delay="75">
                            <span class="icon without-bg"><i class="fa fa-video-camera"></i></span>
                            <div class="body">
                                <h4 class="title">Remote Monitoring & Surveillance</h4>
                                <p>Remotely monitor mission-critical plants and equipment, assets securely.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->


{% endblock body %}
