{% extends "client/info_layout.html" %}
{% block header %}
{% endblock header %}
{% block body %}
<div id="banner" class="banner clearfix">
		<div class="slideshow">
		</div>
</div>
<div id="page-start"></div>
<section class="clearfix pv-20 light-gray-bg">
		<div class="container mb-20">
				<div class="row">
					<div class="col-md-12 notification-box">
						<div class="col-md-6 col-md-offset-3">
							<img src="/static/images/atele_logo.png" alt="" />
							<div class="msg-box">
								<h3>Welcome to Atele</h3>
								<div class="imp-msg">
									<span>Your account has been successfully created and we have sent you an activation email. Please click the link in the email to activate your account.</span>
								</div>
								<div class="separator"></div>
								<div>
									<span>If you are just registering, please remember to setup your sevice subscriptions. For tutorials and assistant on doing so, please contact the support team or the Administrator.</span>
								</div>
								<div class="separator"></div>
								<div class="">
									<a class="btn btn-default" href="{{url_for('.onboarding')}}">Take me to service setup</a>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
</section>
{% endblock body %}
{% block footer %}
	<footer id="footer" class="clearfix dark">
			<div class="footer">
					<div class="container">
							<div class="footer-inner">
									<div class="row">
											<div class="col-md-6 col-md-offset-3">
													<div class="footer-content text-center padding-ver-clear">
															<p class="text-center margin-clear">Copyright © {{ today.strftime("%Y") }} by <a
																			href="/">Atele</a>. All Rights Reserved</p>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</footer>
{% endblock footer %}
