{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12">  
  <div class="container-fluid tab-pane" id="chartjs">
    <div class="row">

      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            Pageviews by browser (past 24 hours)
          </div>
          <div class="chart-stage">
            
            <div class="row">
              <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                  <div class="box1">
                      <span class="li_heart"></span>
                      <h3>933</h3>
                  </div>
                      <p>933 People liked your page the last 24hs. Whoohoo!</p>
              </div>
              <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
                      <span class="li_cloud"></span>
                      <h3>+48</h3>
                  </div>
                      <p>48 New files were added in your cloud storage.</p>
              </div>
              <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
                      <span class="li_stack"></span>
                      <h3>23</h3>
                  </div>
                      <p>You have 23 unread messages in your inbox.</p>
              </div>
              <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
                      <span class="li_news"></span>
                      <h3>+10</h3>
                  </div>
                      <p>More than 10 news were added in your reader.</p>
              </div>
              <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
                      <span class="li_data"></span>
                      <h3>OK!</h3>
                  </div>
                      <p>Your server is working perfectly. Relax & enjoy.</p>
              </div>
          
            </div>
          </div>
          <div class="chart-notes">
            This is a sample text region to describe this chart.
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Pageviews by browser (past 5 days)
          </div>
          <div class="chart-stage">
            <canvas id="line" height="300" width="400"></canvas>
          </div>
          <div class="chart-notes">
            Notes go down here
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Impressions by advertiser
          </div>
          <div class="chart-stage">
            <canvas id="radar" height="300" width="400"></canvas>
          </div>
          <div class="chart-notes">
            Notes go down here
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Impressions by device
          </div>
          <div class="chart-stage">
            <canvas id="polarArea" height="300" width="400"></canvas>
          </div>
          <div class="chart-notes">
            Notes go down here
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Impressions by country
          </div>
          <div class="chart-stage">
            <canvas id="bar" height="300" width="400"></canvas>
          </div>
          <div class="chart-notes">
            Notes go down here
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <canvas id="pie" height="300" width="400"></canvas>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <canvas id="doughnut" height="300" width="400"></canvas>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock body%}