{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12">  
  <div class="container-fluid tab-pane" id="chartjs">

      <div class="row">
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Cell Title
                </div>
                <div class="chart-stage">
                  <canvas id="doughnut" height="300" width="400"></canvas>
                </div>
                <div class="chart-notes">
                  Notes about this chart
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Cell Title
                </div>
                <div class="chart-stage">
                  <canvas id="line" height="300" width="400"></canvas>
                </div>
                <div class="chart-notes">
                  Notes about this chart
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Cell Title
            </div>
            <div class="chart-stage">
              <canvas id="radar" height="300" width="400"></canvas>
            </div>
            <div class="chart-notes">
              Notes about this chart
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Cell Title
                </div>
                <div class="chart-stage">
                  <canvas id="polarArea" height="300" width="400"></canvas>
                </div>
                <div class="chart-notes">
                  Notes about this chart
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Cell Title
                </div>
                <div class="chart-stage">
                  <canvas id="bar" height="300" width="400"></canvas>
                </div>
                <div class="chart-notes">
                  Notes about this chart
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Cell Title
            </div>
            <div class="chart-stage">
              <canvas id="pie" height="300" width="400"></canvas>
            </div>
            <div class="chart-notes">
              Notes about this chart
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Cell Title
            </div>
            <div class="chart-stage">
              <img data-src="holder.js/100%x120/white">
            </div>
            <div class="chart-notes">
              Notes about this chart
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Cell Title
            </div>
            <div class="chart-stage">
              <img data-src="holder.js/100%x120/white">
            </div>
            <div class="chart-notes">
              Notes about this chart
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Cell Title
            </div>
            <div class="chart-stage">
              <img data-src="holder.js/100%x120/white">
            </div>
            <div class="chart-notes">
              Notes about this chart
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Cell Title
            </div>
            <div class="chart-stage">
              <img data-src="holder.js/100%x120/white">
            </div>
            <div class="chart-notes">
              Notes about this chart
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Cell Title
            </div>
            <div class="chart-stage">
              <img data-src="holder.js/100%x120/white">
            </div>
            <div class="chart-notes">
              Notes about this chart
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
{% endblock body%}