{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12"> 
  <div class="container-fluid tab-pane" id="chartjs">

    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <ul class="row">
              <li >
                  <div class="box1">
                      <span class="li_heart"></span>
                      <h3>933</h3>
                  </div>
                      <p>933 People liked your page the last 24hs. Whoohoo!</p>
              </li>
              <li >
                  <div class="box1">
                      <span class="li_cloud"></span>
                      <h3>+48</h3>
                  </div>
                      <p>48 New files were added in your cloud storage.</p>
              </li>
              <li >
                  <div class="box1">
                      <span class="li_stack"></span>
                      <h3>23</h3>
                  </div>
                      <p>You have 23 unread messages in your inbox.</p>
              </li>
              <li>
                  <div class="box1">
                      <span class="li_news"></span>
                      <h3>+10</h3>
                  </div>
                      <p>More than 10 news were added in your reader.</p>
              </li>
              <li >
                  <div class="box1">
                      <span class="li_data"></span>
                      <h3>OK!</h3>
                  </div>
                      <p>Your server is working perfectly. Relax & enjoy.</p>
              </li>
          
            </ul>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <div class="custom-bar-chart">
                    <ul class="y-axis">
                        <li><span>10.000</span></li>
                        <li><span>8.000</span></li>
                        <li><span>6.000</span></li>
                        <li><span>4.000</span></li>
                        <li><span>2.000</span></li>
                        <li><span>0</span></li>
                    </ul>
                    <div class="bar">
                        <div class="title">JAN</div>
                        <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
                    </div>
                    <div class="bar ">
                        <div class="title">FEB</div>
                        <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
                    </div>
                    <div class="bar ">
                        <div class="title">MAR</div>
                        <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
                    </div>
                    <div class="bar ">
                        <div class="title">APR</div>
                        <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
                    </div>
                    <div class="bar">
                        <div class="title">MAY</div>
                        <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
                    </div>
                    <div class="bar ">
                        <div class="title">JUN</div>
                        <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
                    </div>
                    <div class="bar">
                        <div class="title">JUL</div>
                        <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
                    </div>
                </div>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <canvas id="radar" height="300" width="400"></canvas>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <canvas id="polarArea" height="300" width="400"></canvas>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <canvas id="bar" height="300" width="400"></canvas>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <canvas id="pie" height="300" width="400"></canvas>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <canvas id="doughnut" height="300" width="400"></canvas>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <canvas id="line" height="300" width="400"></canvas>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}