{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12 mb">
	<div class="pg_head">
		<h2>
	  	{{page_title}}
	  </h2>
	  <div class="separator"></div>
	  <h5>
	  	<a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-angle-left"> Back</i></a>
	  </h5>
	  
	</div>
  
  <form name="form" enctype="multipart/form-data" method="post" action="">
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <input placeholder="placeholder" type="text" class="form-control">
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <input placeholder="placeholder" type="text" class="form-control">
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <input placeholder="placeholder" type="text" class="form-control">
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <input placeholder="placeholder" type="text" class="form-control">
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <input placeholder="placeholder" type="text" class="form-control">
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <input placeholder="placeholder" type="text" class="form-control" disabled>
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <input placeholder="placeholder" type="text" class="form-control">
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Help text</label>
            <input placeholder="placeholder" type="text" class="form-control">
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Select</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Multi Select</label>
            <select multiple class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-12">
          <label class="control-label">Static</label>
          <p class="form-control-static">email@example.com</p>
        </div>
      </div>
      <div class="form-group fl_right">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success">Submmit <i class="fa fa-thumbs-up"></i></button>
        </div>
      </div>
      
  </form>
</div>
{% endblock body%}