{% extends "admin/layout.html" %}
{% block body%}
<div class="col-lg-12">
	<div class="pg_head">
		<div class="btn-group fl_right">
		  <a href="" type="button" class="btn btn-default">Left</a>
		  <a href="" type="button" class="btn btn-default">Middle</a>
		  <a href="" type="button" class="btn btn-default">Right</a>
		</div>
		<h2>
	  	{{page_title}}
	  </h2>
	  <div class="separator"></div>
	  <h5>
	  	<a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-angle-left"> Back</i></a>
	  </h5>
	  
	</div>
  
  <section id="no-more-tables">
      <table class="table table-striped table-condensed table-advance table-hover cf">
          <thead class="cf">
          <tr>
              <th>Code</th>
              <th>Company</th>
              <th class="numeric">Price</th>
              <th class="numeric">Change</th>
              <th class="numeric">Change %</th>
              <th class="numeric">Open</th>
              <th class="numeric">High</th>
              <th class="numeric">Low</th>
              <th class="numeric">Volume</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td data-title="Code">AAC</td>
              <td data-title="Company">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
              <td class="numeric" data-title="Price">$1.38</td>
              <td class="numeric" data-title="Change">-0.01</td>
              <td class="numeric" data-title="Change %">-0.36%</td>
              <td class="numeric" data-title="Open">$1.39</td>
              <td class="numeric" data-title="High">$1.39</td>
              <td class="numeric" data-title="Low">$1.38</td>
              <td class="numeric" data-title="Volume">9,395</td>
              <td data-title="Actions">
                  <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
              </td>
          </tr>
          <tr>
              <td data-title="Code">AAD</td>
              <td data-title="Company">ARDENT LEISURE GROUP</td>
              <td class="numeric" data-title="Price">$1.15</td>
              <td class="numeric" data-title="Change">  +0.02</td>
              <td class="numeric" data-title="Change %">1.32%</td>
              <td class="numeric" data-title="Open">$1.14</td>
              <td class="numeric" data-title="High">$1.15</td>
              <td class="numeric" data-title="Low">$1.13</td>
              <td class="numeric" data-title="Volume">56,431</td>
              <td>
                  <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
              </td>
          </tr>
          <tr>
              <td data-title="Code">AAX</td>
              <td data-title="Company">AUSENCO LIMITED</td>
              <td class="numeric" data-title="Price">$4.00</td>
              <td class="numeric" data-title="Change">-0.04</td>
              <td class="numeric" data-title="Change %">-0.99%</td>
              <td class="numeric" data-title="Open">$4.01</td>
              <td class="numeric" data-title="High">$4.05</td>
              <td class="numeric" data-title="Low">$4.00</td>
              <td class="numeric" data-title="Volume">90,641</td>
              <td>
                  <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
              </td>
          </tr>
          <tr>
              <td data-title="Code">ABC</td>
              <td data-title="Company">ADELAIDE BRIGHTON LIMITED</td>
              <td class="numeric" data-title="Price">$3.00</td>
              <td class="numeric" data-title="Change">  +0.06</td>
              <td class="numeric" data-title="Change %">2.04%</td>
              <td class="numeric" data-title="Open">$2.98</td>
              <td class="numeric" data-title="High">$3.00</td>
              <td class="numeric" data-title="Low">$2.96</td>
              <td class="numeric" data-title="Volume">862,518</td>
              <td>
                <a href="" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                <a href="" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
              </td>
          </tr>
          
          </tbody>
      </table>
  </section>
  <section class="empty-box">
    <h4>There are currently no ..... available yet
    </h4>
  </section>

  <div class="div mt">
  	<div class="btn-group fl_right">
  		<a href="" type="button" class="btn btn-default">< Prev</a>
		  <a href="" type="button" class="btn btn-default">1</a>
		  <a href="" type="button" class="btn btn-default">2</a>
		  <a href="" type="button" class="btn btn-default">3</a>
		  <a href="" type="button" class="btn btn-default">4</a>
		  <a href="" type="button" class="btn btn-default">5</a>
		  <a href="" type="button" class="btn btn-default">Next ></a>
		</div>
  </div>

</div>
{% endblock body%}