{% extends "email/layout.html" %}
{% block header_ext %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
           style="border-collapse: collapse;">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213" src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png"
                     alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">Password Reset</span><br><br>
                A password reset action has been initiated on your account. To complete the process please proceed by clicking the button below.
                <br>
                <br>
                <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                    <a href="https://atele.org/"
                       style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Reset Password</a>
                    <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                </div>
            </td>
        </tr>
    </table>
{% endblock header_ext %}

{% block body %}
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            <small>If the request wasn't made by you kindly disregard and if notice any break into your account, Please contact administrator.</small><br><br>
                            {% if user %}
                            Last Login Date: <a href="#">{{ user.last_login_at.strftime('%b %d, %Y %H:%m %p') }}</a> <br>
                            Last Login IP: <a href="#">{{ user.last_login_ip }}</a> <br><br>
                            {% elif customer %}
                            Last Login Date: <a href="#">{{ customer.last_login_at.strftime('%b %d, %Y %H:%m %p') }}</a> <br>
                            Last Login IP: <a href="#">{{ customer.last_login_ip }}</a> <br><br>
                            {% endif %}
                            Sincerely,<br>
                            Your Awesome Team
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}