{% extends "email/layout.html" %}
{% block header_ext %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
           style="border-collapse: collapse;">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213"
                     src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">Thank you for your business!</span><br><br>
                Please review your invoice below or view your account by clicking the button below.
                <br>
                <br>
                <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                    <a href="https://atele.org/"
                       style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">My
                        Account</a>
                    <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                </div>
                <br>
            </td>
        </tr>
    </table>
{% endblock header_ext %}
{% block body %}
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td class="mobile-block" width="285" style="width: 285px; vertical-align:top;">
                <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td>
                            <span class="header">Invoice: 12345</span><br>
                            June 2, 2014 <br><br>
                            <span class="header">Bob Erlicious</span> <br>
                            123 Bobby Drive <br>
                            Victoria, BC <br>
                            V9A 8P8 <br>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="mobile-block" width="285" style="width: 285px;">
                <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td class="grey-header">
                                        Plan
                                    </td>
                                </tr>
                                <tr>
                                    <td class="white-header">
                                        Gold Status
                                    </td>
                                </tr>
                            </table>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td class="grey-header">
                                        Period
                                    </td>
                                </tr>
                                <tr>
                                    <td class="white-header">
                                        May - June 2014
                                    </td>
                                </tr>
                            </table>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td class="grey-header">
                                        Amount
                                    </td>
                                </tr>
                                <tr>
                                    <td class="white-header">
                                        $39.99
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Space -->
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
        </tr>
    </table>
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td>
                The amount of <b>$50.00 CAD</b> has been charged on the credit card ending with 0123. Please feel free
                to <a href="#">contact us</a> with any questions regarding this invoice.<br><br>
                Sincerely,<br>
                Awesome Inc
            </td>
        </tr>
    </table>
{% endblock body %}
