{% extends "email/layout.html" %}
{% block header_ext %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
           style="border-collapse: collapse;">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213"
                     src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">Time for an upgrade?</span><br><br>
                By upgrading to a full account you'll be able to enjoy unlimited downloads and no waiting times!
                <br>
                <br>
                <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                    <a href="https://atele.org/"
                       style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Upgrade
                        now!</a>
                    <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                </div>
                <br>
            </td>
        </tr>
    </table>
{% endblock header_ext %}
{% block body %}
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            <span class="header">Upgrade now and receive a 20% discount!</span><br>
                            Discount Code: <span style="color:#FE6F06;"> 45A9E77DGW8455</span>
                        </td>
                        <td>
                            <img width="84" height="82" src="https://www.filepicker.io/api/file/zef0p13mRmKdcOhbUVZ4"
                                 alt="dollar symbol">
                        </td>
                    </tr>
                </table>

                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            <br><br>
                            <span class="header">Find out what your missing!</span> <br>
                            You'll be the first to hear about new arrivals, exclusive promotionas, cool collaborations,
                            and the latest in everything.<br>
                            <br>
                            Sincerely,<br>
                            Awesome Inc
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}